#pardot-form {
    font-family: CircularStd;
  }
  #pardot-form > div {
    font-size: 14px;
    line-height: 26px;
    color: #757575;
  }
  #pardot-form input[type=text], #pardot-form select, #pardot-form textarea {
    width: 100%;
    height: 50px;
    background-color: #f5f6fa;
    border: 0;
    border-radius: 25px;
    padding: 5px 20px;
  }
  #pardot-form input[type=text]:focus, #pardot-form select:focus, #pardot-form textarea:focus {
    outline: none;
  }
  #pardot-form textarea {
    min-height: 115px;
  }
  #pardot-form input[type=submit] {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #1f90ff;
    border: 0;
    border-radius: 25px;
    padding: 12px 20px;
  }
  #pardot-form input[type=submit]:focus {
    outline: none;
  }
  .promo-primary #pardot-form label {
    display: none;
  }
  .promo-primary #pardot-form > div {
    margin: 20px 0;
  }
  .promo-secondary #pardot-form label {
    display: none;
  }
  .promo-secondary #pardot-form .privacy {
    margin: 20px 0;
  }
  .form-contact #pardot-form label {
    display: block;
  }
  .form-contact #pardot-form .form-field {
    margin-bottom: 15px;
  }
  .form-contact #pardot-form .privacy {
    margin-bottom: 20px;
  }
  .post-form #pardot-form .privacy {
    margin: 20px 0;
  }
  