.accordion-info {
    @include push-auto;
    max-width: 615px;
    margin-bottom: 30px;
    .card {
        background-color: $light;
        border: 0;
        border-radius: 10px !important;
        transition: all .2s;
        &:first-of-type,
        &:last-of-type {
            border-radius: 0;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        // &:hover {
            // box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
        // }
    }
    .card-header {
        background-color: $light;
        border: 0;
        padding: 0;
        h4 {
            font-weight: 400;
            a {
                display: block;
                padding: 12px 50px 13px 25px;
                position: relative;
                &::before {
                    @extend .v-center;
                    content: "\f107";
                    font-family: "FontAwesome";
                    font-size: 25px;
                    right: 24px;
                    color: $black-lighter;
                }
                &[aria-expanded="true"]::before {
                    content: "\f106";
                    color: $blue;
                }
                &:hover,
                &:active {
                    color: $black;
                }
            }
        }
    }
    .card-body {
        padding: 2px 25px 14px;
        > h6 {
            margin: 20px 0 25px;
            font-weight: 400;
            color: $blue;
        }
    }
}

.accordion-list {
    li {
        color: $black;
        padding-left: 30px;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 2px;
        }
        &::before {
            position: absolute;
            content: "\f178";
            font-family: "FontAwesome";
            font-size: 14px;
            color: $blue;
            top: 3px;
            left: 0;
        }
    }
}

/////////////////////////////
// responsive
/////////////////////////////
@media (max-width: 575px) {
    .accordion-info {
        .card:not(:last-child) {
            margin-bottom: 15px;
        }
        .card-header h4 a {
            padding: 12px 40px 13px 15px;
            &::before {
                right: 15px;
            }
        }
    }
}