// cta-box
.cta {
    padding-bottom: 75px;
}
.cta-box {
    padding: 60px 70px;
    border-radius: 20px;
    box-shadow: 14px 20px 54px 0 rgba(133, 143, 175, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.cta-intro {
    max-width: 540px;
    margin-right: 15px;
    h3 {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 10px;
    }
}
.cta-sec {
    text-align: center;
    margin-top: 30px;
    h3 {
        font-weight: 400;
        margin-bottom: 22px;
    }
}
.page-about .cta-sec {
    margin-top: 75px;
}

// section-media-o
// .section-media-o {}
.media-o-item {
    img {
        @include size(100%, auto);
    }
}
.wfm-list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    li {
        font-size: 24px;
        font-weight: 600;
        line-height: 44px;
        text-align: center;
        flex: 0 0 auto;
        width: 33.333%;
        margin-bottom: 20px;
    }
}

/* HOME PAGE */
.page-home {
    .clients {
        .section-intro {
            max-width: 700px;
            h2 {
                font-size: 24px;
                line-height: 36px;
            }
        }
    }
}
.logo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    img {
        max-width: 100px;
    }
}
//----------
.page-home,
.page-chemicals,
.page-food-beverage,
.page-life-sciences,
.page-packaged-goods {
    .logo-list,
    .owl-carousel-logo {
        padding-bottom: 55px;
        border-bottom: 1px solid rgba(28, 28, 28, 0.1);
    }
}


.solution-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.solution-intro {
    max-width: 455px;
    h4 {
        margin-bottom: 16px;
    }
}
.solution-media {
    max-width: 605px;
    text-align: center;
    img {
        @include size(100%, auto);
    }
    .btn {
        margin-top: 30px;
    }
}
.solution-list {
    margin-top: 60px;
    li {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
        .icon {
            @include size-equal(45px);
            @extend .d-inflex-center;
            border-radius: 50%;
            float: left;
            margin-right: 18px;
            img {
                max-width: 18px;
            }
        }
        .content {
            max-width: 340px;
            overflow: hidden;
            margin-left: 18px;
            h5 {
                font-weight: 400;
                margin-bottom: 6px;
                transition: color .2s;
            }
            p {
                font-size: 14px;
                line-height: 22px;
                color: $black-light;
            }
        }
        a {
            display: block;
            &:hover h5,
            &:active h5 {
                color: $blue;
            }
        }
        &:nth-child(1) .icon {
            background-color: rgba($slateblue-light, 0.2);
        }
        &:nth-child(2) .icon {
            background-color: rgba($blue, 0.2);
        }
        &:nth-child(3) .icon {
            background-color: rgba($pink, 0.2);
        }
        &:nth-child(4) .icon {
            background-color: rgba($skyblue, 0.2);
        }
    }
}

// promo
.promo {}
.promo-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
        flex: 0 0 auto;
        width: 100%;
    }
    .promo-media {
        max-width: 565px;
        img {
            @include size(100%, auto);
        }
    }
    .promo-content {
        max-width: 450px;
        > p {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 30px;
        }
    }
    .promo-form {
        iframe {
            min-height: 215px;
        }
    }
}
.promo-secondary {
    .promo-form {
        @include push-auto;
        max-width: 700px;
    }
}


.stats {
    .feat-box i {
        margin-bottom: 25px;
    }
}

// feedback
.feedback {
    overflow: hidden;
}

/* PARTNER PAGE */
.table-pfl {
    border-collapse: separate;
    border-spacing: 0 15px;
    th, td {
        vertical-align: middle !important;
        position: relative;
        &:not(:last-child)::after {
            @extend .v-center;
            @include size(1px, 55px);
            content: "";
            background-color: $pale-white-darker;
            display: inline-block;
            right: 0;
        }
    }
    th {
        font-size: 20px;
        font-weight: 500;
        color: $black;
        padding: 25px;
        text-align: center;
    }
    tbody tr {
        background-color: $light;
        border-radius: 10px;
        box-shadow: 14px 12px 54px 0 rgba(133, 143, 175, 0.1);
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    td {
        padding: 30px;
        color: $black-light;
        &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        &:last-child {
            max-width: 190px;
            text-align: center;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        > span {
            display: block;
            font-weight: 500;
            &.bronze {
                color: $bronze;
            }
            &.gold {
                color: $gold;
            }
            &.silver {
                color: $silver;
            }
        }
    }
}

.pfl-info {
    display: inline-block;
    position: relative;
}
.pfl-box {
    min-width: 400px;
    padding: 15px 20px;
    background-color: $light;
    border-radius: 10px;
    box-shadow: 13px 38px 50px 0 rgba(133, 143, 175, 0.2);
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 9;
    display: none;
    > a {
        position: absolute;
        top: -13px;
        right: -13px;
    }
}
.pfl-info-lists {
    display: flex;
    justify-content: space-between;
}
.pfl-info-list {
    li {
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        white-space: nowrap;
        span {
            color: $black;
            margin-right: 5px;
        }
    }
    &:last-of-type {
        margin-left: 30px;
        li span {
            display: block;
        }
    }
}

// map
.g-map {
    // padding: 75px 0 20px;
}
.map {
    @include size(100%, 660px);
    .gm-style .gm-style-iw-c {
        box-shadow: 13px 38px 50px 0 rgba(133, 143, 175, 0.2);
        border-radius: 10px;
        padding: 0;
        overflow: inherit;
    }
    .gm-style .gm-style-iw-d {
        overflow: auto !important;
    }
    .gm-ui-hover-effect {
        background-color: $blue !important;
        border-radius: 50%;
        opacity: 1;
        top: -10px !important;
        right: -10px !important;
        &::before {
            @extend .vh-center;
            content: "x";
            font-size: 15px;
            font-weight: 500;
            color: $light;
        }
        img {
            display: none !important;
        }
    }
}
#map-single {
    .gm-ui-hover-effect {
        display: none !important;
    }
}

.popup {
    font-family: $circular-std;
    padding: 12px 20px;
    .pfl-info-list {
        margin-left: 0;line-height: 26px;
    }
}
.popup-head {
    padding: 0 0 8px;
    border-bottom: 1px solid $pale-white-darker;
    display: flex;
    justify-content: space-between;
    h5 {
        margin-right: 30px;
        line-height: 24px;
        span {
            font-weight: 400;
            display: block;
            &.silver {
                color: $silver;
            }
            &.bronze {
                color: $bronze;
            }
            &.gold {
                color: $gold;
            }
        }
    }
    .pfl-info-list {
        li {
            line-height: 24px;
        }
    }
}
.popup-body {
    padding: 5px 0 0;
    .pfl-info-list li {
        line-height: 26px;
        span {
            display: inline-block;
        }
    }
}

.popup-addr {
    max-width: 275px;
    h6 {
        margin-bottom: 5px;
    }
    address {
        font-size: 14px;
        margin-bottom: 0;
    }
}

/* TRAINING PAGE */
.training {
    .section-intro h3 {
        font-size: 26px;
        font-weight: 400;
        margin-top: 65px;
    }
}

/* COMPANY PAGE */
.card-page {
    background-color: $light;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
    transition: all .2s;
    .content {
        padding: 25px 20px 30px;
    }
    img {
        @include size(100%, 245px);
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    h4 {
        margin-bottom: 30px;
    }
    .btn {
        min-width: 170px;
    }
    &:hover {
        box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
        .btn {
            background-color: $blue;
            color: $light;
        }
    }
}

.page-nav {
    margin-top: -30px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.page-nav-item {
    margin-top: 30px;
    margin-left: 30px;
    a {
        font-size: 24px;
        color: $black;
        height: 192px;
        padding: 30px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.page-nav-primary .page-nav-item {
    width: calc(33.333% - 30px);
    a {
        border: 1px solid rgba(151, 151, 151, 0.15);
        transition: all .2s;
        &:hover,
        &:active {
            border: 1px solid rgba(151, 151, 151, 0.25);
        }
        img {
            max-width: 190px;
            margin-left: 20px;
        }
    }
}
.page-nav-secondary .page-nav-item {
    width: 420px;
    a {
        position: relative;
        background-color: $light;
        transition: all .3s;
        &:hover,
        &:active {
            box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
        }
        img {
            max-width: 210px;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

/* 404 PAGE */
.error {
    padding: 55px 0 60px;
}
.error-msg {
    text-align: center;
    h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    img {
        @include size(450px, auto);
    }
}

/* SEARCH RESULT PAGE */
.search {
    padding: 40px 0 50px;
}
.search-result {
    > h1 {
        margin-bottom: 30px;
    }
}
.search-list {
    margin-bottom: 30px;
    li {
        a {
            font-size: 20px;
            line-height: 50px;
            color: #4a4a4a;
            transition: all .2s;
            &:hover,
            &:active {
                color: $blue;
            }
        }
    }
}


/////////////////////////////
// responsive
/////////////////////////////
@media (min-width: 576px) {
    .cta-box {
        .btn {
            font-size: 18px;
            padding: 11px 35px;
        }
    }
}

@media (max-width: 1199px) {
    .solution-intro {
        max-width: 415px;
    }
    .solution-media {
        max-width: 475px;
    }

    .promo-primary {
        .promo-media {
            max-width: 485px;
        }
        .promo-content {
            max-width: 415px;
        }
    }

    .card-page {
        img {
            height: 195px;
        }
    }

    .page-nav-item {
        a {
            font-size: 20px;
            padding: 15px 20px;
            height: 160px;
        }
    }
    .page-nav-primary {
        .page-nav-item {
            a {
                img {
                    margin-left: 15px;
                    max-width: 170px;
                }
            }
        }
    }
    .page-nav-secondary {
        .page-nav-item {
            a {
                img {
                    max-width: 175px;
                }
            }
        }
    }

    .wfm-list {
        li {
            font-size: 20px;
            line-height: 36px;
        }
    }
}

@media (max-width: 991px) {
    .logo-list {
        margin-top: -20px;
        margin-left: -20px;
        justify-content: center;
        img {
            margin-top: 20px;
            margin-left: 20px;
        }
    }
    .logo-list,
    .owl-carousel-logo .owl-item {
        img {
            max-width: 85px;
        }
    }

    .solution-content {
        flex-direction: column-reverse;
    }
    .solution-list li .content,
    .solution-intro,
    .solution-media {
        max-width: 100%;
    }
    .solution-media {
        margin-bottom: 50px;
    }

    .promo-primary {
        flex-direction: column;
        .promo-media,
        .promo-content {
            max-width: 100%;
        }
        .promo-content {
            text-align: center;
        }
    }

    .table-pfl {
        th,
        td {
            &:not(:last-child) {
                padding: 15px 20px;
                &::after {
                    height: 45px;
                }
            }
        }
        th {
            font-size: 18px;
        }
    }

    .card-page {
        img {
            height: 220px;
        }
    }

    .page-nav-item {
        a {
            font-size: 18px;
            height: 115px;
        }
    }
    .page-nav-primary {
        .page-nav-item {
            a {
                img {
                    max-width: 100px;
                }
            }
        }
    }
    .page-nav-secondary {
        .page-nav-item {
            width: calc(50% - 30px);
            a {
                img {
                    max-width: 130px;
                }
            }
        }
    }

    .map {
        height: 550px;
    }

    .cta-box {
        padding: 45px;
        justify-content: center;
        .btn {
            margin-top: 25px;
        }
    }
    .cta-intro {
        text-align: center;
        margin-right: 0;
    }

    .wfm-list {
        li {
            line-height: 28px;
        }
    }
}

@media (max-width: 767px) {
    .table-pfl {
        td {
            padding: 10px 15px;
        }
    }

    .card-page {
        img {
            height: 160px;
        }
    }

    .page-nav-item {
        a {
            height: 100px;
        }
    }
    .page-nav-primary {
        .page-nav-item {
            a {
                height: auto;
                flex-direction: column-reverse;
                img {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .page-nav-secondary {
        .page-nav-item {
            a {
                height: auto;
                padding: 10px 20px 15px 20px;
                flex-direction: column-reverse;
                img {
                    position: inherit;
                    max-width: 90px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .map {
        height: 450px;
    }

    .cta-box {
        padding: 30px;
    }

    .wfm-list {
        li {
            width: 50%;
        }
    }
}

@media (max-width: 575px) {
    .logo-list,
    .owl-carousel-logo .owl-item {
        img {
            max-width: 75px;
        }
    }

    .popup-head {
        flex-direction: column;
        h5 {
            margin-right: 0;
        }
    }

    .table-pfl {
        th, td {
            font-size: 14px;
            &:not(:last-child) {
                padding: 15px;
            }
        }
    }
    .pfl-box {
        min-width: 280px;
    }
    .pfl-info-lists {
        flex-direction: column;
    }
    .pfl-info-list {
        &:last-child {
            margin-left: 0;
            li span {
                display: initial;
            }
        }
    }

    .card-page {
        img {
            height: 185px;
        }
    }

    .page-nav {
        flex-direction: column;
        margin-top: -15px;
        margin-left: 0;
    }
    .page-nav-item {
        width: 100% !important;
        margin-top: 15px;
        margin-left: 0;
    }
    .page-nav-primary {
        .page-nav-item {
            a {
                img {
                    margin-left: 0;
                }
            }
        }
    }

    .map {
        height: 400px;
    }

    .cta-box {
        padding: 30px 15px;
    }

    .error-msg {
        img {
            width: 290px;
        }
    }

    .wfm-list li {
        font-size: 16px;
        line-height: 24px;
    }
}