.section-post {
    .page-header {
        padding: 50px 0 20px;
    }
}

.title-bar-post {
    margin-bottom: 30px;
    padding-right: 190px;
    h2 {
        line-height: 50px;
    }
}

.post-box-style {
    background-color: $light;
    border-radius: 10px;
    box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
    &:hover .btn {
        background-color: $blue;
        border-color: $blue;
        color: $light;
    }
}

.post-intro-style {
    h2, p {
        font-size: 20px;
    }
    h2 {
        margin-bottom: 20px;
    }
    p {
        line-height: 1.5;
    }
    .btn {
        margin-top: 35px;
    }
}

.post {
    margin-top: 30px;
    img {
        width: 100%;
        object-fit: cover;
    }
    a:not(.btn) {
        display: block;
        &:hover {
            color: inherit;
        }
    }
    .post-media {
        a {
            position: relative;
        }
        i {
            @extend .vh-center;
            @extend .d-inflex-center;
            @include size-equal(98px);
            background-color: $light;
            border-radius: 50%;
            font-size: 24px;
            color: #4a4a4a;
        }
    }
}

.post-xlg,
.post-lg {
    padding: 55px 0;
}

.post-xlg {
    display: flex;
    flex-direction: column-reverse;
    .post-media {
        img {
            height: 485px;
            border-radius: 10px;
        }
    }
    .post-intro {
        @include push-auto;
        max-width: 900px;
        text-align: center;
        h2 {
            font-weight: 400;
            margin-bottom: 27px;
            @include line-clamp(2, 90px);
            @media (max-width: 575px) {
                @include line-clamp(3, 135px);
            }
        }
        p {
            @include line-clamp(3, 80px);
            margin-bottom: 60px;
        }
    }
}

.post-lg {
    @extend .post-intro-style;
    display: flex;
    align-items: center;
    .post-media {
        flex: 0 0 auto;
        width: 500px;
        img {
            @include size(100%, auto);
            border-radius: 10px;
        }
    }
    .post-intro {
        padding: 0 0 0 30px;
        h2 {
            @include line-clamp(3, 155px);
            font-size: 40px;
        }
        p {
            @include line-clamp(4, 120px);
        }
    }
}

.post-md,
.post-sm,
.post-xs {
    .post-intro {
        padding: 25px 30px 30px;
    }
}

.post-md,
.post-xs {
    .post-media {
        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
}

.post-md {
    @extend .post-box-style;
    @extend .post-intro-style;
    .post-media {
        img {
            height: 330px;
        }
    }
    .post-intro {
        text-align: left;
        h2 {
            @include line-clamp(1, 25px);
            @media (max-width: 575px) {
                @include line-clamp(2, 50px);
            }
        }
        p {
            @include line-clamp(3, 90px);
        }
    }
}

.post-sm {
    @extend .post-box-style;
    @extend .post-intro-style;
    display: flex;
    align-items: center;
    .post-media {
        align-self: stretch;
        flex: 0 0 auto;
        a, img {
            height: 100%;
        }
        img {
            width: 245px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
    .post-intro {
        h2 {
            @include line-clamp(2, 50px);
        }
        p {
            @include line-clamp(5, 150px);
        }
    }
}

.post-xs {
    @extend .post-box-style;
    @extend .post-intro-style;
    .post-media {
        img {
            height: 245px;
        }
    }
    .post-intro {
        text-align: center;
        h2 {
            @include line-clamp(2, 50px);
        }
        p {
            @include line-clamp(5, 150px);
        }
    }
}

.post-sticky {
    padding: 85px 0;
    flex-direction: row-reverse;
    .post-intro {
        padding-left: 0;
        padding-right: 30px;
    }
}

// post-single
.filter {
    border-top: 1px solid $pale-white-darker;
    border-bottom: 1px solid $pale-white-darker;
}
.filter-bar {
    padding: 25px 0;
}
.tags {
    padding: 40px 0;
    display: flex;
    > span {
        font-weight: 500;
        color: $black;
        margin-top: 8px;
        margin-right: 20px;
    }
}
.tag-list {
    @extend .dropdown-style;
    margin-top: -15px;
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > li {
        margin-top: 15px;
        margin-left: 20px;
        > a {
            min-width: 70px;
            font-size: 12px;
            color: $black;
            padding: 10px 15px;
            display: inline-block;
            text-align: center;
            background-color: transparent;
            border: 1px solid $pale-white-darker;
            border-radius: 28px;
            white-space: nowrap;
            transition: all .2s;
            &:hover,
            &:active {
                border-color: darken($pale-white-darker, 5%);
            }
        }
        &.active > a {
            background-color: $blue;
            border-color: $blue;
            color: $light;
        }
    }
    .dropdown {
        > a {
            padding-right: 35px;
        }
        &::after {
            font-size: 18px;
            color: $black;
            top: 7px;
            right: 15px;
        }
    }
}

.post-single {
    // .tag-list {
    //     margin: 25px 0 40px;
    // }
}

.post-breadcrumb {
    margin: 25px 0;
    display: flex;
    align-items: center;
    li {
        position: relative;
        &:not(:last-child) {
            margin-right: 25px;
            &::before {
                position: absolute;
                content: '\f105';
                font-family: "FontAwesome";
                color: $black-light;
                top: 1px;
                right: -15px;
            }
        }
        a {
            font-size: 14px;
            transition: all .2s;
            &:hover,
            &:active {
                color: $black;
            }
        }
        &.active a {
            color: $black;
            pointer-events: none;
        }
    }
}

.post-type-image {
    .post-content {
        max-width: 585px;
    }
}
.post-content {
    iframe, img {
        margin-bottom: 20px;
    }
    iframe {
        height: 620px;
    }
    img {
        @include size(100%, auto);
    }
    h1 {
        font-size: 36px;
        line-height: 1.3;
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 10px;
    }
    ul {
        li {
            line-height: 1.65;
            padding-left: 35px;
            position: relative;
            &::before {
                position: absolute;
                content: "\f178";
                font-family: "FontAwesome";
                font-size: 14px;
                color: $blue;
                top: 3px;
                left: 0;
            }
        }
    }
}

.post-form {
    > h4 {
        margin-bottom: 30px;
    }
    iframe {
        height: 450px;
    }
}

// post-nav
.post-nav {
    margin-top: 7px;
    margin-left: auto;
    display: flex;
    align-self: flex-start;
    a {
        font-size: 16px;
        font-weight: 500;
        color: $black;
        display: inline-flex;
        align-items: center;
        &:not(:last-child) {
            margin-right: 30px;
        }
        i {
            font-size: 20px;
        }
    }
    .prev i {
        margin-right: 10px;
    }
    .next i {
        margin-left: 10px;
    }
}

// pagination
.pagination {
    margin-top: 30px;
    padding: 15px 0;
    justify-content: center;
    .screen-reader-text {
        display: none;
    }
    .nav-links {
        display: flex;
        .page-numbers {
            font-size: 20px;
            line-height: 25px;
            color: $black-lighter;
            padding: 0 7px;
            transition: all .2s;
            &.current {
                color: $blue;
            }
            &:hover,
            &:active {
                color: $blue;
            }
        }
    }
}

/////////////////////////////
// responsive
/////////////////////////////
@media (max-width: 1199px) {
    .post-lg {
        .post-media {
            width: 430px;
        }
        .post-intro {
            h2 {
                font-size: 33px;
            }
        }
    }

    .post-sm {
        .post-media {
            img {
                width: 160px;
            }
        }
    }

    .post-content {
        iframe {
            height: 520px;
        }
    }
}

@media (max-width: 991px) {
    .title-bar-post {
        padding-right: 140px;
    }

    .post-xlg {
        .post-media {
            img {
                height: 400px;
            }
        }
        .post-intro {
            h2 {
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 35px;
            }
        }
    }

    .post-lg {
        flex-direction: column;
        .post-media {
            width: 100%;
            margin-bottom: 25px;
        }
        .post-intro {
            text-align: center;
            padding: 0;
        }
    }

    .post-md {
        .post-media {
            img {
                height: 245px;
            }
        }
        .post-intro {
            text-align: center;
        }
    }

    .post-sm {
        .post-media {
            img {
                width: 200px;
            }
        }
    }

    .post-content {
        iframe {
            height: 385px;
        }
    }
    .post-type-image {
        .post-content {
            max-width: 100%;
        }
    }
    .post-form {
        margin-top: 80px;
    }

    .owl-carousel-post {
        .owl-nav {
            top: -80px;
            button:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

@media (max-width: 767px) {
    .title-bar-post {
        padding-right: 120px;
    }

    .post-xlg {
        .post-media {
            img {
                height: 245px;
            }
        }
    }
    
    .post-sm {
        .post-media {
            img {
                width: 175px;
            }
        }
    }

    .post-content {
        iframe {
            height: 283px;
        }
    }

    .owl-carousel-post {
        .owl-nav {
            top: -75px;
        }
    }
}

@media (max-width: 575px) {
    .title-bar-post {
        padding-right: 0;
        h2 {
            font-size: 30px;
        }
    }

    .post-sm {
        flex-direction: column;
        .post-media {
            img {
                width: 100%;
                border-radius: 10px 10px 0 0;
            }
        }
        .post-intro {
            text-align: center;
        }
    }

    .post-content {
        iframe {
            height: 250px;
        }
    }

    .post-nav a:not(:last-child) {
        margin-right: 20px;
    }

    .owl-carousel-post {
        .owl-nav {
            top: -25px;
        }
    }
}