.owl-fix-overflow {
    .owl-stage-outer {
        overflow: visible;
    }
    .owl-item {
        opacity: 0;
        &.active {
            opacity: 1;
        }
    }
}

.owl-nav-style {
    .owl-nav {
        @include size-equal(0);
        margin: 0;
        [class*=owl-] {
            @extend .d-inflex-center;
            @extend .v-center;
            @include size-equal(60px);
            background-color: $light !important;
            color: $black-light !important;
            box-shadow: 13px 38px 50px 0 rgba(133, 143, 175, 0.2);
            margin: 0;
            border-radius: 50%;
            &:hover {
                background-color: $light;
                color: $black-light;
            }
            i {
                font-size: 20px;
            }
        }
        button.owl-prev {
            left: -30px;
        }
        button.owl-next {
            right: -30px;
        }
        .disabled {
            opacity: 1;
        }
    }
}
.owl-box-style {
    background-color: $light;
    box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
    border-radius: 20px;
}

// owl-carousel-industry
.owl-carousel-industry {
    @extend .owl-nav-style;
    @extend .owl-box-style;
}
.industry-item {
    min-height: 350px;
    display: flex;
    align-items: center;
}
.industry-media {
    position: relative;
    flex: 0 0 auto;
    align-self: stretch;
    span {
        position: absolute;
        content: "";
        border-top: 0 solid transparent;
        border-bottom: 350px solid transparent;
        border-right: 90px solid $light;
        top: 0;
        right: 0;
    }
    img {
        width: 490px !important;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}
.industry-intro {
    padding: 45px 60px 45px 45px;
    h4 {
        margin-bottom: 18px;
    }
    p {
        margin-bottom: 30px;
    }
}

// owl-carousel-promo-vid
.owl-carousel-promo-vid {
    &.owl-theme {
        .owl-dots {
            margin-top: 50px !important;
            .owl-dot {
                span {
                    background-color: $gray;
                    margin: 5px;
                }
                &.active span {
                    background-color: $blue;
                }
            }
        }
    }
}
.promo-vid-item {
    position: relative;
    img {
        @include size(100%, auto);
    }
    a {
        @extend .vh-center;
        @extend .d-inflex-center;
        @include size-equal(144px);
        background-color: $blue;
        border-radius: 50%;
        i {
            font-size: 28px;
            color: $light;
        }
    }
}

// owl-carousel-feedback
.owl-carousel-feedback {
    @extend .owl-nav-style;
    @extend .owl-fix-overflow;
}
.feedback-item {
    @extend .owl-box-style;
    padding: 30px;
    transition: all .2s;
    p {
        margin-bottom: 24px;
    }
}
.feedback-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
        span {
            display: block;
            font-size: 16px;
            color: $black-light;
            margin-top: 6px;
        }
    }
}

// owl-carousel-msg
.messages {
    overflow-x: hidden;
}
.owl-carousel-msg {
    @extend .owl-nav-style;
    @extend .owl-box-style;
}
.msg-item {
    padding: 35px 40px;
    text-align: center;
    img, p {
        @include push-auto;
    }
    img {
        width: 175px !important;
        margin-bottom: 22px;
    }
    p {
        max-width: 890px;
        margin-bottom: 20px;
    }
    h5 {
        font-weight: 400;
        line-height: 25px;
        span {
            font-size: 14px;
            color: $black-lighter;
            display: block;
        }
    }
    .btn {
        margin-top: 22px;
    }
}

// owl-carousel-post
.post-carousel {
    padding: 45px 0 70px;
    overflow: hidden;
}
.owl-carousel-post {
    @extend .owl-nav-style;
    @extend .owl-fix-overflow;
    .owl-nav {
        @include size-equal(auto);
        position: absolute;
        top: -85px;
        right: 0;
        [class*=owl-] {
            position: initial;
            transform: none;
        }
        button:not(:last-child) {
            margin-right: 35px;
        }
    }
}

// owl-carousel-logo
.owl-carousel-logo {
    .owl-stage {
        display: flex;
    }
    .owl-item {
        @extend .d-flex-center;
        img {
            max-width: 100px;
        }
    }
}


/////////////////////////////
// responsive
/////////////////////////////
@media (min-width: 992px) {
    .owl-carousel-feedback {
        .owl-stage {
            display: flex;
        }
    }
    .feedback-item {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        > :nth-child(n+1) {
            flex: 0 0 100%;
            width: 100%;
        }
    }
    .feedback-meta {
        align-self: flex-end;
    }
}

@media (max-width: 1199px) {
    .industry-media {
        img {
            width: 450px !important;
        }
    }
    .industry-intro {
        padding: 35px 40px 40px 30px;
    }
}

@media (max-width: 991px) {
    .owl-nav-style {
        .owl-nav {
            [class*=owl-] {
                @include size-equal(50px);
            }
            button.owl-next {
                right: -25px;
            }
            button.owl-prev {
                left: -25px;
            }
        }
    }

    .industry-media {
        span {
            display: none;
        }
        img {
            width: 220px !important;
        }
    }
    .industry-intro {
        padding: 30px 35px 35px 25px;
    }
}

@media (max-width: 767px) {
    .owl-nav-style {
        .owl-nav {
            [class*=owl-] {
                @include size-equal(40px);
            }
            button.owl-next {
                right: -21px;
            }
            button.owl-prev {
                left: -21px;
            }
        }
    }

    .industry-item {
        flex-direction: column;
    }
    .industry-media {
        img {
            width: 100% !important;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 0;
        }
    }
}

@media (max-width: 575px) {
    .owl-nav-style {
        .owl-nav {
            button.owl-next {
                right: -15px;
            }
            button.owl-prev {
                left: -15px;
            }
        }
    }
    .industry-intro {
        text-align: center;
    }

    .feedback-item {
        text-align: center;
    }
    .feedback-meta {
        flex-direction: column;
        text-align: center;
        .btn {
            margin-bottom: 20px;
        }
    }
}