.docs {
    padding: 70px 0 50px;
}

.page-title {
    span {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: $black-light;
        line-height: 1.65;
        margin-top: 15px;
    }
}

.doc-intro {
    padding: 25px 0 35px;
    p {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
}

.panel-doc {
    padding: 50px 0;
    > h2 {
        font-weight: 400;
        margin-bottom: 30px;
    }
}
.doc-box-wrap {
    margin-top: -30px;
    margin-left: -30px;
}
.doc-box {
    @extend .box-secondary;
    width: calc(50% - 30px);
    float: left;
    padding: 25px 25px 0;
    margin-top: 30px;
    margin-left: 30px;
    h4 {
        font-weight: 400;
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 25px;
    }
    ul {
        margin-bottom: 25px;
        li {
            padding-left: 25px;
            position: relative;
            &:not(:last-child) {
                margin-bottom: 8px;
            }
            &::before {
                @include size-equal(7px);
                position: absolute;
                content: "";
                background-color: $black-light;
                border-radius: 50%;
                display: inline-block;
                top: 9px;
                left: 0;
            }
        }
    }
}

/////////////////////////////
// responsive
/////////////////////////////
@media (max-width: 767px) {
    .doc-box-wrap {
        margin-left: 0;
    }
    .doc-box {
        float: none;
        width: 100%;
        margin-left: 0;
    }
}