.feat-box,
.stat-box {
    .icon {
        @extend .d-inflex-center;
        @include size-equal(100px);
        background-color: $light;
        border-radius: 50%;
        box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
        img {
            max-width: 50px;
        }
    }
}

.feat-box {
    height: 100%;
    text-align: center;
    padding: 40px 15px;
    border-radius: 20px;
    transition: all .2s;
    .icon {
        margin-bottom: 50px;
    }
    p {
        margin-top: 18px;
    }
    .btn {
        margin-top: 30px;
    }
    &:hover {
        background-color: $light;
        box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
        .btn {
            color: $light;
            background-color: $blue;
            border: 1px solid $blue;
            &:hover,
            &:focus,
            &:active {
                color: $light;
                background-color: darken($blue, 3%);
                border: 1px solid darken($blue, 3%);
            }
        }
    }
}

.stat-boxes {
    @include push-auto;
    max-width: 935px;
    display: flex;
    justify-content: space-between;
}
.stat-box {
    text-align: center;
    .icon {
        margin-bottom: 25px;
    }
    h3 {
        span {
            display: block;
        }
        .text-lg {
            font-size: 80px;
            margin-bottom: 16px;
        }
        .text-sm {
            font-weight: 400;
            color: $black-light;
        }
    }
}

/////////////////////////////
// responsive
/////////////////////////////
@media (max-width: 991px) {
    .stat-box {
        .icon {
            margin-bottom: 15px;
        }
        h3 {
            .text-lg {
                font-size: 65px;
                margin-bottom: 5px;
            }
            .text-sm {
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 767px) {
    .stat-box {
        h3 {
            .text-lg {
                font-size: 50px;
            }
            .text-sm {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 575px) {
    .stat-boxes {
        flex-direction: column;
    }
    .stat-box {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}