.footer-content {
    display: flex;
    flex-wrap: wrap;
    padding: 45px 0;
    border-top: 1px solid rgba(28, 28, 28, 0.1);
    > div {
        flex: 1;
        &:first-child {
            flex: 2.7;
        }
    }
}

.widget {
    .custom-logo-link {
        margin-bottom: 15px;
    }
    address {
        max-width: 180px;
        font-size: 14px;
        line-height: 26px;
        color: $black;
        margin-bottom: 6px;
    }
    p {
        font-size: 12px;
        line-height: 26px;
        color: $black-lighter;
    }
}

.widget-title {
    margin-bottom: 18px;
}

.menu {
    li {
        a {
            font-size: 14px;
            color: $black-light;
            line-height: 34px;
            display: inline-block;
            white-space: nowrap;
            transition: all .2s;
            &:hover,
            &:active {
                color: $blue;
            }
        }
    }
}

.widget-group {
    .widget:not(:last-child) {
        margin-bottom: 30px;
    }
    .widget-title {
        margin-bottom: 12px;
    }
}

.menu-inline {
    display: inline-flex;
    margin-top: 24px;
    li {
        position: relative;
        &:not(:last-child) {
            margin-right: 11px;
            &::after {
                @include size(1px, 10px);
                position: absolute;
                content: "";
                display: inline-block;
                background-color: $black-light;
                top: 51%;
                right: -6px;
                transform: translateY(-50%);
            }
        }
        a {
            font-size: 12px;
            line-height: 26px;
        }
    }
}

/////////////////////////////
// responsive
/////////////////////////////
@media (max-width: 1199px) {
    .footer-content>div:first-child {
        flex: 2.5;
    }
}

@media (max-width: 991px) {
    .footer-content>div:first-child {
        flex: 2;
    }
}

@media (max-width: 767px) {
    .footer-content {
        padding: 45px 0 0;
        > div {
            flex: 0 0 auto !important;
            margin-bottom: 45px;
            &:nth-of-type(1) {
                width: 67%;
            }
            &:nth-of-type(2) {
                width: 33%;
            }
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5) {
                width: 33.333%;
            }
        }
    }
}

@media (max-width: 575px) {
    .footer-content {
        > div {
            width: 100% !important;
            text-align: center;
        }
        .widget address {
            @include push-auto;
        }
    }
}