.header {
    padding: 40px 0 25px;
    transition: all .3s;
    & + section {
        margin-top: 92.5px;
    }
}

.header-dark {
    .nav-toggler {
        color: $black;
        &:hover,
        &:active {
            color: $black;
        }
    }
    .main-nav {
        > li > a,
        .dropdown::after {
            color: $black;
        }
    }
    .search-link a {
        color: $black;
    }
}

.header-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-logo-link {
    display: inline-block;
    img {
        @include size(108px, auto);
    }
}

.nav-wrap {
    display: flex;
    align-items: center;
}

.main-nav {
    @extend .dropdown-style;
    li {
        a {
            font-size: 16px;
        }
        > a {
            font-weight: 500;
            color: $light;
            display: inline-block;
            padding-right: 20px;
            position: relative;
            z-index: 2;
        }
    }
    .dropdown {
        &::after {
            font-size: 19px;
            line-height: 24px;
            color: $light;
            top: 2px;
            right: 0;
            z-index: 1;
        }
    }
}

// mozilla firefox fix
@-moz-document url-prefix() {
    .main-nav .dropdown::after {
        top: 0;
    }
}

.search-link {
    a {
        font-size: 16px;
        color: $light;
        display: inline-block;
    }
}

.nav-toggler {
    font-size: 24px;
    font-weight: 300;
    color: $black;
    display: inline-block;
    line-height: 25px;
    display: none;
    &:hover,
    &:active {
        color: $black;
    }
}
.page-home {
    .nav-toggler {
        color: $light;
        &:hover,
        &:active {
            color: $light;
        }
    }
}

/////////////////////////////
// responsive
/////////////////////////////
@media (min-width: 576px) {
    .page-home .header {
        .custom-logo-link:last-of-type {
            display: none;
        }
        &.collapsed .custom-logo-link {
            &:first-of-type {
                display: none;
            }
            &:last-of-type {
                display: block;
            }
        }
    }
    .header {
        &.collapsed {
            padding: 20px 0;
            background-color: $light;
            box-shadow: 0 41px 54px 0 rgba(133, 143, 175, 0.1);
            .main-nav {
                > li > a,
                .dropdown::after {
                    color: $black;
                }
            }
            .nav-toggler,
            .search-link a {
                color: $black;
            }
        }
    }
}

@media (min-width: 768px) {
    .main-nav {
        display: flex;
        align-items: center;
        li {
            margin-right: 20px;
        }
    }
}

@media (min-width: 992px) {
    .main-nav {
        li {
            margin-right: 35px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        padding: 25px 0;
        & + section {
            margin-top: 77.5px;
        }
    }
    .nav-wrap {
        flex-direction: row-reverse;
    }
    .nav-toggler {
        display: block;
        margin-left: 25px;
    }
    .main-nav {
        position: absolute;
        width: 100%;
        background-color: $light;
        border-radius: 4px;
        box-shadow: 0 41px 54px 0 rgba(133, 143, 175, 0.1);
        top: calc(100% + 15px);
        left: 0;
        display: none;
        li {
            &:first-child > a {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
            &:last-child > a {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
            a {
                color: $black;
                display: block;
                padding: 10px 35px 10px 15px;
                &:active {
                    background-color: lighten($gray, 10%);
                }
            }
        }
        .dropdown {
            &::after {
                color: $black;
                top: 9px;
                right: 15px;
            }
        }
        .dropdown-menu {
            float: none;
            position: inherit !important;
            padding: 10px 0;
            background-color: lighten($gray, 12%);
            border: 0;
            border-radius: 0;
            box-shadow: none;
            a.current-menu-item::before,
            a:hover::before,
            a:active::before {
                display: none;
            }
            &::after {
                background-color: lighten($gray, 12%);
                border: 0;
            }
        }
    }
    .search-link {
        a {
            font-size: 18px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        padding: 15px 0;
        background-color: $light;
        box-shadow: 0 41px 54px 0 rgba(133, 143, 175, 0.1);
        & + section {
            margin-top: 57.5px;
        }
    }
    .page-home .header {
        .custom-logo-link {
            &:first-of-type {
                display: none;
            }
            &:last-of-type {
                display: inline-block;
            }
        }
    }
    .nav-toggler,
    .search-link a {
        color: $black !important;
        &:hover,
        &:active {
            color: $black !important;
        }
    }
    .main-nav {
        width: calc(100% + 30px);
        left: -15px;
        border-top: 1px solid #ededed;
        border-radius: 0;
        li {
            a {
                border-radius: 0 !important;
            }
        }
    }
}
