.page-home,
.page-overview,
.page-key-features,
.page-contact-us,
.page-careers,
.page-production,
.page-quality,
.page-maintenance,
.page-inventory,
.page-solutions {
    .header + section {
        margin-top: 0;
    }
}

// hero cards
.hero-card {
    background-color: $light;
    border-radius: 20px;
    width: 100%;
    max-width: 494px;
    box-shadow: 13px 38px 50px 0 rgba(133, 143, 175, 0.12);
}

.hero-card-form {
    // padding: 40px 50px;
    padding: 25px 30px;
}

.form-contact {
    iframe {
        min-height: 875px;
    }
}

// .form-hero {
//     > h4 {
//         margin-bottom: 5px;
//     }
//     > a {
//         font-size: 14px;
//         line-height: 26px;
//         color: $blue;
//         display: inline-block;
//     }
//     > p {
//         font-size: 14px;
//         line-height: 22px;
//         margin-bottom: 30px;
//     }
//     .form-group {
//         margin-bottom: 12px;
//         position: relative;
//         &:first-of-type {
//             margin-top: 25px;
//         }
//         &:last-of-type {
//             margin-bottom: 20px;
//             &::before {
//                 top: 3px;
//                 transform: none;
//             }
//         }
//         &::before {
//             @extend .v-center;
//             content: "\f013";
//             font-family: "FontAwesome";
//             color: $black-lighter;
//             left: 0;
//             z-index: 9;
//         }
//     }
//     .form-control {
//         padding-left: 24px;
//     }
// }

.hero-card-info {
    padding: 50px 40px;
    position: relative;
    &::after {
        @extend .h-center;
        @include size(410px, 200px);
        content: "";
        display: block;
        background-color: rgba($light, .2);
        border-radius: 20px;
        bottom: -33px;
        z-index: -1;
    }
    h3 {
        font-weight: 400;
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 30px;
    }
}

// contact-info
.contact-info {
    margin-top: 30px;
    h3 {
        margin-bottom: 30px;
    }
}
.contact-info-list {
    li {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 28px;
        }
        i {
            @extend .d-inflex-center;
            @include size-equal(45px);
            font-size: 20px;
            border-radius: 50%;
            margin-right: 25px;
            flex: 0 0 auto;
        }
        &:nth-child(1) i {
            color: $blue;
            background-color: rgba($blue, .2);
        }
        &:nth-child(2) i {
            color: $pink;
            background-color: rgba($pink, .2);
        }
        &:nth-child(3) i {
            color: $skyblue;
            background-color: rgba($skyblue, .2);
        }
        address, p {
            line-height: 26px;
        }
        address {
            margin-bottom: 0;
            max-width: 220px;
        }
        p span {
            display: block;
        }
    }
}


// HERO STYLES
.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-intro {
    > h1 {
        span {
            font-size: 20px;
            font-weight: 400;
            display: block;
        }
    }
    > p {
        font-size: 20px;
        margin-top: 20px;
        line-height: 1.5;
    }
    > .btn {
        margin-top: 30px;
    }
    > img {
        margin: 45px 0 15px;
    }
}

// ==============================
.page-home {
    .hero {
        background: url(../images/hero-bg-01.png) no-repeat scroll;
        background-size: 100% 100%;
        background-position: center top;
    }
    .hero-content {
        height: 735px;
    }
    .hero-intro {
        max-width: 600px;
        margin-top: 50px;
        h1, p {
            color: $light;
        }
        h1 {
            font-size: 60px;
            margin-bottom: 10px;
        }
        .btn {
            margin-top: 40px;
        }
    }
    .hero-media {
        max-width: 535px;
        margin-right: -50px;
        align-self: flex-end;
        img {
            margin-bottom: -65px;
        }
    }
}

// ==============================
.hero-wide-mock {
    .hero {
        // background: url(../images/hero-bg-02.png) no-repeat scroll;
        background-repeat: no-repeat;
        background-attachment: scroll;
        // background-size: 60% auto;
        background-position: right top;
        min-height: 700px;
        padding: 180px 0 0;
        position: relative;
        z-index: 0;
    }
    .hero-intro {
        max-width: 435px;
        margin-top: -100px;
    }
    .hero-media {
        max-width: 665px;
        margin-right: -23px;
    }
}

.page-overview,
.page-key-features,
.page-production,
.page-quality,
.page-maintenance,
.page-inventory,
.page-solutions,
.page-contact-us,
.page-careers {
    @extend .hero-wide-mock;
}

// ------ corner bg fix ------
@media (min-width: 992px) {
    .hero-wide-mock .hero {
        background-image: url(../images/hero-bg-02.png);
        background-size: 57% auto;
    }
}
@media (min-width: 1200px) {
    .hero-wide-mock .hero {
        background-image: url(../images/hero-bg-corner-1200.png);
        background-size: 59.5% auto;
    }
}
@media (min-width: 1400px) {
    .hero-wide-mock .hero {
        background-image: url(../images/hero-bg-corner-1400.png);
        background-size: 59% auto;
    }
}
@media (min-width: 1600px) {
    .hero-wide-mock .hero {
        background-image: url(../images/hero-bg-corner-1600.png);
        background-size: 57% auto;
    }
}
@media (min-width: 1800px) {
    .hero-wide-mock .hero {
        background-image: url(../images/hero-bg-corner-1800.png);
        background-size: 57% auto;
    }
}
@media (min-width: 2000px) {
    .hero-wide-mock .hero {
        background-image: url(../images/hero-bg-corner-2000.png);
        background-size: 55% auto;
    }
}
@media (min-width: 2200px) {
    .hero-wide-mock .hero {
        background-image: url(../images/hero-bg-corner-2200.png);
        background-size: 54.5% auto;
    }
}
@media (min-width: 2400px) {
    .hero-wide-mock .hero {
        background-image: url(../images/hero-bg-corner-2400.png);
        background-size: 53.5% auto;
    }
}
@media (min-width: 2600px) {
    .hero-wide-mock .hero {
        background-image: url(../images/hero-bg-corner-2600.png);
        background-size: 53% auto;
    }
}
// ------ end: corner bg fix ------

.page-overview {
    .hero-media {
        margin-right: -62px;
    }
}

.page-contact-us,
.page-careers {
    .hero-content {
        align-items: flex-start;
    }
    .hero-intro {
        max-width: 375px;
        margin-top: 55px;
    }
    .hero-card {
        margin-top: 25px;
    }
}

// ==============================
.hero-vertical {
    .hero-intro {
        margin-bottom: 35px;
        text-align: center;
    }
    .hero-media {
        max-width: 600px;
    }
    .hero-content {
        flex-direction: column;
    }
}

.page-implementation,
.page-mentoring,
.page-support,
.page-training {
    @extend .hero-vertical;
    .hero {
        padding: 60px 0 75px;
    }
}

// ==============================
.hero-wide-media {
    .hero {
        padding: 45px 0;
    }
    .hero-intro {
        max-width: 390px;
    }
    .hero-media {
        max-width: 615px;
        img {
            @include size(100%, auto);
            border-radius: 16px;
        }
    }
}

// .page-deployment,
// .page-smart-devices,
.page-automotive,
.page-chemicals,
.page-food-beverage,
.page-life-sciences,
.page-packaged-goods,
.page-industries,
.page-webinars,

.page-compliance,
.page-traceability,
.page-batch,
.page-energy-management,
.page-lean,
.page-performance {
    @extend .hero-wide-media;
}

.page-services {
    .hero {
        padding: 45px 0 90px;
    }
    .hero-intro {
        max-width: 505px;
    }
    .hero-media {
        max-width: 550px;
        img {
            @include size(100%, auto);
        }
    }
}

.page-webinars {
    .hero-intro {
        max-width: 475px;
        span {
            &:first-of-type {
                margin-bottom: 8px;
            }
            &:last-of-type {
                margin-top: 10px;
            }
        }
    }
}

.page-company {
    .hero {
        padding: 45px 0;
    }
    .hero-intro {
        max-width: 530px;
    }
    .hero-media {
        max-width: 530px;
    }
}

.page-about {
    .hero {
        padding: 45px 0;
    }
    .hero-intro {
        max-width: 370px;
    }
    .hero-media {
        max-width: 675px;
    }
}

// ==============================
.hero-media-full {
    .hero {
        padding: 40px 0 45px 0;
    }
    .hero-content {
        position: relative;
        display: block;
        margin-bottom: 188px;
    }
    .hero-intro {
        @extend .h-center;
        @extend .d-flex-center;
        @include size(730px, 375px);
        text-align: center;
        top: calc(100% - 187px);
        padding: 30px;
        background-color: $light;
        border-radius: 20px;
        box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
        flex-direction: column;
        h1, p {
            max-width: 415px;
        }
    }
    .hero-media {
        img {
            @include size(100%, auto);
        }
    }
}
.page-deployment,
.page-smart-devices,
.page-workflow-management {
    @extend .hero-media-full;
}



/////////////////////////////
// responsive
/////////////////////////////
@media (max-width: 1199px) {

    // =========================
    .page-home {
        .hero-content {
            height: 650px;
        }
        .hero-intro {
            max-width: 515px;
            margin-top: 15px;
            h1 {
                font-size: 50px;
            }
        }
        .hero-media {
            max-width: 450px;
            margin-right: -42px;
            img {
                margin-bottom: -30px;
            }
        }
    }

    // =========================
    .page-overview,
    .page-key-features,
    .page-production,
    .page-quality,
    .page-maintenance,
    .page-inventory,
    .page-solutions,
    .page-contact-us,
    .page-careers {
        .main-nav {
            li > a,
            .dropdown::after {
                color: $black;
            }
        }
        .search-link a {
            color: $black;
        }
    }
    .hero-wide-mock {
        .hero {
            min-height: 560px;
        }
        .hero-intro {
            max-width: 435px;
        }
        .hero-media {
            max-width: 510px;
            margin-right: -17px;
        }
    }
    .page-overview {
        .hero-media {
            margin-right: -47px;
        }
    }
    .page-contact-us,
    .page-careers {
        .hero-card {
            max-width: 465px;
        }
    }

    // =========================
    .hero-wide-media {
        .hero-media {
            max-width: 510px;
        }
    }
    .page-services {
        .hero-intro {
            max-width: 470px;
        }
        .hero-media {
            max-width: 455px;
        }
    }
    .page-webinars {
        .hero-intro {
            max-width: 445px;
            h1 {
                font-size: 36px;
            }
        }
        .hero-media {
            max-width: 455px;
        }
    }
    .page-company {
        .hero-intro {
            max-width: 475px;
        }
        .hero-media {
            max-width: 455px;
        }
    }
    .page-about {
        .hero-media {
            max-width: 550px;
        }
    }

    // ==============================
    .hero-media-full {
        .hero-content {
            margin-bottom: 175px;
        }
        .hero-intro {
            @include size(715px, 350px);
            top: calc(100% - 175px);
        }
    }
}

@media (max-width: 991px) {
    .hero-intro {
        .btn-play-blue,
        .btn-play-light {
            font-size: 16px;
            padding: 5px 25px 5px 5px;
        }
    }

    // =========================
    .page-home {
        .hero-content {
            height: 550px;
        }
        .hero-intro {
            max-width: 400px;
            h1 {
                font-size: 40px;
            }
        }
        .hero-media {
            max-width: 320px;
            margin-right: -30px;
            align-self: center;
            img {
                margin-bottom: -100px;
            }
        }
    }

    // =========================
    .hero-wide-mock {
        .hero {
            background: none;
            padding: 150px 0 0;
            min-height: auto;
            br {
                display: none;
            }
        }
        .hero-intro {
            max-width: 350px;
            margin-top: -55px;
            h1 {
                font-size: 32px;
            }
        }
        .hero-media {
            max-width: 350px;
            margin-right: -13px;
        }
    }
    .page-overview {
        .hero-media {
            margin-right: -33px;
        }
    }
    .page-contact-us,
    .page-careers {
        .hero-intro {
            margin-top: 0;
        }
        .hero-card {
            max-width: 320px;
        }
        .hero-card-form {
            padding: 20px;
        }
        .hero-card-info {
            padding: 20px 25px 25px;
        }
    }

    // ==============================
    .hero-vertical {
        .hero-intro {
            h1 {
                font-size: 32px;
            }
        }
    }

    // =========================
    .hero-wide-media {
        .hero-intro {
            max-width: 315px;
            h1 {
                font-size: 32px;
            }
        }
        .hero-media {
            max-width: 350px;
        }
    }
    .page-services {
        .hero-content {
            flex-direction: column;
        }
        .hero-intro {
            max-width: 100%;
            text-align: center;
            margin-bottom: 30px;
        }
        .hero-media {
            max-width: 100%;
        }
    }
    .page-webinars {
        .hero-intro {
            span {
                font-size: 18px;
                &:first-of-type {
                    margin-bottom: 3px;
                }
                &:last-of-type {
                    margin-top: 5px;
                }
            }
        }
    }
    .page-company {
        .hero-content {
            flex-direction: column;
        }
        .hero-intro {
            text-align: center;
            max-width: 100%;
            margin-bottom: 30px;
        }
        .hero-media {
            max-width: 100%;
        }
    }
    .page-about {
        .hero-intro {
            max-width: 300px;
        }
        .hero-media {
            max-width: 390px;
        }
    }

    // ==============================
    .hero-media-full {
        .hero-content {
            margin-bottom: 150px;
        }
        .hero-intro {
            @include size(600px, 300px);
            top: calc(100% - 150px);
        }
    }
}

@media (max-width: 767px) {
    .contact-info-list {
        li {
            text-align: left;
        }
    }

    .hero-intro {
        margin-bottom: 35px;
        > p {
            font-size: 16px;
            margin-top: 10px;
        }
        > .btn {
            margin-top: 25px;
        }
    }

    // =========================
    .page-home {
        .hero-content {
            flex-direction: column;
            height: auto;
            padding-top: 115px;
        }
        .hero-intro {
            max-width: 100%;
            text-align: center;
            margin-top: 0;
            h1 {
                font-size: 36px;
            }
            .btn {
                margin-top: 25px;
            }
        }
        .hero-media {
            max-width: 415px;
            margin-right: 0;
            img {
                margin-bottom: 0;
            }
        }
    }

    // =========================
    .hero-wide-mock {
        .hero {
            padding: 115px 0 0;
        }
        .hero-content {
            flex-direction: column;
        }
        .hero-intro {
            max-width: 100%;
            margin-top: 0;
            text-align: center;
        }
        .hero-media {
            max-width: 100%;
            margin-right: 0;
        }
    }
    .page-contact-us,
    .page-careers {
        .hero-card {
            max-width: 100%;
        }
    }
    .page-careers {
        .hero-card-info {
            text-align: center;
        }
        .cta {
            padding-top: 75px;
        }
    }

    // ==============================
    .hero-vertical {
        .hero {
            padding: 37.5px 0 75px;
        }
    }

    // =========================
    .hero-wide-media,
    .page-about {
        .hero {
            padding: 37.5px 0 45px;
        }
        .hero-content {
            flex-direction: column;
        }
        .hero-intro {
            max-width: 100%;
            text-align: center;
        }
        .hero-media {
            max-width: 100%;
        }
    }
    .page-services {
        .hero {
            padding: 37.5px 0 45px;
        }
        .hero-intro {
            h1 {
                font-size: 32px;
            }
        }
        .hero-media {
            max-width: 100%;
        }
    }
    .page-company {
        .hero {
            padding: 37.5px 0 45px;
        }
        .hero-intro {
            h1 {
                font-size: 32px;
            }
        }
    }
    .page-about {
        .hero-intro {
            h1 {
                font-size: 32px;
            }
        }
    }

    // ==============================
    .hero-media-full {
        .hero-content {
            margin-bottom: 80px;
        }
        .hero-intro {
            width: calc(100% - 60px);
            height: auto;
            top: 50%;
            margin-bottom: 0;
            h1 {
                font-size: 36px;
            }
        }
    }
    .page-workflow-management {
        .hero-content {
            margin-bottom: 115px;
        }
        .hero-intro {
            height: 250px;
        }
    }
}

@media (max-width: 575px) {
    // ==============================
    .hero-media-full {
        .hero-content {
            margin-bottom: 145px;
        }
        .hero-intro {
            width: calc(100% - 30px);
            top: 50%;
            h1 {
                font-size: 30px;
            }
        }
    }
    .page-workflow-management {
        .hero-content {
            margin-bottom: 75px;
        }
        .hero-intro {
            min-height: 200px;
            height: auto;
        }
    }
}