.info-box {
    background-color: $light;
    border-radius: 10px;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    h3 {
        font-weight: 400;
    }
}

.info-box-tcal,
.info-box-wcal {
    &:hover .btn {
        background-color: $blue;
        border-color: $blue;
        color: $light;
    }
}

.info-box-tcal,
.info-box-webinar {
    &:hover {
        box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
    }
}

.info-box-tcal {
    padding: 25px 25px 30px;
    transition: all .2s;
    .date {
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        color: $blue;
        display: block;
        margin-bottom: 25px;
    }
    h3 {
        margin-bottom: 5px;
    }
    p {
        margin-bottom: 40px;
    }
}

.info-box-hotel,
.info-box-wcal {
    box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
}

.info-box-wcal,
.info-box-webinar {
    display: flex;
    align-items: flex-start;
}

.info-box-hotel {
    padding: 40px 40px 45px;
    h3 {
        margin-bottom: 15px;
    }
    p:first-of-type {
        margin-bottom: 30px;
    }
    .button-group {
        margin-top: 40px;
        .btn:not(:last-child) {
            margin-right: 24px;
        }
    }
}

.info-box-wcal {
    padding: 20px 20px 35px 35px;
    .content {
        padding-top: 25px;
        padding-right: 30px;
    }
    .icon {
        @extend .d-inflex-center;
        @include size-equal(100px);
        background-color: $light;
        border-radius: 50%;
        box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
        flex: 0 0 auto;
        img {
            @include size(36px, auto);
        }
    }
    .date {
        color: #4a4a4a;
        display: block;
        margin-bottom: 25px;
    }
    h3 {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 20px;
    }
    .btn {
        min-width: 140px;
    }
}

.info-box-webinar {
    padding: 30px 25px;
    transition: all .2s;
    img {
        @include size(36px, auto);
    }
    .content {
        padding-left: 35px;
    }
    h3 {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
    }
    .btn {
        min-width: 155px;
    }
    .button-group {
        .btn:not(:last-child) {
            margin-right: 20px;
        }
    }
}

/////////////////////////////
// responsive
/////////////////////////////
@media (max-width: 1199px) {
    .info-box-webinar {
        .content {
            padding-left: 30px;
        }
        .btn {
            min-width: auto;
            padding: 14px 25px;
        }
        .button-group .btn:not(:last-child) {
            margin-right: 15px;
        }
    }
}

@media (max-width: 767px) {
    .info-box-tcal,
    .info-box-hotel {
        text-align: center;
    }
}

@media (max-width: 575px) {
    .info-box-wcal,
    .info-box-webinar {
        padding: 20px 15px 25px 15px;
        align-items: center;
        .content {
            text-align: center;
        }
        .btn {
            width: 100%;
        }
    }
    .info-box-wcal {
        flex-direction: column-reverse;
        .content {
            
            padding-right: 0;
        }
    }
    .info-box-webinar {
        flex-direction: column;
        img {
            margin-bottom: 20px;
        }
        .content {
            padding-left: 0;
        }
        .button-group {
            .btn:not(:last-child) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
}