.panel-box-list {}

.panel-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:nth-child(even) {
        flex-direction: row-reverse;
    }
    &:not(:last-of-type) {
        margin-bottom: 15px;
    }
}

.page-overview {
    .panel-box:not(:last-of-type) {
        margin-bottom: 40px;
    }
}

.page-deployment {
    .panel-box:not(:last-of-type) {
        margin-bottom: 100px;
    }
}

.page-smart-devices {
    .panel-box:first-of-type {
        margin-bottom: 50px;
    }
}

.panel-media {
    width: 515px;
    img {
        @include size(100%, auto);
    }
}

.panel-intro {
    max-width: 545px;
    h2 {
        font-weight: 400;
        margin-top: -40px;
        margin-bottom: 20px;
    }
}
.page-overview .panel-intro h2,
.page-deployment .panel-intro h2,
.page-smart-devices .panel-intro h2 {
    margin-top: 0;
}

/////////////////////////////
// responsive
/////////////////////////////
@media (max-width: 1199px) {
    .panel-media,
    .panel-intro {
        max-width: 450px;
    }
}

@media (max-width: 991px) {
    .panel-box {
        flex-direction: column;
        &:not(:last-of-type) {
            margin-bottom: 75px !important;
        }
        &:nth-child(even) {
            flex-direction: column;
        }
    }
    .panel-media,
    .panel-intro {
        max-width: 100%;
        text-align: center;
    }
    .page-overview .panel-intro {
        margin-top: 25px;
    }
    // .page-smart-devices .panel-box:first-of-type .panel-intro,
    .page-deployment .panel-intro {
        margin-top: 40px;
    }
    // .page-smart-devices .panel-box:not(:first-of-type) .panel-intro {
    .page-smart-devices .panel-box .panel-intro {
        margin-top: -40px;
    }

}