#pardot-form {
    font-family: CircularStd;
    > div {
        font-size: 14px;
        line-height: 26px;
        color: #757575;
    }
    input[type=text],
    select,
    textarea {
        width: 100%;
        height: 50px;
        background-color: #f5f6fa;
        border: 0;
        border-radius: 25px;
        padding: 5px 20px;
        &:focus {
            outline: none;
        }
    }
    textarea {
        min-height: 115px;
    }
    input[type=submit] {
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        background-color: #1f90ff;
        border: 0;
        border-radius: 25px;
        padding: 12px 20px;
        &:focus {
            outline: none;
        }
    }
}

.promo-primary {
    #pardot-form {
        label {
            display: none;
        }
        > div {
            margin: 20px 0;
        }
    }
}

.promo-secondary {
    #pardot-form {
        label {
            display: none;
        }
        .privacy {
            margin: 20px 0;
        }
    }
}

.form-contact {
    #pardot-form {
        label {
            display: block;
        }
        .form-field {
            margin-bottom: 15px;
        }
        .privacy {
            margin-bottom: 20px;
        }
    }
}

.post-form {
    #pardot-form {
        .privacy {
            margin: 20px 0;
        }
    }
}