.search-box {
    @include size-equal(100%);
    position: fixed;
    background-color: rgba($black, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -9999;
    // transition: all .5s;
    &.open {
        top: 0;
        opacity: 1;
        z-index: 9999;
        .form-search {
            top: 0;
        }
    }
}

.form-search {
    @extend .d-flex-center;
    @include size(100%, 200px);
    background-color: $light;
    position: absolute;
    top: -200px;
    transition: all .5s;
    .form-group {
        width: 1000px;
        margin-bottom: 0;
        position: relative;
        margin-top: -25px;
    }
    .form-control {
        @include placeholder-search(50px, 600, rgba($black, 0.3));
        background-color: transparent;
        border-color: rgba($black, 0.2);
        border-radius: 0;
        font-size: 50px;
        font-weight: 600;
        height: auto;
        padding: 0;
    }
    .btn-close {
        position: absolute;
        font-size: 25px;
        color: rgba($black, 0.3);
        bottom: 15px;
        right: 0;
        transition: all .25s;
        &:hover,
        &:active {
            color: rgba($black, 1);
        }
    }
}

/////////////////////////////
// responsive
/////////////////////////////
@media (max-width: 1199px) {
    .form-search {
        .form-group {
            width: 900px;
        }
    }
}

@media (max-width: 991px) {
    .form-search {
        .form-group {
            width: 700px;
        }
    }
}

@media (max-width: 767px) {
    .form-search {
        height: 175px;
        .form-group {
            width: 500px;
        }
        .form-control {
            @include placeholder-search(40px, 600, rgba($black, 0.3));
            font-size: 40px;
        }
    }
}

@media (max-width: 575px) {
    .form-search {
        padding: 0 15px;
        .form-group {
            width: 100%;
        }
    }
}