// global
.section-media-o {
    padding: 50px 0;
}

// page-home
.page-home {
    .clients {
        padding: 100px 0 0;
    }
    .solutions {
        padding: 90px 0 55px;
    }
    .industries {
        padding: 55px 0 100px;
    }
    .features {
        background-color: $pale-white-darkest;
        padding: 100px 0;
    }
    .promo {
        padding: 100px 0 70px;
    }
}

// page-overview
.page-overview {
    .features {
        padding: 50px 0;
    }
    .panel-boxes {
        padding: 50px 0 100px;
    }
    .promo-vid {
        background-color: $pale-white-darkest;
        padding: 100px 0;
    }
    .feedback {
        padding: 100px 0 60px;
    }
    .promo {
        padding: 60px 0 100px;
    }
}

// page-key-features
.page-key-features {
    .hero + .features {
        padding: 50px 0 10px;
    }
    .section-intro-o {
        padding: 10px 0 80px;
    }
    .solutions {
        padding: 80px 0 100px;
    }
    .solutions + .features {
        background-color: $pale-white-darkest;
        padding: 100px 0;
    }
    .industries {
        padding: 100px 0 65px;
    }
    .feedback {
        padding: 65px 0 60px;
    }
    .promo {
        padding: 60px 0 100px;
    }
}

// page-deployment
.page-deployment {
    .panel-boxes {
        padding: 50px 0;
    }
    .section-intro-o {
        padding: 50px 0;
    }
    .messages {
        padding: 50px 0 60px;
    }
    .promo {
        padding: 60px 0;
    }
}

// page-smart-devices
.page-smart-devices {
    .hero + .features {
        padding: 50px 0;
    }
    .panel-boxes {
        padding: 50px 0;
    }
    .panel-boxes + .features {
        background-color: $pale-white-darkest;
        padding: 100px 0;
    }
    .cta {
        padding-top: 75px;
    }
}

// page-production
.page-production,
.page-quality,
.page-maintenance,
.page-inventory {
    .hero + .features {
        padding: 50px 0;
    }
    .panel-boxes {
        padding: 50px 0;
    }
    .panel-boxes + .features {
        background-color: $pale-white-darkest;
        padding: 100px 0;
    }
    .cta {
        padding-top: 75px;
    }
}

// page-solutions
.page-solutions {
    .features {
        padding: 50px 0 60px;
    }
    .promo {
        padding: 60px 0 100px;
    }
}

// page-automotive
.page-automotive,
.page-chemicals,
.page-food-beverage,
.page-life-sciences,
.page-packaged-goods {
    .hero + .features {
        padding: 50px 0;
    }
    .panel-boxes {
        padding: 50px 0 25px;
    }
    .clients {
        background-color: $pale-white-darkest;
        padding: 100px 0;
    }
    .clients + .features {
        background-color: $pale-white-darkest;
        padding: 20px 0 100px;
    }
    .cta {
        padding-top: 75px;
    }
}

.page-compliance,
.page-traceability,
.page-batch,
.page-energy-management,
.page-lean,
.page-performance {
    .hero + .features {
        padding: 50px 0;
    }
    .section-intro-o {
        padding-bottom: 50px;
    }
    .panel-boxes {
        padding-top: 50px;
    }
    .panel-boxes + .features {
        padding-top: 25px;
    }
    .cta {
        padding-top: 75px;
    }
}

// page-industries
.page-industries {
    .stats {
        padding: 45px 0 50px;
    }
    .section-intro-o {
        padding: 50px 0 100px;
    }
    .card-industries {
        background-color: $pale-white-darkest;
        padding: 100px 0 70px;
    }
    .industries {
        padding: 100px 0 60px;
    }
    .feedback {
        padding: 60px 0;
    }
    .promo {
        padding: 60px 0 100px;
    }
}


// page-services
.page-services {
    .service {
        background-color: $pale-white-darkest;
        padding: 100px 0;
    }
    .promo {
        padding: 100px 0;
    }
}

// page-implementation
.page-implementation,
.page-mentoring,
.page-support {
    .support {
        background-color: $pale-white-darkest;
        padding: 100px 0;
    }
    .messages {
        padding: 100px 0;
    }
    .promo {
        padding: 20px 0 60px;
    }
}

// page-training
.page-training {
    .training {
        background-color: $pale-white-darkest;
        padding: 100px 0;
    }
    .hotels {
        padding: 100px 0 70px;
    }
    .cta {
        padding-top: 75px;
    }
}

// page-partners
.page-partners {
    .g-map {
        padding: 75px 0 20px;
    }
    .partners {
        padding-bottom: 50px;
    }
}

// page-blog
.page-blog {
    .section-post {
        padding: 0 0 65px;
    }
}

// page-webinars
.page-webinars {
    .section-intro-o {
        padding: 50px 0;
    }
    .webinar-next {
        padding: 50px 0 70px;
    }
    .webinar-past {
        background-color: $pale-white-darkest;
        padding: 100px 0 70px;
    }
    .cta {
        padding-top: 75px;
    }
}

// page-company
.page-company {
    .page-navigation {
        padding: 10px 0 30px;
    }
    .promo {
        padding: 30px 0 60px;
    }
}

// page-about
.page-about {
    .section-intro-o {
        padding: 35px 0 100px;
    }
    .stats {
        background-color: $pale-white-darkest;
        padding: 100px 0;
    }
    .cta {
        padding-top: 75px;
    }
}

// page-contact-us
.page-contact-us {
    .cta {
        padding-top: 75px;
    }
}

// page-careers
.page-careers {
    .cta {
        padding-top: 50px;
    }
}

// page-archive
.page-archive {
    .cta {
        padding-top: 75px;
    }
}

// page-workflow-management
.page-workflow-management {
    .section-media-o {
        padding: 50px 0 30px;
    }
    .section-info-o {
        padding: 30px 0 80px;
    }
    .messages {
        background-color: $pale-white-darkest;
        padding: 100px 0;
    }
    .cta {
        padding-top: 75px;
    }
}