.btn-blue,
.btn-bluish,
.btn-gray,
.btn-light-gray,
.btn-outline-blue {
    font-size: 14px;
    font-weight: 500;
    color: $light;
    line-height: 1.45;
    border-radius: 28px;
    padding: 14px 30px;
    transition: all .15s ease-in-out;
    &:hover,
    &:focus,
    &:active {
        outline: none;
        color: $light;
        box-shadow: none;
    }

    &.btn-lg {
        font-size: 18px;
    }

    &.btn-play-light,
    &.btn-play-blue {
        padding: 7px 28px 7px 7px;
        display: inline-flex;
        align-items: center;
        i {
            @extend .d-inflex-center;
            @include size-equal(42px);
            font-size: 13px;
            border-radius: 50%;
            margin-right: 12px;
        }
    }
    &.btn-play-light i {
        background-color: $light;
        color: $blue;
    }
    &.btn-play-blue i {
        background-color: $blue;
        color: $light;
    }
}

.btn-blue {
    background-color: $blue;
    border: 1px solid $blue;
    &:hover,
    &:focus,
    &:active {
        background-color: darken($blue, 3%);
        border: 1px solid darken($blue, 3%);
    }
}

.btn-bluish {
    background-color: rgba($blue, 0.1);
    border: 1px rgba($blue, 0.1);
    color: $blue;
    &:hover,
    &:focus,
    &:active {
        background-color: rgba($blue, 0.15);
        border: 1px rgba($blue, 0.15);
        color: $blue;
    }
}

.btn-gray {
    color: $black;
    background-color: $pale-white-darker;
    border: 1px solid $pale-white-darker;
    &:hover,
    &:focus,
    &:active {
        color: $black;
        background-color: darken($pale-white-darker, 3%);
        border: 1px solid darken($pale-white-darker, 3%);
    }
}

.btn-light-gray {
    color: $light;
    background-color: rgba($light, .15);
    border: 0;
    &:hover,
    &:focus,
    &:active {
        color: $light;
        background-color: rgba($light, .18);
        border: 0;
    }
}

.btn-outline-blue {
    color: $blue;
    border: 1px solid $pale-white-darker;
    &:hover,
    &:focus,
    &:active {
        color: $blue;
        border: 1px solid darken($pale-white-darker, 3%);
    }
}

.btn-circle-blue,
.btn-circle-gray {
    @include size-equal(46px);
    text-align: center;
    font-size: 24px;
    display: inline-block;
    line-height: 45px;
    border-radius: 50%;
    transition: all .2s;
    &.btn-circle-sm {
        @include size-equal(32px);
        font-size: 16px;
        line-height: 30px;
    }
}
.btn-circle-blue {
    color: $light;
    background-color: $blue;
    &:hover,
    &:active {
        color: $light;
        background-color: darken($blue, 2%);
    }
}
.btn-circle-gray {
    color: $blue;
    background-color: $pale-white-darker;
    &:hover,
    &:active {
        color: $blue;
        background-color: darken($pale-white-darker, 2%);
    }
}