html,
body,
ol,
ul {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

a,
a:link,
a:visited,
a:hover,
a:active,
button,
button:focus,
button:active,
button:hover {
    text-decoration: none;
    outline: 0;
}

// ::selection {
    // background: $purple;
    // color: $light;
// }


// hr {
    // border-top: 1px solid $border;
// }

img {
    max-width: 100%;
}

ul > li {
    list-style: none;
}

iframe {
    width: 100%;
    border: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $black;
}

// select
.select {
    position: relative;
    z-index: 1;
    select {
        background-color: transparent !important;
    }
    &::before {
        @extend .v-center;
        content: "\f107";
        font-family: 'FontAwesome';
        font-size: 22px;
        color: $blue;
        right: 0;
        z-index: -1;
    }
}

// dropdown
.dropdown-style {
    .dropdown {
        position: relative;
        &::after {
            position: absolute;
            content: "\f107";
            font-family: "FontAwesome";
            z-index: -1;
        }
    }
    .dropdown-menu {
        min-width: 175px;
        padding: 15px 0;
        box-shadow: 13px 38px 50px 0 rgba(133, 143, 175, 0.2);
        border-color: #ededed;
        border-radius: 10px;
        margin-top: 0;
        top: calc(100% + 16px) !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        a {
            padding: 0 20px;
            display: block;
            color: $blue;
            line-height: 2.3;
            white-space: nowrap;
            position: relative;
            transition: all .2s;
            &::before {
                @include size(3px, 100%);
                position: absolute;
                content: "";
                background-color: $blue;
                display: inline-block;
                top: 0;
                left: -1px;
                opacity: 0;
                transition: all .2s;
            }
            &.active,
            &.current-menu-item,
            &:hover,
            &:active {
                background-color: rgba($blue, 0.05);
                &::before {
                    opacity: 1;
                }
            }
        }
        &::after {
            @extend .h-center;
            @include size-equal(16px);
            content: "";
            display: inline-block;
            margin-left: -7px;
            background-color: $light;
            border-top: 1px solid #ededed;
            border-right: 1px solid #ededed;
            border-top-right-radius: 4px;
            top: -9px;
            transform: rotate(-45deg);
        }
    }
}

// section intro
.section-intro {
    @include push-auto;
    max-width: 800px;
    text-align: center;
    margin-bottom: 70px;
    h2 {
        font-weight: 400;
        span {
            font-size: 24px;
            display: block;
        }
    }
    p {
        margin-top: 20px;
    }
}

.section-intro-o {
    .section-intro {
        max-width: 910px;
        margin-bottom: 0;
    }
}

.section-intro-feedback {
    margin: 0 0 90px;
    text-align: left;
    h2 {
        max-width: 625px;
        margin: 0;
        position: relative;
        &::after {
            @include size(148px, auto);
            position: absolute;
            content: url(../images/icon-quote.png);
            top: -65px;
            right: -255px;
            transform: scale(.5);
        }
    }
}

// box
.box-primary {
    background-color: $light;
    border-radius: 10px;
}
.box-secondary {
    background-color: $light;
    border-radius: 10px;
    box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
}


// wp admin bar fix
body.admin-bar .fixed-top {
    top: 32px;
}


/////////////////////////////
// responsive
/////////////////////////////
@media (max-width: 991px) {
    .section-intro-feedback {
        h2 {
            &::after {
                width: 70px;
                top: -55px;
                right: 28px;
            }
        }
    }
}

@media (max-width: 767px) {
    .section-intro {
        h2 {
            font-size: 30px;
        }
    }
    .section-intro-feedback {
        h2 {
            max-width: 100%;
            text-align: center;
            &::after {
                display: none;
            }
        }
    }
}