.form-control {
    @include placeholder(14px, rgba(155, 155, 155, 0.6));
    @include rgba-border($black-lighter, 0.25);
    height: 38px;
    border-width: 0 0 1px;
    border-radius: 0;
    padding: 5px 0;
	color: $black;
    font-size: 14px;
    line-height: 1.65;
    appearance: none;
	&:focus {
        color: $black;
        border-color: $blue;
        box-shadow: none;
        // outline: none;
	}
}

select::-ms-expand{
    display:none;
}