.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-inflex-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.d-table {
    position: relative;
    display: table;
    width: 100%;
    > :nth-child(n+1) {
        display: table-cell;
        vertical-align: middle;
    }
}

.d-inline {
    font-size: 0;
     > :nth-child(n+1) {
         font-size: initial;
         display: inline-block;
         vertical-align: middle;
    }
}

.vh-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.h-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

// position
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
.p-static {
    position: static;
}
.p-fixed {
    position: fixed;
}

// helper classes for margin
// margin
.sp-m-0 { margin: 0; }
.sp-m-1 { margin: 1px; }
.sp-m-2 { margin: 2px; }
.sp-m-3 { margin: 3px; }
.sp-m-4 { margin: 4px; }
.sp-m-5 { margin: 5px; }
.sp-m-6 { margin: 6px; }
.sp-m-7 { margin: 7px; }
.sp-m-8 { margin: 8px; }
.sp-m-9 { margin: 9px; }
.sp-m-10 { margin: 10px; }
.sp-m-11 { margin: 11px; }
.sp-m-12 { margin: 12px; }
.sp-m-13 { margin: 13px; }
.sp-m-14 { margin: 14px; }
.sp-m-15 { margin: 15px; }
.sp-m-16 { margin: 16px; }
.sp-m-17 { margin: 17px; }
.sp-m-18 { margin: 18px; }
.sp-m-19 { margin: 19px; }
.sp-m-20 { margin: 20px; }
.sp-m-21 { margin: 21px; }
.sp-m-22 { margin: 22px; }
.sp-m-23 { margin: 23px; }
.sp-m-24 { margin: 24px; }
.sp-m-25 { margin: 25px; }
.sp-m-26 { margin: 26px; }
.sp-m-27 { margin: 27px; }
.sp-m-28 { margin: 28px; }
.sp-m-29 { margin: 29px; }
.sp-m-30 { margin: 30px; }
.sp-m-31 { margin: 31px; }
.sp-m-32 { margin: 32px; }
.sp-m-33 { margin: 33px; }
.sp-m-34 { margin: 34px; }
.sp-m-35 { margin: 35px; }
.sp-m-36 { margin: 36px; }
.sp-m-37 { margin: 37px; }
.sp-m-38 { margin: 38px; }
.sp-m-39 { margin: 39px; }
.sp-m-40 { margin: 40px; }
.sp-m-41 { margin: 41px; }
.sp-m-42 { margin: 42px; }
.sp-m-43 { margin: 43px; }
.sp-m-44 { margin: 44px; }
.sp-m-45 { margin: 45px; }
.sp-m-46 { margin: 46px; }
.sp-m-47 { margin: 47px; }
.sp-m-48 { margin: 48px; }
.sp-m-49 { margin: 49px; }
.sp-m-50 { margin: 50px; }
.sp-m-51 { margin: 51px; }
.sp-m-52 { margin: 52px; }
.sp-m-53 { margin: 53px; }
.sp-m-54 { margin: 54px; }
.sp-m-55 { margin: 55px; }
.sp-m-56 { margin: 56px; }
.sp-m-57 { margin: 57px; }
.sp-m-58 { margin: 58px; }
.sp-m-59 { margin: 59px; }
.sp-m-60 { margin: 60px; }
.sp-m-61 { margin: 61px; }
.sp-m-62 { margin: 62px; }
.sp-m-63 { margin: 63px; }
.sp-m-64 { margin: 64px; }
.sp-m-65 { margin: 65px; }
.sp-m-66 { margin: 66px; }
.sp-m-67 { margin: 67px; }
.sp-m-68 { margin: 68px; }
.sp-m-69 { margin: 69px; }
.sp-m-70 { margin: 70px; }
.sp-m-71 { margin: 71px; }
.sp-m-72 { margin: 72px; }
.sp-m-73 { margin: 73px; }
.sp-m-74 { margin: 74px; }
.sp-m-75 { margin: 75px; }
.sp-m-76 { margin: 76px; }
.sp-m-77 { margin: 77px; }
.sp-m-78 { margin: 78px; }
.sp-m-79 { margin: 79px; }
.sp-m-80 { margin: 80px; }
.sp-m-81 { margin: 81px; }
.sp-m-82 { margin: 82px; }
.sp-m-83 { margin: 83px; }
.sp-m-84 { margin: 84px; }
.sp-m-85 { margin: 85px; }
.sp-m-86 { margin: 86px; }
.sp-m-87 { margin: 87px; }
.sp-m-88 { margin: 88px; }
.sp-m-89 { margin: 89px; }
.sp-m-90 { margin: 90px; }
.sp-m-91 { margin: 91px; }
.sp-m-92 { margin: 92px; }
.sp-m-93 { margin: 93px; }
.sp-m-94 { margin: 94px; }
.sp-m-95 { margin: 95px; }
.sp-m-96 { margin: 96px; }
.sp-m-97 { margin: 97px; }
.sp-m-98 { margin: 98px; }
.sp-m-99 { margin: 99px; }
.sp-m-100 { margin: 100px; }
.sp-m-101 { margin: 101px; }
.sp-m-102 { margin: 102px; }
.sp-m-103 { margin: 103px; }
.sp-m-104 { margin: 104px; }
.sp-m-105 { margin: 105px; }
.sp-m-106 { margin: 106px; }
.sp-m-107 { margin: 107px; }
.sp-m-108 { margin: 108px; }
.sp-m-109 { margin: 109px; }
.sp-m-110 { margin: 110px; }
.sp-m-111 { margin: 111px; }
.sp-m-112 { margin: 112px; }
.sp-m-113 { margin: 113px; }
.sp-m-114 { margin: 114px; }
.sp-m-115 { margin: 115px; }
.sp-m-116 { margin: 116px; }
.sp-m-117 { margin: 117px; }
.sp-m-118 { margin: 118px; }
.sp-m-119 { margin: 119px; }
.sp-m-120 { margin: 120px; }
.sp-m-121 { margin: 121px; }
.sp-m-122 { margin: 122px; }
.sp-m-123 { margin: 123px; }
.sp-m-124 { margin: 124px; }
.sp-m-125 { margin: 125px; }
.sp-m-126 { margin: 126px; }
.sp-m-127 { margin: 127px; }
.sp-m-128 { margin: 128px; }
.sp-m-129 { margin: 129px; }
.sp-m-130 { margin: 130px; }
.sp-m-131 { margin: 131px; }
.sp-m-132 { margin: 132px; }
.sp-m-133 { margin: 133px; }
.sp-m-134 { margin: 134px; }
.sp-m-135 { margin: 135px; }
.sp-m-136 { margin: 136px; }
.sp-m-137 { margin: 137px; }
.sp-m-138 { margin: 138px; }
.sp-m-139 { margin: 139px; }
.sp-m-140 { margin: 140px; }
.sp-m-141 { margin: 141px; }
.sp-m-142 { margin: 142px; }
.sp-m-143 { margin: 143px; }
.sp-m-144 { margin: 144px; }
.sp-m-145 { margin: 145px; }
.sp-m-146 { margin: 146px; }
.sp-m-147 { margin: 147px; }
.sp-m-148 { margin: 148px; }
.sp-m-149 { margin: 149px; }
.sp-m-150 { margin: 150px; }
// margin top
.sp-mt-0 { margin-top: 0; }
.sp-mt-1 { margin-top: 1px; }
.sp-mt-2 { margin-top: 2px; }
.sp-mt-3 { margin-top: 3px; }
.sp-mt-4 { margin-top: 4px; }
.sp-mt-5 { margin-top: 5px; }
.sp-mt-6 { margin-top: 6px; }
.sp-mt-7 { margin-top: 7px; }
.sp-mt-8 { margin-top: 8px; }
.sp-mt-9 { margin-top: 9px; }
.sp-mt-10 { margin-top: 10px; }
.sp-mt-11 { margin-top: 11px; }
.sp-mt-12 { margin-top: 12px; }
.sp-mt-13 { margin-top: 13px; }
.sp-mt-14 { margin-top: 14px; }
.sp-mt-15 { margin-top: 15px; }
.sp-mt-16 { margin-top: 16px; }
.sp-mt-17 { margin-top: 17px; }
.sp-mt-18 { margin-top: 18px; }
.sp-mt-19 { margin-top: 19px; }
.sp-mt-20 { margin-top: 20px; }
.sp-mt-21 { margin-top: 21px; }
.sp-mt-22 { margin-top: 22px; }
.sp-mt-23 { margin-top: 23px; }
.sp-mt-24 { margin-top: 24px; }
.sp-mt-25 { margin-top: 25px; }
.sp-mt-26 { margin-top: 26px; }
.sp-mt-27 { margin-top: 27px; }
.sp-mt-28 { margin-top: 28px; }
.sp-mt-29 { margin-top: 29px; }
.sp-mt-30 { margin-top: 30px; }
.sp-mt-31 { margin-top: 31px; }
.sp-mt-32 { margin-top: 32px; }
.sp-mt-33 { margin-top: 33px; }
.sp-mt-34 { margin-top: 34px; }
.sp-mt-35 { margin-top: 35px; }
.sp-mt-36 { margin-top: 36px; }
.sp-mt-37 { margin-top: 37px; }
.sp-mt-38 { margin-top: 38px; }
.sp-mt-39 { margin-top: 39px; }
.sp-mt-40 { margin-top: 40px; }
.sp-mt-41 { margin-top: 41px; }
.sp-mt-42 { margin-top: 42px; }
.sp-mt-43 { margin-top: 43px; }
.sp-mt-44 { margin-top: 44px; }
.sp-mt-45 { margin-top: 45px; }
.sp-mt-46 { margin-top: 46px; }
.sp-mt-47 { margin-top: 47px; }
.sp-mt-48 { margin-top: 48px; }
.sp-mt-49 { margin-top: 49px; }
.sp-mt-50 { margin-top: 50px; }
.sp-mt-51 { margin-top: 51px; }
.sp-mt-52 { margin-top: 52px; }
.sp-mt-53 { margin-top: 53px; }
.sp-mt-54 { margin-top: 54px; }
.sp-mt-55 { margin-top: 55px; }
.sp-mt-56 { margin-top: 56px; }
.sp-mt-57 { margin-top: 57px; }
.sp-mt-58 { margin-top: 58px; }
.sp-mt-59 { margin-top: 59px; }
.sp-mt-60 { margin-top: 60px; }
.sp-mt-61 { margin-top: 61px; }
.sp-mt-62 { margin-top: 62px; }
.sp-mt-63 { margin-top: 63px; }
.sp-mt-64 { margin-top: 64px; }
.sp-mt-65 { margin-top: 65px; }
.sp-mt-66 { margin-top: 66px; }
.sp-mt-67 { margin-top: 67px; }
.sp-mt-68 { margin-top: 68px; }
.sp-mt-69 { margin-top: 69px; }
.sp-mt-70 { margin-top: 70px; }
.sp-mt-71 { margin-top: 71px; }
.sp-mt-72 { margin-top: 72px; }
.sp-mt-73 { margin-top: 73px; }
.sp-mt-74 { margin-top: 74px; }
.sp-mt-75 { margin-top: 75px; }
.sp-mt-76 { margin-top: 76px; }
.sp-mt-77 { margin-top: 77px; }
.sp-mt-78 { margin-top: 78px; }
.sp-mt-79 { margin-top: 79px; }
.sp-mt-80 { margin-top: 80px; }
.sp-mt-81 { margin-top: 81px; }
.sp-mt-82 { margin-top: 82px; }
.sp-mt-83 { margin-top: 83px; }
.sp-mt-84 { margin-top: 84px; }
.sp-mt-85 { margin-top: 85px; }
.sp-mt-86 { margin-top: 86px; }
.sp-mt-87 { margin-top: 87px; }
.sp-mt-88 { margin-top: 88px; }
.sp-mt-89 { margin-top: 89px; }
.sp-mt-90 { margin-top: 90px; }
.sp-mt-91 { margin-top: 91px; }
.sp-mt-92 { margin-top: 92px; }
.sp-mt-93 { margin-top: 93px; }
.sp-mt-94 { margin-top: 94px; }
.sp-mt-95 { margin-top: 95px; }
.sp-mt-96 { margin-top: 96px; }
.sp-mt-97 { margin-top: 97px; }
.sp-mt-98 { margin-top: 98px; }
.sp-mt-99 { margin-top: 99px; }
.sp-mt-100 { margin-top: 100px; }
.sp-mt-101 { margin-top: 101px; }
.sp-mt-102 { margin-top: 102px; }
.sp-mt-103 { margin-top: 103px; }
.sp-mt-104 { margin-top: 104px; }
.sp-mt-105 { margin-top: 105px; }
.sp-mt-106 { margin-top: 106px; }
.sp-mt-107 { margin-top: 107px; }
.sp-mt-108 { margin-top: 108px; }
.sp-mt-109 { margin-top: 109px; }
.sp-mt-110 { margin-top: 110px; }
.sp-mt-111 { margin-top: 111px; }
.sp-mt-112 { margin-top: 112px; }
.sp-mt-113 { margin-top: 113px; }
.sp-mt-114 { margin-top: 114px; }
.sp-mt-115 { margin-top: 115px; }
.sp-mt-116 { margin-top: 116px; }
.sp-mt-117 { margin-top: 117px; }
.sp-mt-118 { margin-top: 118px; }
.sp-mt-119 { margin-top: 119px; }
.sp-mt-120 { margin-top: 120px; }
.sp-mt-121 { margin-top: 121px; }
.sp-mt-122 { margin-top: 122px; }
.sp-mt-123 { margin-top: 123px; }
.sp-mt-124 { margin-top: 124px; }
.sp-mt-125 { margin-top: 125px; }
.sp-mt-126 { margin-top: 126px; }
.sp-mt-127 { margin-top: 127px; }
.sp-mt-128 { margin-top: 128px; }
.sp-mt-129 { margin-top: 129px; }
.sp-mt-130 { margin-top: 130px; }
.sp-mt-131 { margin-top: 131px; }
.sp-mt-132 { margin-top: 132px; }
.sp-mt-133 { margin-top: 133px; }
.sp-mt-134 { margin-top: 134px; }
.sp-mt-135 { margin-top: 135px; }
.sp-mt-136 { margin-top: 136px; }
.sp-mt-137 { margin-top: 137px; }
.sp-mt-138 { margin-top: 138px; }
.sp-mt-139 { margin-top: 139px; }
.sp-mt-140 { margin-top: 140px; }
.sp-mt-141 { margin-top: 141px; }
.sp-mt-142 { margin-top: 142px; }
.sp-mt-143 { margin-top: 143px; }
.sp-mt-144 { margin-top: 144px; }
.sp-mt-145 { margin-top: 145px; }
.sp-mt-146 { margin-top: 146px; }
.sp-mt-147 { margin-top: 147px; }
.sp-mt-148 { margin-top: 148px; }
.sp-mt-149 { margin-top: 149px; }
.sp-mt-150 { margin-top: 150px; }
// margin bottom
.sp-mb-0 { margin-bottom: 0; }
.sp-mb-1 { margin-bottom: 1px; }
.sp-mb-2 { margin-bottom: 2px; }
.sp-mb-3 { margin-bottom: 3px; }
.sp-mb-4 { margin-bottom: 4px; }
.sp-mb-5 { margin-bottom: 5px; }
.sp-mb-6 { margin-bottom: 6px; }
.sp-mb-7 { margin-bottom: 7px; }
.sp-mb-8 { margin-bottom: 8px; }
.sp-mb-9 { margin-bottom: 9px; }
.sp-mb-10 { margin-bottom: 10px; }
.sp-mb-11 { margin-bottom: 11px; }
.sp-mb-12 { margin-bottom: 12px; }
.sp-mb-13 { margin-bottom: 13px; }
.sp-mb-14 { margin-bottom: 14px; }
.sp-mb-15 { margin-bottom: 15px; }
.sp-mb-16 { margin-bottom: 16px; }
.sp-mb-17 { margin-bottom: 17px; }
.sp-mb-18 { margin-bottom: 18px; }
.sp-mb-19 { margin-bottom: 19px; }
.sp-mb-20 { margin-bottom: 20px; }
.sp-mb-21 { margin-bottom: 21px; }
.sp-mb-22 { margin-bottom: 22px; }
.sp-mb-23 { margin-bottom: 23px; }
.sp-mb-24 { margin-bottom: 24px; }
.sp-mb-25 { margin-bottom: 25px; }
.sp-mb-26 { margin-bottom: 26px; }
.sp-mb-27 { margin-bottom: 27px; }
.sp-mb-28 { margin-bottom: 28px; }
.sp-mb-29 { margin-bottom: 29px; }
.sp-mb-30 { margin-bottom: 30px; }
.sp-mb-31 { margin-bottom: 31px; }
.sp-mb-32 { margin-bottom: 32px; }
.sp-mb-33 { margin-bottom: 33px; }
.sp-mb-34 { margin-bottom: 34px; }
.sp-mb-35 { margin-bottom: 35px; }
.sp-mb-36 { margin-bottom: 36px; }
.sp-mb-37 { margin-bottom: 37px; }
.sp-mb-38 { margin-bottom: 38px; }
.sp-mb-39 { margin-bottom: 39px; }
.sp-mb-40 { margin-bottom: 40px; }
.sp-mb-41 { margin-bottom: 41px; }
.sp-mb-42 { margin-bottom: 42px; }
.sp-mb-43 { margin-bottom: 43px; }
.sp-mb-44 { margin-bottom: 44px; }
.sp-mb-45 { margin-bottom: 45px; }
.sp-mb-46 { margin-bottom: 46px; }
.sp-mb-47 { margin-bottom: 47px; }
.sp-mb-48 { margin-bottom: 48px; }
.sp-mb-49 { margin-bottom: 49px; }
.sp-mb-50 { margin-bottom: 50px; }
.sp-mb-51 { margin-bottom: 51px; }
.sp-mb-52 { margin-bottom: 52px; }
.sp-mb-53 { margin-bottom: 53px; }
.sp-mb-54 { margin-bottom: 54px; }
.sp-mb-55 { margin-bottom: 55px; }
.sp-mb-56 { margin-bottom: 56px; }
.sp-mb-57 { margin-bottom: 57px; }
.sp-mb-58 { margin-bottom: 58px; }
.sp-mb-59 { margin-bottom: 59px; }
.sp-mb-60 { margin-bottom: 60px; }
.sp-mb-61 { margin-bottom: 61px; }
.sp-mb-62 { margin-bottom: 62px; }
.sp-mb-63 { margin-bottom: 63px; }
.sp-mb-64 { margin-bottom: 64px; }
.sp-mb-65 { margin-bottom: 65px; }
.sp-mb-66 { margin-bottom: 66px; }
.sp-mb-67 { margin-bottom: 67px; }
.sp-mb-68 { margin-bottom: 68px; }
.sp-mb-69 { margin-bottom: 69px; }
.sp-mb-70 { margin-bottom: 70px; }
.sp-mb-71 { margin-bottom: 71px; }
.sp-mb-72 { margin-bottom: 72px; }
.sp-mb-73 { margin-bottom: 73px; }
.sp-mb-74 { margin-bottom: 74px; }
.sp-mb-75 { margin-bottom: 75px; }
.sp-mb-76 { margin-bottom: 76px; }
.sp-mb-77 { margin-bottom: 77px; }
.sp-mb-78 { margin-bottom: 78px; }
.sp-mb-79 { margin-bottom: 79px; }
.sp-mb-80 { margin-bottom: 80px; }
.sp-mb-81 { margin-bottom: 81px; }
.sp-mb-82 { margin-bottom: 82px; }
.sp-mb-83 { margin-bottom: 83px; }
.sp-mb-84 { margin-bottom: 84px; }
.sp-mb-85 { margin-bottom: 85px; }
.sp-mb-86 { margin-bottom: 86px; }
.sp-mb-87 { margin-bottom: 87px; }
.sp-mb-88 { margin-bottom: 88px; }
.sp-mb-89 { margin-bottom: 89px; }
.sp-mb-90 { margin-bottom: 90px; }
.sp-mb-91 { margin-bottom: 91px; }
.sp-mb-92 { margin-bottom: 92px; }
.sp-mb-93 { margin-bottom: 93px; }
.sp-mb-94 { margin-bottom: 94px; }
.sp-mb-95 { margin-bottom: 95px; }
.sp-mb-96 { margin-bottom: 96px; }
.sp-mb-97 { margin-bottom: 97px; }
.sp-mb-98 { margin-bottom: 98px; }
.sp-mb-99 { margin-bottom: 99px; }
.sp-mb-100 { margin-bottom: 100px; }
.sp-mb-101 { margin-bottom: 101px; }
.sp-mb-102 { margin-bottom: 102px; }
.sp-mb-103 { margin-bottom: 103px; }
.sp-mb-104 { margin-bottom: 104px; }
.sp-mb-105 { margin-bottom: 105px; }
.sp-mb-106 { margin-bottom: 106px; }
.sp-mb-107 { margin-bottom: 107px; }
.sp-mb-108 { margin-bottom: 108px; }
.sp-mb-109 { margin-bottom: 109px; }
.sp-mb-110 { margin-bottom: 110px; }
.sp-mb-111 { margin-bottom: 111px; }
.sp-mb-112 { margin-bottom: 112px; }
.sp-mb-113 { margin-bottom: 113px; }
.sp-mb-114 { margin-bottom: 114px; }
.sp-mb-115 { margin-bottom: 115px; }
.sp-mb-116 { margin-bottom: 116px; }
.sp-mb-117 { margin-bottom: 117px; }
.sp-mb-118 { margin-bottom: 118px; }
.sp-mb-119 { margin-bottom: 119px; }
.sp-mb-120 { margin-bottom: 120px; }
.sp-mb-121 { margin-bottom: 121px; }
.sp-mb-122 { margin-bottom: 122px; }
.sp-mb-123 { margin-bottom: 123px; }
.sp-mb-124 { margin-bottom: 124px; }
.sp-mb-125 { margin-bottom: 125px; }
.sp-mb-126 { margin-bottom: 126px; }
.sp-mb-127 { margin-bottom: 127px; }
.sp-mb-128 { margin-bottom: 128px; }
.sp-mb-129 { margin-bottom: 129px; }
.sp-mb-130 { margin-bottom: 130px; }
.sp-mb-131 { margin-bottom: 131px; }
.sp-mb-132 { margin-bottom: 132px; }
.sp-mb-133 { margin-bottom: 133px; }
.sp-mb-134 { margin-bottom: 134px; }
.sp-mb-135 { margin-bottom: 135px; }
.sp-mb-136 { margin-bottom: 136px; }
.sp-mb-137 { margin-bottom: 137px; }
.sp-mb-138 { margin-bottom: 138px; }
.sp-mb-139 { margin-bottom: 139px; }
.sp-mb-140 { margin-bottom: 140px; }
.sp-mb-141 { margin-bottom: 141px; }
.sp-mb-142 { margin-bottom: 142px; }
.sp-mb-143 { margin-bottom: 143px; }
.sp-mb-144 { margin-bottom: 144px; }
.sp-mb-145 { margin-bottom: 145px; }
.sp-mb-146 { margin-bottom: 146px; }
.sp-mb-147 { margin-bottom: 147px; }
.sp-mb-148 { margin-bottom: 148px; }
.sp-mb-149 { margin-bottom: 149px; }
.sp-mb-150 { margin-bottom: 150px; }
// margin left
.sp-ml-0 { margin-left: 0; }
.sp-ml-1 { margin-left: 1px; }
.sp-ml-2 { margin-left: 2px; }
.sp-ml-3 { margin-left: 3px; }
.sp-ml-4 { margin-left: 4px; }
.sp-ml-5 { margin-left: 5px; }
.sp-ml-6 { margin-left: 6px; }
.sp-ml-7 { margin-left: 7px; }
.sp-ml-8 { margin-left: 8px; }
.sp-ml-9 { margin-left: 9px; }
.sp-ml-10 { margin-left: 10px; }
.sp-ml-11 { margin-left: 11px; }
.sp-ml-12 { margin-left: 12px; }
.sp-ml-13 { margin-left: 13px; }
.sp-ml-14 { margin-left: 14px; }
.sp-ml-15 { margin-left: 15px; }
.sp-ml-16 { margin-left: 16px; }
.sp-ml-17 { margin-left: 17px; }
.sp-ml-18 { margin-left: 18px; }
.sp-ml-19 { margin-left: 19px; }
.sp-ml-20 { margin-left: 20px; }
.sp-ml-21 { margin-left: 21px; }
.sp-ml-22 { margin-left: 22px; }
.sp-ml-23 { margin-left: 23px; }
.sp-ml-24 { margin-left: 24px; }
.sp-ml-25 { margin-left: 25px; }
.sp-ml-26 { margin-left: 26px; }
.sp-ml-27 { margin-left: 27px; }
.sp-ml-28 { margin-left: 28px; }
.sp-ml-29 { margin-left: 29px; }
.sp-ml-30 { margin-left: 30px; }
.sp-ml-31 { margin-left: 31px; }
.sp-ml-32 { margin-left: 32px; }
.sp-ml-33 { margin-left: 33px; }
.sp-ml-34 { margin-left: 34px; }
.sp-ml-35 { margin-left: 35px; }
.sp-ml-36 { margin-left: 36px; }
.sp-ml-37 { margin-left: 37px; }
.sp-ml-38 { margin-left: 38px; }
.sp-ml-39 { margin-left: 39px; }
.sp-ml-40 { margin-left: 40px; }
.sp-ml-41 { margin-left: 41px; }
.sp-ml-42 { margin-left: 42px; }
.sp-ml-43 { margin-left: 43px; }
.sp-ml-44 { margin-left: 44px; }
.sp-ml-45 { margin-left: 45px; }
.sp-ml-46 { margin-left: 46px; }
.sp-ml-47 { margin-left: 47px; }
.sp-ml-48 { margin-left: 48px; }
.sp-ml-49 { margin-left: 49px; }
.sp-ml-50 { margin-left: 50px; }
.sp-ml-51 { margin-left: 51px; }
.sp-ml-52 { margin-left: 52px; }
.sp-ml-53 { margin-left: 53px; }
.sp-ml-54 { margin-left: 54px; }
.sp-ml-55 { margin-left: 55px; }
.sp-ml-56 { margin-left: 56px; }
.sp-ml-57 { margin-left: 57px; }
.sp-ml-58 { margin-left: 58px; }
.sp-ml-59 { margin-left: 59px; }
.sp-ml-60 { margin-left: 60px; }
.sp-ml-61 { margin-left: 61px; }
.sp-ml-62 { margin-left: 62px; }
.sp-ml-63 { margin-left: 63px; }
.sp-ml-64 { margin-left: 64px; }
.sp-ml-65 { margin-left: 65px; }
.sp-ml-66 { margin-left: 66px; }
.sp-ml-67 { margin-left: 67px; }
.sp-ml-68 { margin-left: 68px; }
.sp-ml-69 { margin-left: 69px; }
.sp-ml-70 { margin-left: 70px; }
.sp-ml-71 { margin-left: 71px; }
.sp-ml-72 { margin-left: 72px; }
.sp-ml-73 { margin-left: 73px; }
.sp-ml-74 { margin-left: 74px; }
.sp-ml-75 { margin-left: 75px; }
.sp-ml-76 { margin-left: 76px; }
.sp-ml-77 { margin-left: 77px; }
.sp-ml-78 { margin-left: 78px; }
.sp-ml-79 { margin-left: 79px; }
.sp-ml-80 { margin-left: 80px; }
.sp-ml-81 { margin-left: 81px; }
.sp-ml-82 { margin-left: 82px; }
.sp-ml-83 { margin-left: 83px; }
.sp-ml-84 { margin-left: 84px; }
.sp-ml-85 { margin-left: 85px; }
.sp-ml-86 { margin-left: 86px; }
.sp-ml-87 { margin-left: 87px; }
.sp-ml-88 { margin-left: 88px; }
.sp-ml-89 { margin-left: 89px; }
.sp-ml-90 { margin-left: 90px; }
.sp-ml-91 { margin-left: 91px; }
.sp-ml-92 { margin-left: 92px; }
.sp-ml-93 { margin-left: 93px; }
.sp-ml-94 { margin-left: 94px; }
.sp-ml-95 { margin-left: 95px; }
.sp-ml-96 { margin-left: 96px; }
.sp-ml-97 { margin-left: 97px; }
.sp-ml-98 { margin-left: 98px; }
.sp-ml-99 { margin-left: 99px; }
.sp-ml-100 { margin-left: 100px; }
.sp-ml-101 { margin-left: 101px; }
.sp-ml-102 { margin-left: 102px; }
.sp-ml-103 { margin-left: 103px; }
.sp-ml-104 { margin-left: 104px; }
.sp-ml-105 { margin-left: 105px; }
.sp-ml-106 { margin-left: 106px; }
.sp-ml-107 { margin-left: 107px; }
.sp-ml-108 { margin-left: 108px; }
.sp-ml-109 { margin-left: 109px; }
.sp-ml-110 { margin-left: 110px; }
.sp-ml-111 { margin-left: 111px; }
.sp-ml-112 { margin-left: 112px; }
.sp-ml-113 { margin-left: 113px; }
.sp-ml-114 { margin-left: 114px; }
.sp-ml-115 { margin-left: 115px; }
.sp-ml-116 { margin-left: 116px; }
.sp-ml-117 { margin-left: 117px; }
.sp-ml-118 { margin-left: 118px; }
.sp-ml-119 { margin-left: 119px; }
.sp-ml-120 { margin-left: 120px; }
.sp-ml-121 { margin-left: 121px; }
.sp-ml-122 { margin-left: 122px; }
.sp-ml-123 { margin-left: 123px; }
.sp-ml-124 { margin-left: 124px; }
.sp-ml-125 { margin-left: 125px; }
.sp-ml-126 { margin-left: 126px; }
.sp-ml-127 { margin-left: 127px; }
.sp-ml-128 { margin-left: 128px; }
.sp-ml-129 { margin-left: 129px; }
.sp-ml-130 { margin-left: 130px; }
.sp-ml-131 { margin-left: 131px; }
.sp-ml-132 { margin-left: 132px; }
.sp-ml-133 { margin-left: 133px; }
.sp-ml-134 { margin-left: 134px; }
.sp-ml-135 { margin-left: 135px; }
.sp-ml-136 { margin-left: 136px; }
.sp-ml-137 { margin-left: 137px; }
.sp-ml-138 { margin-left: 138px; }
.sp-ml-139 { margin-left: 139px; }
.sp-ml-140 { margin-left: 140px; }
.sp-ml-141 { margin-left: 141px; }
.sp-ml-142 { margin-left: 142px; }
.sp-ml-143 { margin-left: 143px; }
.sp-ml-144 { margin-left: 144px; }
.sp-ml-145 { margin-left: 145px; }
.sp-ml-146 { margin-left: 146px; }
.sp-ml-147 { margin-left: 147px; }
.sp-ml-148 { margin-left: 148px; }
.sp-ml-149 { margin-left: 149px; }
.sp-ml-150 { margin-left: 150px; }
// margin right
.sp-mr-0 { margin-right: 0; }
.sp-mr-1 { margin-right: 1px; }
.sp-mr-2 { margin-right: 2px; }
.sp-mr-3 { margin-right: 3px; }
.sp-mr-4 { margin-right: 4px; }
.sp-mr-5 { margin-right: 5px; }
.sp-mr-6 { margin-right: 6px; }
.sp-mr-7 { margin-right: 7px; }
.sp-mr-8 { margin-right: 8px; }
.sp-mr-9 { margin-right: 9px; }
.sp-mr-10 { margin-right: 10px; }
.sp-mr-11 { margin-right: 11px; }
.sp-mr-12 { margin-right: 12px; }
.sp-mr-13 { margin-right: 13px; }
.sp-mr-14 { margin-right: 14px; }
.sp-mr-15 { margin-right: 15px; }
.sp-mr-16 { margin-right: 16px; }
.sp-mr-17 { margin-right: 17px; }
.sp-mr-18 { margin-right: 18px; }
.sp-mr-19 { margin-right: 19px; }
.sp-mr-20 { margin-right: 20px; }
.sp-mr-21 { margin-right: 21px; }
.sp-mr-22 { margin-right: 22px; }
.sp-mr-23 { margin-right: 23px; }
.sp-mr-24 { margin-right: 24px; }
.sp-mr-25 { margin-right: 25px; }
.sp-mr-26 { margin-right: 26px; }
.sp-mr-27 { margin-right: 27px; }
.sp-mr-28 { margin-right: 28px; }
.sp-mr-29 { margin-right: 29px; }
.sp-mr-30 { margin-right: 30px; }
.sp-mr-31 { margin-right: 31px; }
.sp-mr-32 { margin-right: 32px; }
.sp-mr-33 { margin-right: 33px; }
.sp-mr-34 { margin-right: 34px; }
.sp-mr-35 { margin-right: 35px; }
.sp-mr-36 { margin-right: 36px; }
.sp-mr-37 { margin-right: 37px; }
.sp-mr-38 { margin-right: 38px; }
.sp-mr-39 { margin-right: 39px; }
.sp-mr-40 { margin-right: 40px; }
.sp-mr-41 { margin-right: 41px; }
.sp-mr-42 { margin-right: 42px; }
.sp-mr-43 { margin-right: 43px; }
.sp-mr-44 { margin-right: 44px; }
.sp-mr-45 { margin-right: 45px; }
.sp-mr-46 { margin-right: 46px; }
.sp-mr-47 { margin-right: 47px; }
.sp-mr-48 { margin-right: 48px; }
.sp-mr-49 { margin-right: 49px; }
.sp-mr-50 { margin-right: 50px; }
.sp-mr-51 { margin-right: 51px; }
.sp-mr-52 { margin-right: 52px; }
.sp-mr-53 { margin-right: 53px; }
.sp-mr-54 { margin-right: 54px; }
.sp-mr-55 { margin-right: 55px; }
.sp-mr-56 { margin-right: 56px; }
.sp-mr-57 { margin-right: 57px; }
.sp-mr-58 { margin-right: 58px; }
.sp-mr-59 { margin-right: 59px; }
.sp-mr-60 { margin-right: 60px; }
.sp-mr-61 { margin-right: 61px; }
.sp-mr-62 { margin-right: 62px; }
.sp-mr-63 { margin-right: 63px; }
.sp-mr-64 { margin-right: 64px; }
.sp-mr-65 { margin-right: 65px; }
.sp-mr-66 { margin-right: 66px; }
.sp-mr-67 { margin-right: 67px; }
.sp-mr-68 { margin-right: 68px; }
.sp-mr-69 { margin-right: 69px; }
.sp-mr-70 { margin-right: 70px; }
.sp-mr-71 { margin-right: 71px; }
.sp-mr-72 { margin-right: 72px; }
.sp-mr-73 { margin-right: 73px; }
.sp-mr-74 { margin-right: 74px; }
.sp-mr-75 { margin-right: 75px; }
.sp-mr-76 { margin-right: 76px; }
.sp-mr-77 { margin-right: 77px; }
.sp-mr-78 { margin-right: 78px; }
.sp-mr-79 { margin-right: 79px; }
.sp-mr-80 { margin-right: 80px; }
.sp-mr-81 { margin-right: 81px; }
.sp-mr-82 { margin-right: 82px; }
.sp-mr-83 { margin-right: 83px; }
.sp-mr-84 { margin-right: 84px; }
.sp-mr-85 { margin-right: 85px; }
.sp-mr-86 { margin-right: 86px; }
.sp-mr-87 { margin-right: 87px; }
.sp-mr-88 { margin-right: 88px; }
.sp-mr-89 { margin-right: 89px; }
.sp-mr-90 { margin-right: 90px; }
.sp-mr-91 { margin-right: 91px; }
.sp-mr-92 { margin-right: 92px; }
.sp-mr-93 { margin-right: 93px; }
.sp-mr-94 { margin-right: 94px; }
.sp-mr-95 { margin-right: 95px; }
.sp-mr-96 { margin-right: 96px; }
.sp-mr-97 { margin-right: 97px; }
.sp-mr-98 { margin-right: 98px; }
.sp-mr-99 { margin-right: 99px; }
.sp-mr-100 { margin-right: 100px; }
.sp-mr-101 { margin-right: 101px; }
.sp-mr-102 { margin-right: 102px; }
.sp-mr-103 { margin-right: 103px; }
.sp-mr-104 { margin-right: 104px; }
.sp-mr-105 { margin-right: 105px; }
.sp-mr-106 { margin-right: 106px; }
.sp-mr-107 { margin-right: 107px; }
.sp-mr-108 { margin-right: 108px; }
.sp-mr-109 { margin-right: 109px; }
.sp-mr-110 { margin-right: 110px; }
.sp-mr-111 { margin-right: 111px; }
.sp-mr-112 { margin-right: 112px; }
.sp-mr-113 { margin-right: 113px; }
.sp-mr-114 { margin-right: 114px; }
.sp-mr-115 { margin-right: 115px; }
.sp-mr-116 { margin-right: 116px; }
.sp-mr-117 { margin-right: 117px; }
.sp-mr-118 { margin-right: 118px; }
.sp-mr-119 { margin-right: 119px; }
.sp-mr-120 { margin-right: 120px; }
.sp-mr-121 { margin-right: 121px; }
.sp-mr-122 { margin-right: 122px; }
.sp-mr-123 { margin-right: 123px; }
.sp-mr-124 { margin-right: 124px; }
.sp-mr-125 { margin-right: 125px; }
.sp-mr-126 { margin-right: 126px; }
.sp-mr-127 { margin-right: 127px; }
.sp-mr-128 { margin-right: 128px; }
.sp-mr-129 { margin-right: 129px; }
.sp-mr-130 { margin-right: 130px; }
.sp-mr-131 { margin-right: 131px; }
.sp-mr-132 { margin-right: 132px; }
.sp-mr-133 { margin-right: 133px; }
.sp-mr-134 { margin-right: 134px; }
.sp-mr-135 { margin-right: 135px; }
.sp-mr-136 { margin-right: 136px; }
.sp-mr-137 { margin-right: 137px; }
.sp-mr-138 { margin-right: 138px; }
.sp-mr-139 { margin-right: 139px; }
.sp-mr-140 { margin-right: 140px; }
.sp-mr-141 { margin-right: 141px; }
.sp-mr-142 { margin-right: 142px; }
.sp-mr-143 { margin-right: 143px; }
.sp-mr-144 { margin-right: 144px; }
.sp-mr-145 { margin-right: 145px; }
.sp-mr-146 { margin-right: 146px; }
.sp-mr-147 { margin-right: 147px; }
.sp-mr-148 { margin-right: 148px; }
.sp-mr-149 { margin-right: 149px; }
.sp-mr-150 { margin-right: 150px; }

// helper classes for padding
// padding
.sp-p-0 { padding: 0; }
.sp-p-1 { padding: 1px; }
.sp-p-2 { padding: 2px; }
.sp-p-3 { padding: 3px; }
.sp-p-4 { padding: 4px; }
.sp-p-5 { padding: 5px; }
.sp-p-6 { padding: 6px; }
.sp-p-7 { padding: 7px; }
.sp-p-8 { padding: 8px; }
.sp-p-9 { padding: 9px; }
.sp-p-10 { padding: 10px; }
.sp-p-11 { padding: 11px; }
.sp-p-12 { padding: 12px; }
.sp-p-13 { padding: 13px; }
.sp-p-14 { padding: 14px; }
.sp-p-15 { padding: 15px; }
.sp-p-16 { padding: 16px; }
.sp-p-17 { padding: 17px; }
.sp-p-18 { padding: 18px; }
.sp-p-19 { padding: 19px; }
.sp-p-20 { padding: 20px; }
.sp-p-21 { padding: 21px; }
.sp-p-22 { padding: 22px; }
.sp-p-23 { padding: 23px; }
.sp-p-24 { padding: 24px; }
.sp-p-25 { padding: 25px; }
.sp-p-26 { padding: 26px; }
.sp-p-27 { padding: 27px; }
.sp-p-28 { padding: 28px; }
.sp-p-29 { padding: 29px; }
.sp-p-30 { padding: 30px; }
.sp-p-31 { padding: 31px; }
.sp-p-32 { padding: 32px; }
.sp-p-33 { padding: 33px; }
.sp-p-34 { padding: 34px; }
.sp-p-35 { padding: 35px; }
.sp-p-36 { padding: 36px; }
.sp-p-37 { padding: 37px; }
.sp-p-38 { padding: 38px; }
.sp-p-39 { padding: 39px; }
.sp-p-40 { padding: 40px; }
.sp-p-41 { padding: 41px; }
.sp-p-42 { padding: 42px; }
.sp-p-43 { padding: 43px; }
.sp-p-44 { padding: 44px; }
.sp-p-45 { padding: 45px; }
.sp-p-46 { padding: 46px; }
.sp-p-47 { padding: 47px; }
.sp-p-48 { padding: 48px; }
.sp-p-49 { padding: 49px; }
.sp-p-50 { padding: 50px; }
.sp-p-51 { padding: 51px; }
.sp-p-52 { padding: 52px; }
.sp-p-53 { padding: 53px; }
.sp-p-54 { padding: 54px; }
.sp-p-55 { padding: 55px; }
.sp-p-56 { padding: 56px; }
.sp-p-57 { padding: 57px; }
.sp-p-58 { padding: 58px; }
.sp-p-59 { padding: 59px; }
.sp-p-60 { padding: 60px; }
.sp-p-61 { padding: 61px; }
.sp-p-62 { padding: 62px; }
.sp-p-63 { padding: 63px; }
.sp-p-64 { padding: 64px; }
.sp-p-65 { padding: 65px; }
.sp-p-66 { padding: 66px; }
.sp-p-67 { padding: 67px; }
.sp-p-68 { padding: 68px; }
.sp-p-69 { padding: 69px; }
.sp-p-70 { padding: 70px; }
.sp-p-71 { padding: 71px; }
.sp-p-72 { padding: 72px; }
.sp-p-73 { padding: 73px; }
.sp-p-74 { padding: 74px; }
.sp-p-75 { padding: 75px; }
.sp-p-76 { padding: 76px; }
.sp-p-77 { padding: 77px; }
.sp-p-78 { padding: 78px; }
.sp-p-79 { padding: 79px; }
.sp-p-80 { padding: 80px; }
.sp-p-81 { padding: 81px; }
.sp-p-82 { padding: 82px; }
.sp-p-83 { padding: 83px; }
.sp-p-84 { padding: 84px; }
.sp-p-85 { padding: 85px; }
.sp-p-86 { padding: 86px; }
.sp-p-87 { padding: 87px; }
.sp-p-88 { padding: 88px; }
.sp-p-89 { padding: 89px; }
.sp-p-90 { padding: 90px; }
.sp-p-91 { padding: 91px; }
.sp-p-92 { padding: 92px; }
.sp-p-93 { padding: 93px; }
.sp-p-94 { padding: 94px; }
.sp-p-95 { padding: 95px; }
.sp-p-96 { padding: 96px; }
.sp-p-97 { padding: 97px; }
.sp-p-98 { padding: 98px; }
.sp-p-99 { padding: 99px; }
.sp-p-100 { padding: 100px; }
.sp-p-101 { padding: 101px; }
.sp-p-102 { padding: 102px; }
.sp-p-103 { padding: 103px; }
.sp-p-104 { padding: 104px; }
.sp-p-105 { padding: 105px; }
.sp-p-106 { padding: 106px; }
.sp-p-107 { padding: 107px; }
.sp-p-108 { padding: 108px; }
.sp-p-109 { padding: 109px; }
.sp-p-110 { padding: 110px; }
.sp-p-111 { padding: 111px; }
.sp-p-112 { padding: 112px; }
.sp-p-113 { padding: 113px; }
.sp-p-114 { padding: 114px; }
.sp-p-115 { padding: 115px; }
.sp-p-116 { padding: 116px; }
.sp-p-117 { padding: 117px; }
.sp-p-118 { padding: 118px; }
.sp-p-119 { padding: 119px; }
.sp-p-120 { padding: 120px; }
.sp-p-121 { padding: 121px; }
.sp-p-122 { padding: 122px; }
.sp-p-123 { padding: 123px; }
.sp-p-124 { padding: 124px; }
.sp-p-125 { padding: 125px; }
.sp-p-126 { padding: 126px; }
.sp-p-127 { padding: 127px; }
.sp-p-128 { padding: 128px; }
.sp-p-129 { padding: 129px; }
.sp-p-130 { padding: 130px; }
.sp-p-131 { padding: 131px; }
.sp-p-132 { padding: 132px; }
.sp-p-133 { padding: 133px; }
.sp-p-134 { padding: 134px; }
.sp-p-135 { padding: 135px; }
.sp-p-136 { padding: 136px; }
.sp-p-137 { padding: 137px; }
.sp-p-138 { padding: 138px; }
.sp-p-139 { padding: 139px; }
.sp-p-140 { padding: 140px; }
.sp-p-141 { padding: 141px; }
.sp-p-142 { padding: 142px; }
.sp-p-143 { padding: 143px; }
.sp-p-144 { padding: 144px; }
.sp-p-145 { padding: 145px; }
.sp-p-146 { padding: 146px; }
.sp-p-147 { padding: 147px; }
.sp-p-148 { padding: 148px; }
.sp-p-149 { padding: 149px; }
.sp-p-150 { padding: 150px; }
// padding top
.sp-pt-0 { padding-top: 0; }
.sp-pt-1 { padding-top: 1px; }
.sp-pt-2 { padding-top: 2px; }
.sp-pt-3 { padding-top: 3px; }
.sp-pt-4 { padding-top: 4px; }
.sp-pt-5 { padding-top: 5px; }
.sp-pt-6 { padding-top: 6px; }
.sp-pt-7 { padding-top: 7px; }
.sp-pt-8 { padding-top: 8px; }
.sp-pt-9 { padding-top: 9px; }
.sp-pt-10 { padding-top: 10px; }
.sp-pt-11 { padding-top: 11px; }
.sp-pt-12 { padding-top: 12px; }
.sp-pt-13 { padding-top: 13px; }
.sp-pt-14 { padding-top: 14px; }
.sp-pt-15 { padding-top: 15px; }
.sp-pt-16 { padding-top: 16px; }
.sp-pt-17 { padding-top: 17px; }
.sp-pt-18 { padding-top: 18px; }
.sp-pt-19 { padding-top: 19px; }
.sp-pt-20 { padding-top: 20px; }
.sp-pt-21 { padding-top: 21px; }
.sp-pt-22 { padding-top: 22px; }
.sp-pt-23 { padding-top: 23px; }
.sp-pt-24 { padding-top: 24px; }
.sp-pt-25 { padding-top: 25px; }
.sp-pt-26 { padding-top: 26px; }
.sp-pt-27 { padding-top: 27px; }
.sp-pt-28 { padding-top: 28px; }
.sp-pt-29 { padding-top: 29px; }
.sp-pt-30 { padding-top: 30px; }
.sp-pt-31 { padding-top: 31px; }
.sp-pt-32 { padding-top: 32px; }
.sp-pt-33 { padding-top: 33px; }
.sp-pt-34 { padding-top: 34px; }
.sp-pt-35 { padding-top: 35px; }
.sp-pt-36 { padding-top: 36px; }
.sp-pt-37 { padding-top: 37px; }
.sp-pt-38 { padding-top: 38px; }
.sp-pt-39 { padding-top: 39px; }
.sp-pt-40 { padding-top: 40px; }
.sp-pt-41 { padding-top: 41px; }
.sp-pt-42 { padding-top: 42px; }
.sp-pt-43 { padding-top: 43px; }
.sp-pt-44 { padding-top: 44px; }
.sp-pt-45 { padding-top: 45px; }
.sp-pt-46 { padding-top: 46px; }
.sp-pt-47 { padding-top: 47px; }
.sp-pt-48 { padding-top: 48px; }
.sp-pt-49 { padding-top: 49px; }
.sp-pt-50 { padding-top: 50px; }
.sp-pt-51 { padding-top: 51px; }
.sp-pt-52 { padding-top: 52px; }
.sp-pt-53 { padding-top: 53px; }
.sp-pt-54 { padding-top: 54px; }
.sp-pt-55 { padding-top: 55px; }
.sp-pt-56 { padding-top: 56px; }
.sp-pt-57 { padding-top: 57px; }
.sp-pt-58 { padding-top: 58px; }
.sp-pt-59 { padding-top: 59px; }
.sp-pt-60 { padding-top: 60px; }
.sp-pt-61 { padding-top: 61px; }
.sp-pt-62 { padding-top: 62px; }
.sp-pt-63 { padding-top: 63px; }
.sp-pt-64 { padding-top: 64px; }
.sp-pt-65 { padding-top: 65px; }
.sp-pt-66 { padding-top: 66px; }
.sp-pt-67 { padding-top: 67px; }
.sp-pt-68 { padding-top: 68px; }
.sp-pt-69 { padding-top: 69px; }
.sp-pt-70 { padding-top: 70px; }
.sp-pt-71 { padding-top: 71px; }
.sp-pt-72 { padding-top: 72px; }
.sp-pt-73 { padding-top: 73px; }
.sp-pt-74 { padding-top: 74px; }
.sp-pt-75 { padding-top: 75px; }
.sp-pt-76 { padding-top: 76px; }
.sp-pt-77 { padding-top: 77px; }
.sp-pt-78 { padding-top: 78px; }
.sp-pt-79 { padding-top: 79px; }
.sp-pt-80 { padding-top: 80px; }
.sp-pt-81 { padding-top: 81px; }
.sp-pt-82 { padding-top: 82px; }
.sp-pt-83 { padding-top: 83px; }
.sp-pt-84 { padding-top: 84px; }
.sp-pt-85 { padding-top: 85px; }
.sp-pt-86 { padding-top: 86px; }
.sp-pt-87 { padding-top: 87px; }
.sp-pt-88 { padding-top: 88px; }
.sp-pt-89 { padding-top: 89px; }
.sp-pt-90 { padding-top: 90px; }
.sp-pt-91 { padding-top: 91px; }
.sp-pt-92 { padding-top: 92px; }
.sp-pt-93 { padding-top: 93px; }
.sp-pt-94 { padding-top: 94px; }
.sp-pt-95 { padding-top: 95px; }
.sp-pt-96 { padding-top: 96px; }
.sp-pt-97 { padding-top: 97px; }
.sp-pt-98 { padding-top: 98px; }
.sp-pt-99 { padding-top: 99px; }
.sp-pt-100 { padding-top: 100px; }
.sp-pt-101 { padding-top: 101px; }
.sp-pt-102 { padding-top: 102px; }
.sp-pt-103 { padding-top: 103px; }
.sp-pt-104 { padding-top: 104px; }
.sp-pt-105 { padding-top: 105px; }
.sp-pt-106 { padding-top: 106px; }
.sp-pt-107 { padding-top: 107px; }
.sp-pt-108 { padding-top: 108px; }
.sp-pt-109 { padding-top: 109px; }
.sp-pt-110 { padding-top: 110px; }
.sp-pt-111 { padding-top: 111px; }
.sp-pt-112 { padding-top: 112px; }
.sp-pt-113 { padding-top: 113px; }
.sp-pt-114 { padding-top: 114px; }
.sp-pt-115 { padding-top: 115px; }
.sp-pt-116 { padding-top: 116px; }
.sp-pt-117 { padding-top: 117px; }
.sp-pt-118 { padding-top: 118px; }
.sp-pt-119 { padding-top: 119px; }
.sp-pt-120 { padding-top: 120px; }
.sp-pt-121 { padding-top: 121px; }
.sp-pt-122 { padding-top: 122px; }
.sp-pt-123 { padding-top: 123px; }
.sp-pt-124 { padding-top: 124px; }
.sp-pt-125 { padding-top: 125px; }
.sp-pt-126 { padding-top: 126px; }
.sp-pt-127 { padding-top: 127px; }
.sp-pt-128 { padding-top: 128px; }
.sp-pt-129 { padding-top: 129px; }
.sp-pt-130 { padding-top: 130px; }
.sp-pt-131 { padding-top: 131px; }
.sp-pt-132 { padding-top: 132px; }
.sp-pt-133 { padding-top: 133px; }
.sp-pt-134 { padding-top: 134px; }
.sp-pt-135 { padding-top: 135px; }
.sp-pt-136 { padding-top: 136px; }
.sp-pt-137 { padding-top: 137px; }
.sp-pt-138 { padding-top: 138px; }
.sp-pt-139 { padding-top: 139px; }
.sp-pt-140 { padding-top: 140px; }
.sp-pt-141 { padding-top: 141px; }
.sp-pt-142 { padding-top: 142px; }
.sp-pt-143 { padding-top: 143px; }
.sp-pt-144 { padding-top: 144px; }
.sp-pt-145 { padding-top: 145px; }
.sp-pt-146 { padding-top: 146px; }
.sp-pt-147 { padding-top: 147px; }
.sp-pt-148 { padding-top: 148px; }
.sp-pt-149 { padding-top: 149px; }
.sp-pt-150 { padding-top: 150px; }
// padding bottom
.sp-pb-0 { padding-bottom: 0; }
.sp-pb-1 { padding-bottom: 1px; }
.sp-pb-2 { padding-bottom: 2px; }
.sp-pb-3 { padding-bottom: 3px; }
.sp-pb-4 { padding-bottom: 4px; }
.sp-pb-5 { padding-bottom: 5px; }
.sp-pb-6 { padding-bottom: 6px; }
.sp-pb-7 { padding-bottom: 7px; }
.sp-pb-8 { padding-bottom: 8px; }
.sp-pb-9 { padding-bottom: 9px; }
.sp-pb-10 { padding-bottom: 10px; }
.sp-pb-11 { padding-bottom: 11px; }
.sp-pb-12 { padding-bottom: 12px; }
.sp-pb-13 { padding-bottom: 13px; }
.sp-pb-14 { padding-bottom: 14px; }
.sp-pb-15 { padding-bottom: 15px; }
.sp-pb-16 { padding-bottom: 16px; }
.sp-pb-17 { padding-bottom: 17px; }
.sp-pb-18 { padding-bottom: 18px; }
.sp-pb-19 { padding-bottom: 19px; }
.sp-pb-20 { padding-bottom: 20px; }
.sp-pb-21 { padding-bottom: 21px; }
.sp-pb-22 { padding-bottom: 22px; }
.sp-pb-23 { padding-bottom: 23px; }
.sp-pb-24 { padding-bottom: 24px; }
.sp-pb-25 { padding-bottom: 25px; }
.sp-pb-26 { padding-bottom: 26px; }
.sp-pb-27 { padding-bottom: 27px; }
.sp-pb-28 { padding-bottom: 28px; }
.sp-pb-29 { padding-bottom: 29px; }
.sp-pb-30 { padding-bottom: 30px; }
.sp-pb-31 { padding-bottom: 31px; }
.sp-pb-32 { padding-bottom: 32px; }
.sp-pb-33 { padding-bottom: 33px; }
.sp-pb-34 { padding-bottom: 34px; }
.sp-pb-35 { padding-bottom: 35px; }
.sp-pb-36 { padding-bottom: 36px; }
.sp-pb-37 { padding-bottom: 37px; }
.sp-pb-38 { padding-bottom: 38px; }
.sp-pb-39 { padding-bottom: 39px; }
.sp-pb-40 { padding-bottom: 40px; }
.sp-pb-41 { padding-bottom: 41px; }
.sp-pb-42 { padding-bottom: 42px; }
.sp-pb-43 { padding-bottom: 43px; }
.sp-pb-44 { padding-bottom: 44px; }
.sp-pb-45 { padding-bottom: 45px; }
.sp-pb-46 { padding-bottom: 46px; }
.sp-pb-47 { padding-bottom: 47px; }
.sp-pb-48 { padding-bottom: 48px; }
.sp-pb-49 { padding-bottom: 49px; }
.sp-pb-50 { padding-bottom: 50px; }
.sp-pb-51 { padding-bottom: 51px; }
.sp-pb-52 { padding-bottom: 52px; }
.sp-pb-53 { padding-bottom: 53px; }
.sp-pb-54 { padding-bottom: 54px; }
.sp-pb-55 { padding-bottom: 55px; }
.sp-pb-56 { padding-bottom: 56px; }
.sp-pb-57 { padding-bottom: 57px; }
.sp-pb-58 { padding-bottom: 58px; }
.sp-pb-59 { padding-bottom: 59px; }
.sp-pb-60 { padding-bottom: 60px; }
.sp-pb-61 { padding-bottom: 61px; }
.sp-pb-62 { padding-bottom: 62px; }
.sp-pb-63 { padding-bottom: 63px; }
.sp-pb-64 { padding-bottom: 64px; }
.sp-pb-65 { padding-bottom: 65px; }
.sp-pb-66 { padding-bottom: 66px; }
.sp-pb-67 { padding-bottom: 67px; }
.sp-pb-68 { padding-bottom: 68px; }
.sp-pb-69 { padding-bottom: 69px; }
.sp-pb-70 { padding-bottom: 70px; }
.sp-pb-71 { padding-bottom: 71px; }
.sp-pb-72 { padding-bottom: 72px; }
.sp-pb-73 { padding-bottom: 73px; }
.sp-pb-74 { padding-bottom: 74px; }
.sp-pb-75 { padding-bottom: 75px; }
.sp-pb-76 { padding-bottom: 76px; }
.sp-pb-77 { padding-bottom: 77px; }
.sp-pb-78 { padding-bottom: 78px; }
.sp-pb-79 { padding-bottom: 79px; }
.sp-pb-80 { padding-bottom: 80px; }
.sp-pb-81 { padding-bottom: 81px; }
.sp-pb-82 { padding-bottom: 82px; }
.sp-pb-83 { padding-bottom: 83px; }
.sp-pb-84 { padding-bottom: 84px; }
.sp-pb-85 { padding-bottom: 85px; }
.sp-pb-86 { padding-bottom: 86px; }
.sp-pb-87 { padding-bottom: 87px; }
.sp-pb-88 { padding-bottom: 88px; }
.sp-pb-89 { padding-bottom: 89px; }
.sp-pb-90 { padding-bottom: 90px; }
.sp-pb-91 { padding-bottom: 91px; }
.sp-pb-92 { padding-bottom: 92px; }
.sp-pb-93 { padding-bottom: 93px; }
.sp-pb-94 { padding-bottom: 94px; }
.sp-pb-95 { padding-bottom: 95px; }
.sp-pb-96 { padding-bottom: 96px; }
.sp-pb-97 { padding-bottom: 97px; }
.sp-pb-98 { padding-bottom: 98px; }
.sp-pb-99 { padding-bottom: 99px; }
.sp-pb-100 { padding-bottom: 100px; }
.sp-pb-101 { padding-bottom: 101px; }
.sp-pb-102 { padding-bottom: 102px; }
.sp-pb-103 { padding-bottom: 103px; }
.sp-pb-104 { padding-bottom: 104px; }
.sp-pb-105 { padding-bottom: 105px; }
.sp-pb-106 { padding-bottom: 106px; }
.sp-pb-107 { padding-bottom: 107px; }
.sp-pb-108 { padding-bottom: 108px; }
.sp-pb-109 { padding-bottom: 109px; }
.sp-pb-110 { padding-bottom: 110px; }
.sp-pb-111 { padding-bottom: 111px; }
.sp-pb-112 { padding-bottom: 112px; }
.sp-pb-113 { padding-bottom: 113px; }
.sp-pb-114 { padding-bottom: 114px; }
.sp-pb-115 { padding-bottom: 115px; }
.sp-pb-116 { padding-bottom: 116px; }
.sp-pb-117 { padding-bottom: 117px; }
.sp-pb-118 { padding-bottom: 118px; }
.sp-pb-119 { padding-bottom: 119px; }
.sp-pb-120 { padding-bottom: 120px; }
.sp-pb-121 { padding-bottom: 121px; }
.sp-pb-122 { padding-bottom: 122px; }
.sp-pb-123 { padding-bottom: 123px; }
.sp-pb-124 { padding-bottom: 124px; }
.sp-pb-125 { padding-bottom: 125px; }
.sp-pb-126 { padding-bottom: 126px; }
.sp-pb-127 { padding-bottom: 127px; }
.sp-pb-128 { padding-bottom: 128px; }
.sp-pb-129 { padding-bottom: 129px; }
.sp-pb-130 { padding-bottom: 130px; }
.sp-pb-131 { padding-bottom: 131px; }
.sp-pb-132 { padding-bottom: 132px; }
.sp-pb-133 { padding-bottom: 133px; }
.sp-pb-134 { padding-bottom: 134px; }
.sp-pb-135 { padding-bottom: 135px; }
.sp-pb-136 { padding-bottom: 136px; }
.sp-pb-137 { padding-bottom: 137px; }
.sp-pb-138 { padding-bottom: 138px; }
.sp-pb-139 { padding-bottom: 139px; }
.sp-pb-140 { padding-bottom: 140px; }
.sp-pb-141 { padding-bottom: 141px; }
.sp-pb-142 { padding-bottom: 142px; }
.sp-pb-143 { padding-bottom: 143px; }
.sp-pb-144 { padding-bottom: 144px; }
.sp-pb-145 { padding-bottom: 145px; }
.sp-pb-146 { padding-bottom: 146px; }
.sp-pb-147 { padding-bottom: 147px; }
.sp-pb-148 { padding-bottom: 148px; }
.sp-pb-149 { padding-bottom: 149px; }
.sp-pb-150 { padding-bottom: 150px; }
// padding left
.sp-pl-0 { padding-left: 0; }
.sp-pl-1 { padding-left: 1px; }
.sp-pl-2 { padding-left: 2px; }
.sp-pl-3 { padding-left: 3px; }
.sp-pl-4 { padding-left: 4px; }
.sp-pl-5 { padding-left: 5px; }
.sp-pl-6 { padding-left: 6px; }
.sp-pl-7 { padding-left: 7px; }
.sp-pl-8 { padding-left: 8px; }
.sp-pl-9 { padding-left: 9px; }
.sp-pl-10 { padding-left: 10px; }
.sp-pl-11 { padding-left: 11px; }
.sp-pl-12 { padding-left: 12px; }
.sp-pl-13 { padding-left: 13px; }
.sp-pl-14 { padding-left: 14px; }
.sp-pl-15 { padding-left: 15px; }
.sp-pl-16 { padding-left: 16px; }
.sp-pl-17 { padding-left: 17px; }
.sp-pl-18 { padding-left: 18px; }
.sp-pl-19 { padding-left: 19px; }
.sp-pl-20 { padding-left: 20px; }
.sp-pl-21 { padding-left: 21px; }
.sp-pl-22 { padding-left: 22px; }
.sp-pl-23 { padding-left: 23px; }
.sp-pl-24 { padding-left: 24px; }
.sp-pl-25 { padding-left: 25px; }
.sp-pl-26 { padding-left: 26px; }
.sp-pl-27 { padding-left: 27px; }
.sp-pl-28 { padding-left: 28px; }
.sp-pl-29 { padding-left: 29px; }
.sp-pl-30 { padding-left: 30px; }
.sp-pl-31 { padding-left: 31px; }
.sp-pl-32 { padding-left: 32px; }
.sp-pl-33 { padding-left: 33px; }
.sp-pl-34 { padding-left: 34px; }
.sp-pl-35 { padding-left: 35px; }
.sp-pl-36 { padding-left: 36px; }
.sp-pl-37 { padding-left: 37px; }
.sp-pl-38 { padding-left: 38px; }
.sp-pl-39 { padding-left: 39px; }
.sp-pl-40 { padding-left: 40px; }
.sp-pl-41 { padding-left: 41px; }
.sp-pl-42 { padding-left: 42px; }
.sp-pl-43 { padding-left: 43px; }
.sp-pl-44 { padding-left: 44px; }
.sp-pl-45 { padding-left: 45px; }
.sp-pl-46 { padding-left: 46px; }
.sp-pl-47 { padding-left: 47px; }
.sp-pl-48 { padding-left: 48px; }
.sp-pl-49 { padding-left: 49px; }
.sp-pl-50 { padding-left: 50px; }
.sp-pl-51 { padding-left: 51px; }
.sp-pl-52 { padding-left: 52px; }
.sp-pl-53 { padding-left: 53px; }
.sp-pl-54 { padding-left: 54px; }
.sp-pl-55 { padding-left: 55px; }
.sp-pl-56 { padding-left: 56px; }
.sp-pl-57 { padding-left: 57px; }
.sp-pl-58 { padding-left: 58px; }
.sp-pl-59 { padding-left: 59px; }
.sp-pl-60 { padding-left: 60px; }
.sp-pl-61 { padding-left: 61px; }
.sp-pl-62 { padding-left: 62px; }
.sp-pl-63 { padding-left: 63px; }
.sp-pl-64 { padding-left: 64px; }
.sp-pl-65 { padding-left: 65px; }
.sp-pl-66 { padding-left: 66px; }
.sp-pl-67 { padding-left: 67px; }
.sp-pl-68 { padding-left: 68px; }
.sp-pl-69 { padding-left: 69px; }
.sp-pl-70 { padding-left: 70px; }
.sp-pl-71 { padding-left: 71px; }
.sp-pl-72 { padding-left: 72px; }
.sp-pl-73 { padding-left: 73px; }
.sp-pl-74 { padding-left: 74px; }
.sp-pl-75 { padding-left: 75px; }
.sp-pl-76 { padding-left: 76px; }
.sp-pl-77 { padding-left: 77px; }
.sp-pl-78 { padding-left: 78px; }
.sp-pl-79 { padding-left: 79px; }
.sp-pl-80 { padding-left: 80px; }
.sp-pl-81 { padding-left: 81px; }
.sp-pl-82 { padding-left: 82px; }
.sp-pl-83 { padding-left: 83px; }
.sp-pl-84 { padding-left: 84px; }
.sp-pl-85 { padding-left: 85px; }
.sp-pl-86 { padding-left: 86px; }
.sp-pl-87 { padding-left: 87px; }
.sp-pl-88 { padding-left: 88px; }
.sp-pl-89 { padding-left: 89px; }
.sp-pl-90 { padding-left: 90px; }
.sp-pl-91 { padding-left: 91px; }
.sp-pl-92 { padding-left: 92px; }
.sp-pl-93 { padding-left: 93px; }
.sp-pl-94 { padding-left: 94px; }
.sp-pl-95 { padding-left: 95px; }
.sp-pl-96 { padding-left: 96px; }
.sp-pl-97 { padding-left: 97px; }
.sp-pl-98 { padding-left: 98px; }
.sp-pl-99 { padding-left: 99px; }
.sp-pl-100 { padding-left: 100px; }
.sp-pl-101 { padding-left: 101px; }
.sp-pl-102 { padding-left: 102px; }
.sp-pl-103 { padding-left: 103px; }
.sp-pl-104 { padding-left: 104px; }
.sp-pl-105 { padding-left: 105px; }
.sp-pl-106 { padding-left: 106px; }
.sp-pl-107 { padding-left: 107px; }
.sp-pl-108 { padding-left: 108px; }
.sp-pl-109 { padding-left: 109px; }
.sp-pl-110 { padding-left: 110px; }
.sp-pl-111 { padding-left: 111px; }
.sp-pl-112 { padding-left: 112px; }
.sp-pl-113 { padding-left: 113px; }
.sp-pl-114 { padding-left: 114px; }
.sp-pl-115 { padding-left: 115px; }
.sp-pl-116 { padding-left: 116px; }
.sp-pl-117 { padding-left: 117px; }
.sp-pl-118 { padding-left: 118px; }
.sp-pl-119 { padding-left: 119px; }
.sp-pl-120 { padding-left: 120px; }
.sp-pl-121 { padding-left: 121px; }
.sp-pl-122 { padding-left: 122px; }
.sp-pl-123 { padding-left: 123px; }
.sp-pl-124 { padding-left: 124px; }
.sp-pl-125 { padding-left: 125px; }
.sp-pl-126 { padding-left: 126px; }
.sp-pl-127 { padding-left: 127px; }
.sp-pl-128 { padding-left: 128px; }
.sp-pl-129 { padding-left: 129px; }
.sp-pl-130 { padding-left: 130px; }
.sp-pl-131 { padding-left: 131px; }
.sp-pl-132 { padding-left: 132px; }
.sp-pl-133 { padding-left: 133px; }
.sp-pl-134 { padding-left: 134px; }
.sp-pl-135 { padding-left: 135px; }
.sp-pl-136 { padding-left: 136px; }
.sp-pl-137 { padding-left: 137px; }
.sp-pl-138 { padding-left: 138px; }
.sp-pl-139 { padding-left: 139px; }
.sp-pl-140 { padding-left: 140px; }
.sp-pl-141 { padding-left: 141px; }
.sp-pl-142 { padding-left: 142px; }
.sp-pl-143 { padding-left: 143px; }
.sp-pl-144 { padding-left: 144px; }
.sp-pl-145 { padding-left: 145px; }
.sp-pl-146 { padding-left: 146px; }
.sp-pl-147 { padding-left: 147px; }
.sp-pl-148 { padding-left: 148px; }
.sp-pl-149 { padding-left: 149px; }
.sp-pl-150 { padding-left: 150px; }
// padding right
.sp-pr-0 { padding-right: 0; }
.sp-pr-1 { padding-right: 1px; }
.sp-pr-2 { padding-right: 2px; }
.sp-pr-3 { padding-right: 3px; }
.sp-pr-4 { padding-right: 4px; }
.sp-pr-5 { padding-right: 5px; }
.sp-pr-6 { padding-right: 6px; }
.sp-pr-7 { padding-right: 7px; }
.sp-pr-8 { padding-right: 8px; }
.sp-pr-9 { padding-right: 9px; }
.sp-pr-10 { padding-right: 10px; }
.sp-pr-11 { padding-right: 11px; }
.sp-pr-12 { padding-right: 12px; }
.sp-pr-13 { padding-right: 13px; }
.sp-pr-14 { padding-right: 14px; }
.sp-pr-15 { padding-right: 15px; }
.sp-pr-16 { padding-right: 16px; }
.sp-pr-17 { padding-right: 17px; }
.sp-pr-18 { padding-right: 18px; }
.sp-pr-19 { padding-right: 19px; }
.sp-pr-20 { padding-right: 20px; }
.sp-pr-21 { padding-right: 21px; }
.sp-pr-22 { padding-right: 22px; }
.sp-pr-23 { padding-right: 23px; }
.sp-pr-24 { padding-right: 24px; }
.sp-pr-25 { padding-right: 25px; }
.sp-pr-26 { padding-right: 26px; }
.sp-pr-27 { padding-right: 27px; }
.sp-pr-28 { padding-right: 28px; }
.sp-pr-29 { padding-right: 29px; }
.sp-pr-30 { padding-right: 30px; }
.sp-pr-31 { padding-right: 31px; }
.sp-pr-32 { padding-right: 32px; }
.sp-pr-33 { padding-right: 33px; }
.sp-pr-34 { padding-right: 34px; }
.sp-pr-35 { padding-right: 35px; }
.sp-pr-36 { padding-right: 36px; }
.sp-pr-37 { padding-right: 37px; }
.sp-pr-38 { padding-right: 38px; }
.sp-pr-39 { padding-right: 39px; }
.sp-pr-40 { padding-right: 40px; }
.sp-pr-41 { padding-right: 41px; }
.sp-pr-42 { padding-right: 42px; }
.sp-pr-43 { padding-right: 43px; }
.sp-pr-44 { padding-right: 44px; }
.sp-pr-45 { padding-right: 45px; }
.sp-pr-46 { padding-right: 46px; }
.sp-pr-47 { padding-right: 47px; }
.sp-pr-48 { padding-right: 48px; }
.sp-pr-49 { padding-right: 49px; }
.sp-pr-50 { padding-right: 50px; }
.sp-pr-51 { padding-right: 51px; }
.sp-pr-52 { padding-right: 52px; }
.sp-pr-53 { padding-right: 53px; }
.sp-pr-54 { padding-right: 54px; }
.sp-pr-55 { padding-right: 55px; }
.sp-pr-56 { padding-right: 56px; }
.sp-pr-57 { padding-right: 57px; }
.sp-pr-58 { padding-right: 58px; }
.sp-pr-59 { padding-right: 59px; }
.sp-pr-60 { padding-right: 60px; }
.sp-pr-61 { padding-right: 61px; }
.sp-pr-62 { padding-right: 62px; }
.sp-pr-63 { padding-right: 63px; }
.sp-pr-64 { padding-right: 64px; }
.sp-pr-65 { padding-right: 65px; }
.sp-pr-66 { padding-right: 66px; }
.sp-pr-67 { padding-right: 67px; }
.sp-pr-68 { padding-right: 68px; }
.sp-pr-69 { padding-right: 69px; }
.sp-pr-70 { padding-right: 70px; }
.sp-pr-71 { padding-right: 71px; }
.sp-pr-72 { padding-right: 72px; }
.sp-pr-73 { padding-right: 73px; }
.sp-pr-74 { padding-right: 74px; }
.sp-pr-75 { padding-right: 75px; }
.sp-pr-76 { padding-right: 76px; }
.sp-pr-77 { padding-right: 77px; }
.sp-pr-78 { padding-right: 78px; }
.sp-pr-79 { padding-right: 79px; }
.sp-pr-80 { padding-right: 80px; }
.sp-pr-81 { padding-right: 81px; }
.sp-pr-82 { padding-right: 82px; }
.sp-pr-83 { padding-right: 83px; }
.sp-pr-84 { padding-right: 84px; }
.sp-pr-85 { padding-right: 85px; }
.sp-pr-86 { padding-right: 86px; }
.sp-pr-87 { padding-right: 87px; }
.sp-pr-88 { padding-right: 88px; }
.sp-pr-89 { padding-right: 89px; }
.sp-pr-90 { padding-right: 90px; }
.sp-pr-91 { padding-right: 91px; }
.sp-pr-92 { padding-right: 92px; }
.sp-pr-93 { padding-right: 93px; }
.sp-pr-94 { padding-right: 94px; }
.sp-pr-95 { padding-right: 95px; }
.sp-pr-96 { padding-right: 96px; }
.sp-pr-97 { padding-right: 97px; }
.sp-pr-98 { padding-right: 98px; }
.sp-pr-99 { padding-right: 99px; }
.sp-pr-100 { padding-right: 100px; }
.sp-pr-101 { padding-right: 101px; }
.sp-pr-102 { padding-right: 102px; }
.sp-pr-103 { padding-right: 103px; }
.sp-pr-104 { padding-right: 104px; }
.sp-pr-105 { padding-right: 105px; }
.sp-pr-106 { padding-right: 106px; }
.sp-pr-107 { padding-right: 107px; }
.sp-pr-108 { padding-right: 108px; }
.sp-pr-109 { padding-right: 109px; }
.sp-pr-110 { padding-right: 110px; }
.sp-pr-111 { padding-right: 111px; }
.sp-pr-112 { padding-right: 112px; }
.sp-pr-113 { padding-right: 113px; }
.sp-pr-114 { padding-right: 114px; }
.sp-pr-115 { padding-right: 115px; }
.sp-pr-116 { padding-right: 116px; }
.sp-pr-117 { padding-right: 117px; }
.sp-pr-118 { padding-right: 118px; }
.sp-pr-119 { padding-right: 119px; }
.sp-pr-120 { padding-right: 120px; }
.sp-pr-121 { padding-right: 121px; }
.sp-pr-122 { padding-right: 122px; }
.sp-pr-123 { padding-right: 123px; }
.sp-pr-124 { padding-right: 124px; }
.sp-pr-125 { padding-right: 125px; }
.sp-pr-126 { padding-right: 126px; }
.sp-pr-127 { padding-right: 127px; }
.sp-pr-128 { padding-right: 128px; }
.sp-pr-129 { padding-right: 129px; }
.sp-pr-130 { padding-right: 130px; }
.sp-pr-131 { padding-right: 131px; }
.sp-pr-132 { padding-right: 132px; }
.sp-pr-133 { padding-right: 133px; }
.sp-pr-134 { padding-right: 134px; }
.sp-pr-135 { padding-right: 135px; }
.sp-pr-136 { padding-right: 136px; }
.sp-pr-137 { padding-right: 137px; }
.sp-pr-138 { padding-right: 138px; }
.sp-pr-139 { padding-right: 139px; }
.sp-pr-140 { padding-right: 140px; }
.sp-pr-141 { padding-right: 141px; }
.sp-pr-142 { padding-right: 142px; }
.sp-pr-143 { padding-right: 143px; }
.sp-pr-144 { padding-right: 144px; }
.sp-pr-145 { padding-right: 145px; }
.sp-pr-146 { padding-right: 146px; }
.sp-pr-147 { padding-right: 147px; }
.sp-pr-148 { padding-right: 148px; }
.sp-pr-149 { padding-right: 149px; }
.sp-pr-150 { padding-right: 150px; }