// fonts
$circular-std: 'CircularStd';

// colors
$light:                 #FFFFFF;

$black-lighter:         #9b9b9b;
$black-light:           #757575;
$black:                 #1c1c1c;
$black-dark:            #000000;

$pale-white-lighter:    #f7f9fb;
$pale-white-light:      #f5f6fa;
$pale-white:            #f5f5f5;
$pale-white-dark:       #f3f6f8;
$pale-white-darker:     #f0f1f7;
$pale-white-darkest:    #fafafc;

$gray:                  #d8d8d8;

$pale-gray-lighter:     #e9ebee;
$pale-gray-light:       #e8ebf2;
$pale-gray:             #e7ebee;
$pale-gray-dark:        #e6e8ea;
$pale-gray-darker:      #ebebeb;

$orange:                #ffa600;
$pink:                  #ff427e;

$blue:                  #1f90ff;
$skyblue:               #00d2ee;
$steelblue:             #5181a2;

$slateblue-light:       #8f7aff;
$slateblue:             #6977ff;

$silver:                #939399;
$bronze:                #cc8744;
$gold:                  #d3af38;

// backgrounds

// borders

// shadows

// gradients

// socials





