section.feedback
    .container
        .row
            .col-lg-12
                .section-intro.section-intro-feedback
                    h2 Thousands Of Factories Worldwide Run More Productively With TrakSYS
        .row
            .col-lg-12
                .owl-carousel.owl-carousel-feedback.owl-theme
                    .feedback-item
                        p “The tech support from Parsec is world class! Robert’s response was complete with screen shots and detailed instructions. Best of all, his one email response fixed all three problems. Nice job!”
                        .feedback-meta
                            a.btn.btn-gray(href="#") View Case Study
                            h5 Martin Garrix
                                span Founder & CEO, UINugget
                    .feedback-item
                        p “Once TrakSYS was deployed, we were able to quickly and effectively evaluate the root causes of poor performance. The initial focus of the project was on improving productivity for lines responsible for hormonal products. Within the first 12 months after deploying TrakSYS, we had already improved average OEE by 100 percent.”
                        .feedback-meta
                            a.btn.btn-gray(href="#") View Case Study
                            h5 Francisco Javier
                                span Production Manager
                    .feedback-item
                        p “The tech support from Parsec is world class! Robert’s response was complete with screen shots and detailed instructions. Best of all, his one email response fixed all three problems. Nice job!”
                        .feedback-meta
                            a.btn.btn-gray(href="#") View Case Study
                            h5 Martin Garrix
                                span Founder & CEO, UINugget
                    .feedback-item
                        p “Once TrakSYS was deployed, we were able to quickly and effectively evaluate the root causes of poor performance. The initial focus of the project was on improving productivity for lines responsible for hormonal products. Within the first 12 months after deploying TrakSYS, we had already improved average OEE by 100 percent.”
                        .feedback-meta
                            a.btn.btn-gray(href="#") View Case Study
                            h5 Francisco Javier
                                span Production Manager