.owl-carousel.owl-carousel-industry.owl-theme
    .industry-item
        .industry-media
            span
            img(src="images/industry-media-01.jpg", alt="name")
        .industry-intro
            h4 Food &amp; Beverage
            p As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.
            a.btn.btn-blue(href="#") View All Solution
    .industry-item
        .industry-media
            span
            img(src="images/industry-media-01.jpg", alt="name")
        .industry-intro
            h4 Life Sciences
            p As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.
            a.btn.btn-blue(href="#") View All Solution
    .industry-item
        .industry-media
            span
            img(src="images/industry-media-01.jpg", alt="name")
        .industry-intro
            h4 Packaged Goods
            p As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.
            a.btn.btn-blue(href="#") View All Solution