section.cta
    .container
        .row
            .col-lg-12
                .cta-box
                    .cta-intro
                        h3 What Are You Working On Right Now?
                        p Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.
                    a.btn.btn-blue(href="#") Let’s Get Started