section.filter
    .container
        .row
            .col-lg-12
                .filter-bar
                    ul.tag-list
                        li
                            a(href="#") Cont, Improv.
                        li.active
                            a(href="#") EBP
                        li
                            a(href="#") ERP
                        li
                            a(href="#") HACCP
                        li
                            a(href="#") MES
                        li
                            a(href="#") OEE
                        li
                            a(href="#") Quality
                        li
                            a(href="#") Traceability
                        li.dropdown
                            a(href="#" data-toggle="dropdown") By Topic
                            .dropdown-menu
                                a.active(href="#") Lean Manufacturing
                                a(href="#") Operations Management
                                a(href="#") Performance Management
                                a(href="#") Quality Compliance
                        li.dropdown
                            a(href="#" data-toggle="dropdown") By Media
                            .dropdown-menu
                                a(href="#") Case Studies
                                a(href="#") eBooks
                                a(href="#") Infographics & Datasheets
                                a(href="#") White Papers