include ../mixins/footer-widget

footer.footer
    .container
        .row
            .col-lg-12
                .footer-content
                    .widget
                        a.custom-logo-link(href="#")
                            img(src="images/logo-blue.png" alt="Parsec")
                        address 180 N Riverview Dr Ste 300 Anaheim CA 92808 USA
                        p &copy; 2019 Parsec Automation Corp. All rights reserved.
                        ul.menu.menu-inline
                            li
                                a(href="privacy.html") Privacy Policy
                            li
                                a(href="terms-of-use.html") Terms of Use

                    +footer-widget('Helpful Link', 'TrakSYS™', 'Solutions', 'Industries', 'Services', 'Resources')
                    
                    +footer-widget('About', 'About', 'Partners', 'Contact Us', 'Careers')

                    +footer-widget('Social', 'LinkedIN', 'Twitter', 'Youtube', 'Facebook')

                    .widget-group
                        .widget
                            h6.widget-title Email
                            ul.menu
                                li
                                    a(href="mailto:info@parsec-corp.com") info@parsec-corp.com
                        .widget
                            h6.widget-title Call
                            ul.menu
                                li
                                    a(href="tel:17149965302") 1 . 714 . 996 . 5302

                    


