.search-box
    form.form-search(action="#")
        .form-group
            input.form-control(type="text" placeholder="Start typing...")
            a.btn-close(href="#") &#10005;

header.header.fixed-top
    .container
        .row
            .col-lg-12
                .header-wrap
                    a.custom-logo-link(href="index.html")
                        img(src="images/logo-light.png" alt="Parsec")
                    a.custom-logo-link(href="index.html")
                        img(src="images/logo-blue.png" alt="Parsec")
                    .nav-wrap
                        a.nav-toggler(href="#")
                            i.fa.fa-bars
                        ul.main-nav
                            li.dropdown
                                a(href="#" data-toggle="dropdown") TrakSYS
                                .dropdown-menu
                                    a.current-menu-item(href="overview.html") Overview
                                    a(href="key-features.html") Key Features
                                    a(href="deployment.html") Deployment
                                    a(href="smart-devices.html") IIoT Devices
                            li.dropdown
                                a(href="#" data-toggle="dropdown") Solutions
                                .dropdown-menu
                                    a(href="production.html") Production
                                    a(href="quality.html") Quality
                                    a(href="maintenance.html") Maintenance
                                    a(href="inventory.html") Inventory
                                    a(href="solutions.html") View All Solutions
                            li.dropdown
                                a(href="#" data-toggle="dropdown") Industries
                                .dropdown-menu
                                    a(href="automotive.html") Automotive
                                    a(href="chemicals.html") Chemicals
                                    a(href="food-beverage.html") Food and Beverage
                                    a(href="life-sciences.html") Life Sciences
                                    a(href="packaged-goods.html") Packaged Goods
                                    a(href="industries.html") View All Industries
                            li.dropdown
                                a(href="#" data-toggle="dropdown") Services
                                .dropdown-menu
                                    a(href="services.html") Services
                                    a(href="implementation.html") Implementation
                                    a(href="mentoring.html") Mentoring
                                    a(href="support.html") Support
                                    a(href="training.html") Training
                                    a(href="partners.html") Partners
                            li.dropdown
                                a(href="#" data-toggle="dropdown") Company
                                .dropdown-menu
                                    a(href="resources.html") Resource Library
                                    a(href="webinars.html") Webinars
                                    a(href="company.html") Company
                                    a(href="about.html") About
                                    a(href="contact-us.html") Contact Us
                                    a(href="careers.html") Careers
                        .search-link
                            a(href="#")
                                i.fa.fa-search