.row
    .col-lg-12
        .solution-content
            .solution-intro
                h4 One platform, many solutions
                p Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing operations management. We have everything you need to succeed.
                ul.solution-list
                    li
                        a(href="#")
                            span.icon
                                img(src="images/font-icon-01.png", alt="name")
                            .content
                                h5 Inventory
                                p Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing.
                    li
                        a(href="#")
                            span.icon
                                img(src="images/font-icon-02.png", alt="name")
                            .content
                                h5 Production
                                p Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing.
                    li
                        a(href="#")
                            span.icon
                                img(src="images/font-icon-03.png", alt="name")
                            .content
                                h5 Quality
                                p Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing.
                    li
                        a(href="#")
                            span.icon
                                img(src="images/font-icon-04.png", alt="name")
                            .content
                                h5 Maintanence
                                p Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing.
            .solution-media
                img(src="images/solution-media-01.png", alt="name")
                a.btn.btn-gray(href="#") View All Solution