extends extends/layout

block body
    body.page-404

block title
    title Parsec - Page Not Found

block content

    // header
    include includes/header-3

    // 404
    section.error
        .container
            .row
                .col-lg-12
                    .error-msg
                        h3 Page not found!
                        img(src="images/404.png", alt="404")

    // footer
    include includes/footer