extends extends/layout

block body
    body.page-about

block title
    title Parsec - About Us

block content

    // header
    include includes/header-3
    
    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 As Simple As Possible
                            p Loriam ipsom dolor sit amet information is in the status for the info.
                        .hero-media
                            img(src="images/hero-media-about.png" alt="name")
    
    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 <span>On a Mission to Simplify</span> Manufacturing Operations
                        p At Parsec we are on a mission to help make your manufacturing operations as simple as possible, by giving you greater visibility, knowledge, and control. To do this we combine our TrakSYS software platform, an integrated set of applications designed to effectively manage manufacturing operations, with our extensive experience in Manufacturing IT, Lean methodology, and solution delivery.
                        p We have been in business for over 25 years, and our TrakSYS software is now deployed in over 100 countries, in a variety of industries. Our team of dedicated, experienced, and enthusiastic professionals are committed to the realization of our vision and our client’s objectives.

    // stats
    section.stats
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Our Footprint
            .row
                .col-lg-12
                    .stat-boxes
                        .stat-box
                            span.icon
                                img(src="images/icon-mass-production.png", alt="name")
                            h3
                                span.text-lg 6000
                                span.text-sm Deployments
                        .stat-box
                            span.icon
                                img(src="images/icon-engineer.png", alt="name")
                            h3
                                span.text-lg 80000
                                span.text-sm Daily Active Users
                        .stat-box
                            span.icon
                                img(src="images/icon-network.png", alt="name")
                            h3
                                span.text-lg 100
                                span.text-sm Countries
            .row
                .col-lg-12
                    .cta-sec
                        h3 Intersted in Joining The Team?
                        a.btn.btn-gray(href="#") Browse Openings

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer