extends extends/layout

block body
    body.page-automotive

block title
    title Parsec - Automotive

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 TrakSYS for Automotive
                            p Loriam ipsom dolor sit amet information is in the status for the info.
                        .hero-media
                            img(src="images/hero-media-automotive.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Optimize Operations Across Your Value Stream
                        p As a manufacturer in the automotive industry you face significant challenges: effectively managing logistics and supply chain, labor, and sustainability initiatives, to name a few. The more areas of the value stream working together the better the outcome. With a real-time manufacturing operations management solution, operations such as inventory management, electronic Kanban, machining, powertrain, assembly, body shop, and paint can be managed as a pull-through and coordinated process to significantly reduce productivity losses. TrakSYS is up to the challenge.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-safe.png", alt="name")
                        h4 Improve Quality
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-computer.png", alt="name")
                        h4 Full Traceability
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-manufacturing.png", alt="name")
                        h4 Increase Productivity
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-engineer.png", alt="name")
                        h4 Give Customers Visibility

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 How TrakSYS Helps You Monitor and Control Production Throughout Your Supply Chain
                        p With its configurable, flexible, and scalable workflow management engine, TrakSYS readily leverages existing assets and infrastructure for the optimal management and execution of automotive manufacturing operations. Here’s how:
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/quality-assurance.png", alt="name")
                            .panel-intro
                                h2 Quality Assurance
                                p Improve quality with Statistical Process Control (SPC) and real-time data, to respond to out-of-compliance events.
                        .panel-box
                            .panel-media
                                img(src="images/history-and-traceability.png", alt="name")
                            .panel-intro
                                h2 History and Traceability
                                p Collect manufacturing information for each part, including the date/time of each operation, measurements taken, batch, and any treatment or finishing information.
                        .panel-box
                            .panel-media
                                img(src="images/production-process-analysis.png", alt="name")
                            .panel-intro
                                h2 Production Process Analysis
                                p Generate detailed reports by querying the TrakSYS database, including item tables, SPC tables and the quality data gathered from machines.
                        .panel-box
                            .panel-media
                                img(src="images/increased-productivity.png", alt="name")
                            .panel-intro
                                h2 Increased Productivity
                                p Increase productivity through measurement such as OEE and TEEP, and automated corrective and preventive action using tasks and journals.
                        .panel-box
                            .panel-media
                                img(src="images/customer-visibility.png", alt="name")
                            .panel-intro
                                h2 Customer Visibility
                                p Give customers visibility into production reports generated by TrakSYS — including full process workflow and an overview of the life of each part.

    // clients
    section.clients
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Trusted by Automotive Manufacturers and Suppliers Worldwide
                        p TrakSYS has been deployed at thousands of factories in over 100 countries, including many automotive manufacturers.
            .row
                .col-lg-12
                    .logo-list
                        img(src="images/cl-logo-01.png", alt="name")
                        img(src="images/cl-logo-02.png", alt="name")
                        img(src="images/cl-logo-03.png", alt="name")
                        img(src="images/cl-logo-04.png", alt="name")
                        img(src="images/cl-logo-05.png", alt="name")
                        img(src="images/cl-logo-06.png", alt="name")
                        img(src="images/cl-logo-07.png", alt="name")

                    // logo carousel
                    //- .owl-carousel.owl-carousel-logo.owl-theme
                    //-     img(src="images/cl-logo-01.png", alt="name")
                    //-     img(src="images/cl-logo-02.png", alt="name")
                    //-     img(src="images/cl-logo-03.png", alt="name")
                    //-     img(src="images/cl-logo-04.png", alt="name")
                    //-     img(src="images/cl-logo-05.png", alt="name")
                    //-     img(src="images/cl-logo-06.png", alt="name")
                    //-     img(src="images/cl-logo-07.png", alt="name")

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer