extends extends/layout

block body
    body.page-batch

block title
    title Parsec - Batch

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Batch Operations Management
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-batch.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Batch Management For More Repeatable Product Quality and Process Efficiency
                        p Batch Management is critical to process industries including Pharmaceutical, Food & Beverage, CPG, and Chemical where the production must be carefully controlled for both quality and efficiency. These processes can be hindered by paper-based workflows, which take additional time, and may be inaccurate.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-product.png", alt="name")
                        h4 Improve Product Quality
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-reuse.png", alt="name")
                        h4 Maximize Asset Utilization
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-order.png", alt="name")
                        h4 Manage Regulatory Compliance
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-lower-cost.png", alt="name")
                        h4 Lower Cost

    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        p TrakSYS offers versatile recipe and batch management capabilities designed for executing batching operations in both automated and manual operations. TrakSYS follows ISA-88 standards and makes it possible to manage recipes, execute batch functions, enforce SOPs/tasks, allocate assets, and track materials and labor. A complete electronic audit trail of transactions can be available to meet 21 CFR Part 11 Compliance, cGMP, and the most stringent EBR requirements.

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/recipe-management.png", alt="name")
                            .panel-intro
                                h2 Recipe Management
                                p Configure recipes and procedures, or interface with information stored in ERP to provide the shop floor with instructions for how to complete the batch.
                        .panel-box
                            .panel-media
                                img(src="images/pre-weigh-and-excute-batch-steps.png", alt="name")
                            .panel-intro
                                h2 Pre-Weigh & Excute Batch Steps
                                p Define batch functions, sequential/parallel steps, and tasks (e.g. setup, manual checks, quality checks, sign-off, etc.) to enforce standard procedures.
                        .panel-box
                            .panel-media
                                img(src="images/track-and-manage-events-and-overages.png", alt="name")
                            .panel-intro
                                h2 Track and Manage Events and Overages
                                p Connected to existing automation infrastructure, TrakSYS provides a clear view of what is happening on the plant floor and informs of events requiring attention. TrakSYS records specific causes of delays and overages and analyzes the trends to determine how to reproduce your golden batch.
                        .panel-box
                            .panel-media
                                img(src="images/monitor-critical-parameters.png", alt="name")
                            .panel-intro
                                h2 Monitor Critical Parameters
                                p Connect to automation to record and retrieve time-series production and process data. Data Historian further enhances Traceability, enabling users to analyze sources of variation, identify process improvement opportunities, and quickly troubleshoot root causes.
                        .panel-box
                            .panel-media
                                img(src="images/track-material-consumption.png", alt="name")
                            .panel-intro
                                h2 Track Material Consumption
                                p Track suppliers, lot numbers, and quality parameters to provide traceability and benchmark supplier performance. Record material consumption and interface with ERP and WMS to maintain inventory accuracy. Track labor to benchmark performance and establish Best Practices.

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Metricks & Reporting
                        p Using extensive analytics, workflow engine, and dashboards of TrakSYS, detailed user-definable reports and electronic batch records (EBRs) can be generated with ease. A complete electronic audit trail of your transactions can be available to meet 21 CFR Part 11 Compliance and the most stringent EBR requirements.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/report-media.png", alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of Batch Management
                        p Want to learn more about Batch Management? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-01.png", alt="name")
                        h4 Case Study
                        p Before the implementation of TrakSYS™, Bush Brothers had a homegrown software solution in place that showed them the benefits to be gained by relying on a software solution to log downtime.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p Traditionally, batch operations records were collected, managed, and represented manually. As with most manual operations, there were concerns with accuracy.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer