extends extends/layout

block body
    body.page-careers

block title
    title Parsec - Careers

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Reach Out, Get in Touch
                            p Have questions about TrakSYS? We’re here to help. Please reach out. We’d love to hear from you.
                            img(src="images/hero-media-careers.png", alt="name")
                            
                        .hero-card.hero-card-info
                            h3 Become Part Of The Team
                            p Interested in joining a team of dedicated, enthusiastic (dare we say, passionate?) professionals on a mission to simplify manufacturing operations?
                            a.btn.btn-gray(href="#") Email Your Resume

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer