extends extends/layout

block body
    body.page-chemicals

block title
    title Parsec - Chemicals

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 TrakSYS for Chemicals, Oil & Gas
                            p Loriam ipsom dolor sit amet information is in the status for the info.
                        .hero-media
                            img(src="images/hero-media-chemicals.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 The Chemistry of a Productive and Profitable Operation
                        p Chemicals producers of all types, from organic specialty chemicals, to inorganic bulk chemicals, biofuel or fertilizers, operate complex manufacturing operations with extended supply chains. TrakSYS is designed to give you visibility into real-time production data, and tools to manage your operation more effectively using those data — including Overall Equipment Effectiveness (OEE), Statistical Process Control (SPC), electronic records, and more.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-manufacturing.png", alt="name")
                        h4 Increase Productivity
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-packs.png", alt="name")
                        h4 Improve Quality
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-monitoring.png", alt="name")
                        h4 Reduce Waste
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-engineer.png", alt="name")
                        h4 Ensure Safety and Compliance

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 How TrakSYS Helps You Gain Greater Visibility, Knowledge, and Control
                        p TrakSYS helps packaged good manufacturers enable operational excellence initiatives, meet safety compliance requirements, and support sustainability efforts. Here’s how:
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/history-and-traceability.png", alt="name")
                            .panel-intro
                                h2 Traceability
                                p Verify supplier materials with digitally tracked and traced production, to assure safety and reduce the risk of a recall.
                        .panel-box
                            .panel-media
                                img(src="images/electronic-records.png", alt="name")
                            .panel-intro
                                h2 Electronic Records
                                p Automate your recordkeeping, including changes, actions, recorded values, and electronic signatures, for the creation of a comprehensive audit trail.
                        .panel-box
                            .panel-media
                                img(src="images/quality-assurance.png", alt="name")
                            .panel-intro
                                h2 Statistical Process Control (SPC)
                                p Improve quality with Statistical Process Control (SPC) and real-time data, to respond to out-of-compliance events.
                        .panel-box
                            .panel-media
                                img(src="images/document-and-revision-control.png", alt="name")
                            .panel-intro
                                h2 SOP Implementation
                                p Eliminate paperwork with digitally-managed Standard Operating Procedures (SOPs), including full archiving for regulatory compliance.
                        .panel-box
                            .panel-media
                                img(src="images/overall-equipment-effectiveness-oee.png", alt="name")
                            .panel-intro
                                h2 Overall Equipment Effectiveness (OEE)
                                p Increase productivity through measurement such as OEE and TEEP, and automated corrective and preventive action using tasks and journals.

    // clients
    section.clients
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Trusted by Leading Chemicals Manufacturers Worldwide
                        p TrakSYS has been deployed at thousands of factories in over 100 countries, including many leading chemicals manufacturers.
            .row
                .col-lg-12
                    .logo-list
                        img(src="images/cl-logo-01.png", alt="name")
                        img(src="images/cl-logo-02.png", alt="name")
                        img(src="images/cl-logo-03.png", alt="name")
                        img(src="images/cl-logo-04.png", alt="name")
                        img(src="images/cl-logo-05.png", alt="name")
                        img(src="images/cl-logo-06.png", alt="name")
                        img(src="images/cl-logo-07.png", alt="name")

                    // logo carousel
                    //- .owl-carousel.owl-carousel-logo.owl-theme
                    //-     img(src="images/cl-logo-01.png", alt="name")
                    //-     img(src="images/cl-logo-02.png", alt="name")
                    //-     img(src="images/cl-logo-03.png", alt="name")
                    //-     img(src="images/cl-logo-04.png", alt="name")
                    //-     img(src="images/cl-logo-05.png", alt="name")
                    //-     img(src="images/cl-logo-06.png", alt="name")
                    //-     img(src="images/cl-logo-07.png", alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About TrakSYS for Chemicals, Oil & Gas
                        p Want to learn more about TrakSYS for Chemicals, Oil & Gas? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Infographic
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 Case Study
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer