extends extends/layout

block body
    body.page-company

block title
    title Parsec - Company

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Make it As Simple As Possible
                            p Since 1987 we’ve been helping manufacturers ‘make it as simple as possible.’ Directly and through our network of partners we have deployed our TrakSYS manufacturing management software at thousands of sites in over 100 countries. Our customers – from pharmaceuticals and food and beverage, to packaged goods and automotive – count on TrakSYS to help them run more safely and efficiently. So, are you ready to take control of your manufacturing operation? Read on, or contact us today.
                        .hero-media
                            img(src="images/hero-media-company.png" alt="name")

    // page-navigation
    section.page-navigation
        .container
            .row
                .col-lg-12
                    .page-nav.page-nav-primary
                        .page-nav-item
                            a(href="about.html") About <img src="images/tb-img-05.png" alt="name">
                        .page-nav-item
                            a(href="partners.html") Partner <img src="images/tb-img-06.png" alt="name">
                        .page-nav-item
                            a(href="contact-us.html") Contact <img src="images/tb-img-07.png" alt="name">
    
    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Download The TrakSYS Brochure
                        p Get the TrakSYS brochure. All the information you need, in one convenient package.
            .row
                .col-lg-12
                    .promo-secondary
                        .promo-form
                            iframe(src="//go.pardot.com/l/366621/2017-06-15/5mv")

    // cta box
    include includes/cta-box

    // footer
    include includes/footer