extends extends/layout

block body
    body.page-compliance

block title
    title Parsec - Compliance

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Streamline Compliance Improve Quality
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-compliance.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Auto Recordkeeping to Streamline Compliance and Improve Quality
                        p Today’s regulatory environment demands better quality and compliance processes. For those in industries regulated by the FDA and EU compliance, it is crucial to have systems that assure stringent compliance with government and industry standards — as well as extensibility to comply with future requirements. TrakSYS is a unified Manufacturing Operations Management (MOM) platform that helps manufacturer’s meet an assortment of regulatory requirements and standards including FDA’s 21 CFR Part 11, Part 820, GMP, ISO 13485, European Annex 11, and ISO 9001.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-review.png", alt="name")
                        h4 Comply With Regulatory Requirments
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-safety.png", alt="name")
                        h4 Protect Customer Safety and Brand Reputation
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-objective.png", alt="name")
                        h4 Improve Efficiency and Accountability
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-time.png", alt="name")
                        h4 Minimize Administration Costs

    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        p TrakSYS makes it possible to easily define the rules of automating your data collection throughout the production process. With digital record-keeping, ensuring Traceability and Compliance are built-in by design. All necessary documents are easily accessible to authorized users through a web interface. Interactive reports and dashboards provide real-time notification of non-conformance, contextualized information for identifying root causes, and comprehensive audit trail.

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/compliance-traceability.png", alt="name")
                            .panel-intro
                                h2 Traceability
                                p Record, track, and trace the genealogy of raw materials, Work-in-Process (WIP), and go-to-market products. Provide real-time transparency, to help you proactively limit the impact of any quality problems before you ship the product.
                        .panel-box
                            .panel-media
                                img(src="images/compliance-digital-signature.png", alt="name")
                            .panel-intro
                                h2 21 CFR Compliance-Digital Signature
                                p Automate comprehensive record collection with electronic signatures while maintaining 21 CFR Part 11 and Part 820 compliance.
                        .panel-box
                            .panel-media
                                img(src="images/compliance-change-management.png", alt="name")
                            .panel-intro
                                h2 Change Management
                                p Managing change is a critical element of a risk mitigation strategy. A failure to manage change is a risk in and of itself that commonly traces back to major crises. TrakSYS ensures controls are in place to introduce system changes as well as maintain data integrity.
                        .panel-box
                            .panel-media
                                img(src="images/compliance-audit-trail.png", alt="name")
                            .panel-intro
                                h2 Audit Trail
                                p TrakSYS allows configuration of user and group roles to maintain data integrity. As well as a configurable tracking of changes to system configuration, actions, data records, and electronic signatures to create a comprehensive audit trail.
                        .panel-box
                            .panel-media
                                img(src="images/compliance-development-test-production-environments.png", alt="name")
                            .panel-intro
                                h2 Development-Test-Production Environments
                                p TrakSYS architecture allows for parallel environments to manage FDA validated software installations. Develop without interruption, while system changes are tested and validated for production activation.
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About Compliance
                        p Want to learn more about Compliance? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p Many manufacturers are looking to proactive, real-time quality management processes and software applications to facilitate continuous improvement across these areas.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-01.png", alt="name")
                        h4 Case Study
                        p To excel in the highly competitive medical device industry, Proteus needed a software solution that could unify their production workflows and unique processes.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer