extends extends/layout

block body
    body.page-contact-us

block title
    title Parsec - Contact Us

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Reach Out, Get in Touch
                            p Have questions about TrakSYS? We’re here to help. Please reach out. We’d love to hear from you.
                            img(src="images/hero-media-contact.png", alt="name")
                            .contact-info
                                h3 Parsec Automation Corp
                                ul.contact-info-list
                                    li
                                        i.fa.fa-map-marker
                                        address 180 N Riverview Dr Ste 300 Anaheim, CA 92808, USA.
                                    li
                                        i.fa.fa-phone
                                        p
                                            span Phone: 1.714.996.5302
                                            span Fax: 1.714.996.1845
                                    li
                                        i.fa.fa-envelope-o
                                        p
                                            span sales@parsec-corp.com
                                            span info@parsec-corp.com
                        
                        .hero-card.hero-card-form
                            .form-contact
                                h4 Please Give Us a Few Details
                                iframe(src="//go.pardot.com/l/366621/2018-05-24/31bcr")



                                //- <form method="post" action="#" class="form" id="pardot-form">
                                //-     <p class="form-field  first_name pd-text required required-custom">
                                //-         <label class="field-label" for="firstName">First Name </label>
                                //-         <input type="text" name="firstName" id="firstName" class="text">
                                //-     </p>
                                //-     <p class="form-field  last_name pd-text required required-custom">
                                //-         <label class="field-label" for="lastName">Last Name </label>
                                //-         <input type="text" name="lastName" id="lastName" value="" class="text">
                                //-     </p>
                                //-     <p class="form-field  email pd-text required required-custom">
                                //-         <label class="field-label" for="bEmail">Business Email (See <a href="//parsec-corp.com/privacy/" target="_blank">Privacy Policy</a>)</label>
                                //-         <input type="text" name="bEmail" id="bEmail" value="" class="text">
                                //-     </p>
                                //-     <p class="form-field  company pd-text required required-custom">
                                //-         <label class="field-label" for="cName">Company Name </label>
                                //-         <input type="text" name="cName" id="cName">
                                //-     </p>
                                //-     <p class="form-field  job_title pd-text required required-custom">
                                //-         <label class="field-label" for="jobTitle">Job Title </label>
                                //-         <input type="text" name="jobTitle" id="jobTitle" value="" class="text" size="30" maxlength="128" onchange="" onfocus="">
                                //-     </p>
                                //-     <p class="form-field  phone pd-text required required-custom">
                                //-         <label class="field-label" for="phone">Phone</label>
                                //-         <input type="text" name="phone" id="phone">
                                //-     </p>
                                //-     <p class="form-field  country pd-select required required-custom form-field-master">
                                //-         <label class="field-label" for="country">Country </label>
                                //-         <select name="country" id="country" class="select">
                                //-             <option value="139790" selected="selected"></option>
                                //-             <option value="139792">United States</option>
                                //-             <option value="139794">Canada</option>
                                //-             <option value="139796">Afghanistan</option>
                                //-         </select>
                                //-     </p>
                                //-     <p class="form-field state pd-select required required-custom form-field-slave dependentFieldSlave" style="display: none;">
                                //-         <label class="field-label" for="state">State</label>
                                //-         <select name="state" id="state" class="select">
                                //-             <option value="140276" selected="selected"></option>
                                //-             <option value="140278">Alabama</option>
                                //-             <option value="140280">Alaska</option>
                                //-             <option value="140282">Arizona</option>
                                //-         </select>
                                //-     </p>
                                //-     <p class="form-field  territory pd-select required required-custom form-field-slave dependentFieldSlave" style="display: none;">
                                //-         <label class="field-label" for="territory">Territory </label>
                                //-         <select name="territory" id="territory" class="select">
                                //-             <option value="140380" selected="selected"></option>
                                //-             <option value="140382">Alberta</option>
                                //-             <option value="140384">British Columbia</option>
                                //-             <option value="140386">Manitoba</option>
                                //-         </select>
                                        
                                //-     </p>
                                //-     <p class="form-field comments pd-textarea">
                                //-         <label class="field-label" for="comments">Comments</label>
                                //-         <textarea name="comments" id="comments" class="standard"></textarea>
                                //-     </p>
                                //-     <div id="error_for_366621_21312pi_366621_21312" style="display:none"></div><div class="privacy">We're committed to your privacy. Parsec uses the information you provide to us to contact you about our relevant content, products, and services. You may unsubscribe from these communications at any time. For more information, check out our <a href="//parsec-corp.com/privacy/" target="_blank">Privacy Policy</a>.</div>
                                //-     <p class="submit">
                                //-         <input type="submit" value="Submit">
                                //-     </p>
                                //- </form>






                            //- form.form-hero(action="#")
                            //-     h4 Please Give Us a Few Details
                            //-     a(href="#") Privacy Policy
                            //-     .form-group
                            //-         input.form-control(type="text" placeholder="Full name")
                            //-     .form-group
                            //-         input.form-control(type="email" placeholder="Business email address")
                            //-     .form-group
                            //-         input.form-control(type="text" placeholder="Company name")
                            //-     .form-group
                            //-         input.form-control(type="text" placeholder="Job title")
                            //-     .form-group
                            //-         input.form-control(type="text" placeholder="Phone number")
                            //-     .form-group
                            //-         .select
                            //-             select.form-control(name="country")
                            //-                 option(selected="true" disabled="disabled") Country
                            //-                 option(value="Bangladesh") Bangladesh
                            //-                 option(value="India") India
                            //-                 option(value="Sri Lanka") Sri Lanka
                            //-     .form-group
                            //-         textarea.form-control(placeholder="Messages")
                            //-     p We're committed to your privacy. Parsec uses the information you provide to us to contact you about our relevant content, products, and services. You may unsubscribe from these communications at any time. For more information, check out our 
                            //-         a(href="#") Privacy Policy.
                            //-     button.btn.btn-gray(type="submit") Submit

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer