extends extends/layout

block body
    body.page-deployment

block title
    title Parsec - Deployment

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Deployment Options
                            p Your solutions, deployed your way.
                            a.btn.btn-gray(href="#") Let’s Get Started
                        .hero-media
                            img(src="images/hero-media-deployment.png" alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 On-Premises. Cloud. License. Saas. Choose The Best Fit For Your Needs.
                        p What are your deployment options for TrakSYS? We give you choices: on-premises, (either at an individual factory or at your data center), or a secure cloud-based solution that we host. And you can purchase a license or a subscription. How to choose the best solution for your company? Here are a few factors to consider.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/on-premises-license-maximum-control-higher-tco.png", alt="name")
                            .panel-intro
                                h2 On-premises (license): maximum control. higher tco.
                                p Deploying TrakSYS on your premises, either in an individual site or in a centralized IT center, gives you the greatest control over all aspects of the system, from installation and operation through long-term maintenance. Of course, when you factor in the costs of hardware and software, you will likely incur higher total cost of ownership relative to a hosted solution.
                        .panel-box
                            .panel-media
                                img(src="images/cloud-based-saas-convenient-efficient-secure.png", alt="name")
                            .panel-intro
                                h2 Cloud-based (saas): convenient. efficient. secure.
                                p Deploying TrakSYS in a hosted cloud-based system offers advantages in efficiency and cost, compared to traditional on-premises solutions: simplified access, ease of use, and increased system availability, to name a few. With a cloud deployment you get 24/7 access to your dedicated servers, data storage devices, and software within a secure, streamlined environment that your IT department does not need to maintain.

    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Partner Spotlight
                        p Looking for help deploying TrakSYS? We offer a worldwide network of partners. These highly qualified organizations have a demonstrated track record of delivering high-value solutions and top-notch customer service, and can help you with implementation, customization, and more. Visit our Find a Partner page to learn more.
                        p As a Parsec Certified Partner, ASM has implemented many TrakSYS applications helping manufacturers become more productive and sustainable in a global Marketplace. The expert senior engineers at ASM Soft S.L., based in Vigo, Spain, use a holistic approach to help clients optimize their production process, improve productivity, reduce downtime, increase product quality, reduce energy consumption and reduce costs.

    // carousel-msg
    section.messages
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Thousand Of Factories Worldwide Run More Productively With TrakSYS
            .row
                .col-lg-12
                    .owl-carousel.owl-carousel-msg.owl-theme
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study

    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Download The TrakSYS Brochure
                        p Get the TrakSYS brochure. All the information you need, in one convenient package.
            .row
                .col-lg-12
                    .promo-secondary
                        .promo-form
                            iframe(src="//go.pardot.com/l/366621/2017-06-15/5mv")

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer