extends extends/layout

block body
    body.page-energy-management

block title
    title Parsec - Energy Management

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 <span>Achieve Your Sustainability Goals With Real-Time</span>Energy Management
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-energy-management.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Manage Energy and Your Bottomline
                        p Staying competitive in today’s manufacturing landscape demands running operations as efficiently as possible as a means to lowering waste while also meeting Sustainability and Environmental initiatives.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-consumption.png", alt="name")
                        h4 Manage Utility Consumption
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-conservation.png", alt="name")
                        h4 Create a Roadmap For Engrgy Conservation
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-goal.png", alt="name")
                        h4 Predict Maintenance Issues
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-issue.png", alt="name")
                        h4 Achieve Sustainability Goals

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 A Complete Energy Management Solution
                        p As a unified MOM platform, TrakSYS not only captures comprehensive production data but also delivers contextualized intelligence beyond stand-alone Energy Management systems to uncover the relationships of energy consumption to unique products and production activities.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/contextualize-utility-usage.png", alt="name")
                            .panel-intro
                                h2 Contextualize Utility Usage
                                p TrakSYS Data Historian connects to meters and sensors to provide real-time visibility into energy consumption. TrakSYS allows you to further contextualize typical raw energy data. Manage budgets while uncovering energy saving opportunities with immediate impact.
                        .panel-box
                            .panel-media
                                img(src="images/manual-entry-distribution.png", alt="name")
                            .panel-intro
                                h2 Manual Entry Distribution
                                p In addition to digitally connected devices, manually entered meter readings can be captured periodically. Consumption can be applied with a flat distribution or allocated based on production times or production counts during the time intervals selected.
                        .panel-box
                            .panel-media
                                img(src="images/notification-and-alerts.png", alt="name")
                            .panel-intro
                                h2 Notification & Alerts
                                p TrakSYS allows user to configure in-system Notifications and email/text Alerts. Rapid communication enables decision makers to make precisely timed decision and actions.
                        .panel-box
                            .panel-media
                                img(src="images/metrics-and-reporting.png", alt="name")
                            .panel-intro
                                h2 Metrics & Reporting
                                p Gain visibility into energy management- compare by Day, by Job, and by Shift.
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer