extends extends/layout

block body
    body.page-home

block content

    // header
    include includes/header

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Elevate Your Business to World-Class
                            p With TrakSYS Managing Your Manufacturing Operations
                            a.btn.btn-lg.btn-light-gray.btn-play-light.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-home.png" alt="name")
    
    // clients
    section.clients
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Over 6,000 Factories Run TrakSYS To Help Them Gain Greater Visibility, Knowledge, And Control.
            .row
                .col-lg-12
                    .logo-list
                        img(src="images/cl-logo-01.png", alt="name")
                        img(src="images/cl-logo-02.png", alt="name")
                        img(src="images/cl-logo-03.png", alt="name")
                        img(src="images/cl-logo-04.png", alt="name")
                        img(src="images/cl-logo-05.png", alt="name")
                        img(src="images/cl-logo-06.png", alt="name")
                        img(src="images/cl-logo-07.png", alt="name")

                    // logo carousel
                    .owl-carousel.owl-carousel-logo.owl-theme
                        img(src="images/cl-logo-01.png", alt="name")
                        img(src="images/cl-logo-02.png", alt="name")
                        img(src="images/cl-logo-03.png", alt="name")
                        img(src="images/cl-logo-04.png", alt="name")
                        img(src="images/cl-logo-05.png", alt="name")
                        img(src="images/cl-logo-06.png", alt="name")
                        img(src="images/cl-logo-07.png", alt="name")

    // solutions
    section.solutions
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Optimize Your Manufacturing Operations using real time data
                        p The complex world of manufacturing needs smart and agile solutions to make it work effectively – all the time. At Parsec, we have dedicated ourselves to devising creative and innovative answers for some of the most challenging issues manufacturing has to deal with – now and in the future. These answers are derived from our deep practical experience and are based on TrakSYS, our versatile operations management solution platform.
            include includes/solution

    // carousel-industry
    section.industries
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Diverse Industries. Common Challenges.
                        p TrakSYS has been deployed at thousands of factories in over 100 countries, and in a variety of industries, including automotive, chemicals, food & beverage, life sciences, packaged goods, and more.
            .row
                .col-lg-12
                    include includes/carousel-industry

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Manufacturing Operations Management, Made As Simple As Possible
                        p With out-of-the-box functionality and integrated configuration tools, the TrakSYS platform has been designed to make deploying and maintaining your MOM solution as simple as possible.
            .row
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-computer.png", alt="name")
                        h4 One Integrated Application
                        p TrakSYS is developed as one unified and integrated software application with an impressive array of features and functions to meet your exact needs.
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Affordable Ownership
                        p TrakSYS is developed as one unified and integrated software application with an impressive array of features and functions to meet your exact needs.
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-safe.png", alt="name")
                        h4 One Integrated Application
                        p TrakSYS is developed as one unified and integrated software application with an impressive array of features and functions to meet your exact needs.
                        a.btn.btn-gray(href="#") Learn More

    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Harness The Power Of Data-Driven Decision Making
            .row
                .col-lg-12
                    .promo-primary
                        .promo-media
                            img(src="images/promo-dl-media-01.png", alt="name")
                        .promo-content
                            p Lack of performance can have a serious effect on your bottom line. Find out how the right software can help you run more effectively and efficiently.
                            .promo-form
                                iframe(src="//go.pardot.com/l/366621/2018-01-03/23nt9")

                                //- <form method="post" action="#" class="form" id="pardot-form">
                                //-     <p class="form-field  email pd-text required required-custom    ">
                                //-         <label class="field-label" for="email">Enter your email address *</label>
                                //-         <input type="text" name="email" class="text" placeholder="Enter your email address *">
                                //-     </p>
                                //-     <div>We're committed to your privacy. Parsec uses the information you provide to us to contact you about our relevant content, products, and services. You may unsubscribe from these communications at any time. For more information, check out our <a href="http://parsec-corp.com/privacy/" target="_blank">Privacy Policy</a>.</div>
                                //-     <p class="submit"><input type="submit" value="Download Now"></p>
                                //- </form>

    // footer
    include includes/footer