extends extends/layout

block body
    body.page-industries

block title
    title Parsec - View All Industries

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Diverse Industries Common Challenges
                            p Loriam ipsom dolor sit amet information is in the status for the info.
                        .hero-media
                            img(src="images/hero-media-industries.png" alt="name")

    // stats
    section.stats
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Trusted by Top Manufacturers Worldwide
                        p You battle complexity throughout your factory. We understand your challenges. Since 1987 we’ve built software that helps make managing your manufacturing operations as simple — and productive — as possible. And manufacturing management software is all we do. That’s why top manufacturers around the world rely on TrakSYS to deliver greater visibility, knowledge, and control.
            .row
                .col-lg-12
                    .stat-boxes
                        .stat-box
                            span.icon
                                img(src="images/icon-mass-production.png", alt="name")
                            h3
                                span.text-lg 6000
                                span.text-sm Deployments
                        .stat-box
                            span.icon
                                img(src="images/icon-engineer.png", alt="name")
                            h3
                                span.text-lg 80000
                                span.text-sm Daily Active Users
                        .stat-box
                            span.icon
                                img(src="images/icon-network.png", alt="name")
                            h3
                                span.text-lg 100
                                span.text-sm Countries
    
    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Diverse Industries. Common Challenges.
                        p Manufacturers in every industry face the same challenges: produce high-quality finished goods consistently, safely, and profitably. TrakSYS contains all the features and functions needed to configure it for any application, in any industry. TrakSYS has been deployed at thousands of factories in over 100 countries, and in a variety of industries, including automotive, chemicals, food & beverage, life sciences, packaged goods, and more.

    // card-industries
    section.card-industries
        .container
            .row
                .col-lg-4.col-md-6.col-sm-6
                    .card-page
                        img(src="images/card-media-01.png", alt="name")
                        .content
                            h4 Automotive
                            a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6.col-sm-6
                    .card-page
                        img(src="images/card-media-02.png", alt="name")
                        .content
                            h4 Chemicals
                            a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6.col-sm-6
                    .card-page
                        img(src="images/card-media-03.png", alt="name")
                        .content
                            h4 Life Sciences
                            a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6.col-sm-6
                    .card-page
                        img(src="images/card-media-04.png", alt="name")
                        .content
                            h4 Packaged Goods
                            a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6.col-sm-6
                    .card-page
                        img(src="images/card-media-05.png", alt="name")
                        .content
                            h4 Food & Beverage
                            a.btn.btn-gray(href="#") Learn More

    // carousel
    section.industries
        .container
            .row
                .col-lg-12
                    include includes/carousel-industry

    // feedback
    include includes/carousel-feedback

    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Download The TrakSYS Brochure
                        p Get the TrakSYS brochure. All the information you need, in one convenient package.
            .row
                .col-lg-12
                    .promo-secondary
                        .promo-form
                            iframe(src="//go.pardot.com/l/366621/2017-06-15/5mv")

    // footer
    include includes/footer