extends extends/layout

block body
    body.page-inventory

block title
    title Parsec - Inventory

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Real-Time Inventory Management
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-inventory.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Manage Inventory More Effectively Using Real- Time Production And Erp Data
                        p You want to maintain tight control of inventory, to increase production efficiency and reduce working capital requirements. TrakSYS can provide real-time visibility for inventory movement and production progress to improve on-time delivery while reducing inventory and production lead times.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-safe.png", alt="name")
                        h4 Improve Inventory Accuracy
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-conveyor.png", alt="name")
                        h4 Reduce Write-Downs
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-bar-code.png", alt="name")
                        h4 Decrease Lead Times
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-technology-01.png", alt="name")
                        h4 Monitor Supplier Quality

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Track And Manage Materials And Inventory Thoughtout Your Enterprice
                        p Use TrakSYS to maintain inventory accuracy and track real-time location and status, including ERP synchronization. In addition, TrakSYS can provide two-way traceability and genealogy from the product made to materials consumed, or materials consumed to products affected.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/raw-materials.png", alt="name")
                            .panel-intro
                                h2 Raw Materials
                                p Gain visibility into your supply chain, including notifications for replenishment, data analysis for raw material testing and Certificates of Analysis, production and quality performance by material supplier or lot.
                        .panel-box
                            .panel-media
                                img(src="images/planning-and-scheduling.png", alt="name")
                            .panel-intro
                                h2 Planning And Scheduling
                                p Plan and schedule human and machine resources, to fully utilize the available time of workforce and equipment. Track schedule compliance, changes and reasons.
                        .panel-box
                            .panel-media
                                img(src="images/work-in-process.png", alt="name")
                            .panel-intro
                                h2 Work In Process
                                p Gain full visibility of material locations, statuses, and interruptions in material flow. Reduce delays caused by inventory queues which are often a result of inadequate communication.
                        .panel-box
                            .panel-media
                                img(src="images/finished-goods.png", alt="name")
                            .panel-intro
                                h2 Finished Goods
                                p Determine quantities required to fulfill orders. Real-time exception reporting for late and partial quantities. Stock-out predictions based on usage patterns.
                        .panel-box
                            .panel-media
                                img(src="images/history-and-traceability.png", alt="name")
                            .panel-intro
                                h2 Traceability
                                p Track materials throughout production, including Supplier, Lot Code, Process Route, Employee Touches, Dates/Times, Quality Test Results, Process Parameters, etc.

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Metricks & Reporting
                        p Gain visibility into production operations, including status of jobs, schedule attainment, and resource performance. Compare by operator, team, shift, route, supplier, lot and more to identify why “golden” runs are exceptional. Quickly determine areas of the factory that are bottlenecks and prioritize your improvement plan.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/report-media.png", alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of Production Management
                        p Want to learn more about Production Management? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Infographic
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 Case Study
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer