extends extends/layout

block body
    body.page-key-features

block title
    title Parsec - Key Features

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Key<br>Features
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-key-features.png" alt="hero-mock")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 The Worlds’ Most Agile, Flexible, Extensible Manufacturing Operations Management Platform
                        p With a library of configurable features that conform to the Manufacturing Operations Management (MOM) standard architecture, TrakSYS allows you to deploy manufacturing operations management solutions quickly and cost-effectively. Use the built-in features and functions of TrakSYS to build solutions for virtually any challenge — from OEE and SPC, to E-Records, Traceability, Workflow, and more.
            .row
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-technology-01.png", alt="name")
                        h4 Definitions
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-engineer.png", alt="name")
                        h4 Resources
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-dashboard.png", alt="name")
                        h4 Scheduling
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-conveyor.png", alt="name")
                        h4 Dispatch
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-computer.png", alt="name")
                        h4 Execution
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Data Collection
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-packs.png", alt="name")
                        h4 Tracking
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-conveyor.png", alt="name")
                        h4 Analysis

    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        p TrakSYS is a software application and solution platform designed to help you manage the performance of your entire manufacturing operation in real time, from any web-connected device. That’s asking a lot. We should know. We’ve been doing this for almost thirty years. In that time we’ve gotten very good at making the complex ‘as simple as possible.’ (We can‘t take credit for that clever turn of phrase; Einstein said it first.)
                        p TrakSYS is a product of this disciplined approach. It’s a unified, web-based platform that contains all the code necessary to run key manufacturing management applications right out of the box. And it has built-in administration and configuration tools, so you don’t need to write custom code to create custom applications or every time you want to make a change. (You’re welcome.)

    // solutions
    section.solutions
        .container
            include includes/solution

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Key Features and Functions
                        p TrakSYS is designed to be simple yet powerful, with features that help you get started quickly and grow as needed. Extensive out-of-the-box functionality ensures this. Whether your factory has one line or 100, and uses manual or automated production processes, TrakSYS provides a straightforward path to measurable improvement.
            .row
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-engineer.png", alt="name")
                        h4 One Platform, Many Solution
                        p TrakSYS is a unified platform, with multiple, fully-integrated features to power business solutions.
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-computer.png", alt="name")
                        h4 Responsive Web Interface
                        p TrakSYS utilizes the latest web platforms: HTML5, jQuery, Bootstrap, Backbone, SignalR, and more.
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Single Sign On
                        p TrakSYS supports hybrid authentication, for users with or without a Windows/domain account.

    // carousel-industry
    section.industries
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Diverse Industries. Common Challenges.
                        p TrakSYS has been deployed at thousands of factories in over 100 countries, and in a variety of industries, including automotive, chemicals, food & beverage, life sciences, packaged goods, and more.
            .row
                .col-lg-12
                    include includes/carousel-industry
    
    // carousel-feedback
    include includes/carousel-feedback

    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Download The TrakSYS Brochure
                        p Get the TrakSYS brochure. All the information you need, in one convenient package.
            .row
                .col-lg-12
                    .promo-secondary
                        .promo-form
                            iframe(src="//go.pardot.com/l/366621/2017-06-15/5mv")
    
    // footer
    include includes/footer