extends extends/layout

block body
    body.page-lean

block title
    title Parsec - Lean

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Lean Operations Management
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-lean.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Manage Continuous Improvement Initiatives More Efficiently with Digitization 
                        p Factories can benefit greatly from deploying lean tools. Whether you need to improve quality, eliminate waste, shorten lead-time, or reduce total cost, you’ll need insight into process performance to uncover opportunities for improvement. Manual data collection consumes scarce human resources, often is prone to human error, and delays decision-making processes. The right software can provide real-time analytics so you may focus on training, collaborating, and improving processes.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-waste.png", alt="name")
                        h4 Eliminate Wastes
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-improvement.png", alt="name")
                        h4 Accelerate Improvement
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-lower-cost.png", alt="name")
                        h4 Lower Admin Costs
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-tracker.png", alt="name")
                        h4 Improve Activity Tracking

    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        p TrakSYS for Lean Management gives you the power to benchmark performance, manage tasks and workflows, and collaborate effectively. With simple to use interfaces on any device and relevant, timely, and actionable information, you’ll be well on your way to achieving your Lean objectives.

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/short-interval-control.png", alt="name")
                            .panel-intro
                                h2 Short Interval Control
                                p Manage short interval control to drive production improvements during the shift. Communicate production goals, track performance, identify emerging problems, and encourage teams to achieve regular, incremental improvements to the manufacturing process.
                        .panel-box
                            .panel-media
                                img(src="images/leader-standard-work.png", alt="name")
                            .panel-intro
                                h2 Leader Standard Work
                                p Manage Leadership Standard Work to engage and develop future leaders in the continuous improvement process. Build standard routines to control and improve process performance while empowering your people.
                        .panel-box
                            .panel-media
                                img(src="images/5s-audits.png", alt="name")
                            .panel-intro
                                h2 5S Audits
                                p Manage workplace organization with 5S to improve safety, efficiency, and workplace morale. Conduct 5S audits, inventory Red Tag items, track improvement actions, and schedule cleaning tasks to sustain a state of order and cleanliness in the workplace.
                        .panel-box
                            .panel-media
                                img(src="images/autonomous-maintenance.png", alt="name")
                            .panel-intro
                                h2 Autonomous Maintenance
                                p Manage Autonomous Maintenance tasks as part of your Total Productive Maintenance program. Schedule cleaning, inspection, and lubrication tasks so operators share responsibility in care of the equipment with the maintenance staff.
                        .panel-box
                            .panel-media
                                img(src="images/kaizen-and-project-tracking.png", alt="name")
                            .panel-intro
                                h2 Kaizen & Project Tracking
                                p Manage project charters and action items while continuously improving the workplace. Log activities, assign responsibilities, automate notifications, and track completion progress.

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Metricks & Reporting
                        p Gain real-time visibility into Lean management processes and metrics. Manage standard routines and engage your team in activities to ensure that processes are continually improving.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/report-media.png", alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of Lean Management
                        p Want to learn more about Lean Management? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-technology-02.png", alt="name")
                        h4 Infographic
                        p Lean provides a systematic method for waste minimization without sacrificing productivity, that improve quality, safety, and worker morale manufacturers can reduce costs and shorten lead times.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer