extends extends/layout

block body
    body.page-maintenance

block title
    title Parsec - Maintenance

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Real-Time Maintenance Management
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-maintenance.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Manage Maintenance More Effectively Using Real-Time Equipment Data
                        p To maximize equipment reliability and longevity, you need to take a more proactive approach to maintenance. TrakSYS™ provides insight into production processes, equipment performance, and analysis of real-time data gathered from machines, to help maximize overall productivity through preventive and predictive maintenance management.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-engineering.png", alt="name")
                        h4 Maximize Capacity Utilization
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-truck.png", alt="name")
                        h4 Increase On-Time Delivery
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-weight.png", alt="name")
                        h4 Reduce Maintenance Costs
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-technology-01.png", alt="name")
                        h4 Extend Equipment Life

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 More Flexible and Responsive Maintenance Management
                        p Whether you now use a CMMS system, spreadsheets, or just pen and paper, adding TrakSYS will help improve the effectiveness of your maintenance program. Based on an easy-to-use mobile platform, TrakSYS works alongside your maintenance crew, providing greater visibility, knowledge, and control.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/work-orders.png", alt="name")
                            .panel-intro
                                h2 Work Orders
                                p Communicate work requests and prioritization to the maintenance department. Maintain records of work completed, labor utilized, and material cost.
                        .panel-box
                            .panel-media
                                img(src="images/preventive-maintenance.png", alt="name")
                            .panel-intro
                                h2 Preventive Maintenance
                                p Schedule equipment inspection and care using equipment runtime or cycles, monitored equipment conditions, or traditional time intervals.
                        .panel-box
                            .panel-media
                                img(src="images/document-and-revision-control.png", alt="name")
                            .panel-intro
                                h2 In-Line Work Instructions, Manuals, Locations
                                p Provide maintenance technicians work instructions, equipment manuals, and spare part locations for quick reference.
                        .panel-box
                            .panel-media
                                img(src="images/work-order-scheduling.png", alt="name")
                            .panel-intro
                                h2 Work Order Scheduling
                                p Optimize the use of existing assets and resources, with comprehensive scheduling. Cross reference production schedules, labor schedules, and work order schedules to take advantage of optimal conditions for maintenance activities.
                        .panel-box
                            .panel-media
                                img(src="images/predictive-maintenance.png", alt="name")
                            .panel-intro
                                h2 Predictive Maintenance
                                p Identify potential equipment failures before they are catastrophic. Track key indicators, including: Vibration; Temperature; Oil Analysis; Amperage; Differential Pressure.

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Metricks & Reporting
                        p Gain visibility into production operations, including status of jobs, schedule attainment, and resource performance. Compare by operator, team, shift, route, supplier, lot and more to identify why “golden” runs are exceptional. Quickly determine areas of the factory that are bottlenecks and prioritize your improvement plan.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/report-media.png", alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of Production Management
                        p Want to learn more about Production Management? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 Case Study
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer