extends extends/layout

block body
    body.page-mentoring

block title
    title Parsec - Mentoring

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Anticipate. Accumulate. Accelerate.
                        .hero-media
                            img(src="images/hero-media-mentoring.png" alt="name")

    // support
    section.support
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Achieve Your Goals with Mentoring
                        p In order to help you achieve your goals as quickly as possible, we offer Mentoring Services. Through Mentoring Services, our experienced consultants are available to work with you to accomplish your objectives. Mentoring Services can also be used for evaluation and pilot or proof-of-concept projects. How does the Mentoring process work? We follow a proven method designed to ensure you achieve your goals.
            .row
                .col-lg-12
                    .accordion.accordion-info
                        .card
                            .card-header
                                h4
                                    a(href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true") Fact Finding & Discovery
                            #collapseOne.collapse.show(data-parent=".accordion")
                                .card-body
                                    p With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.
                                    h6.sp-mt-20.sp-mb-25 The benefits include:
                                    ul.accordion-list
                                        li Email support: support@parsec-corp.com
                                        li Web meeting support (for more interactive engagement)
                                        li Web-based support
                                        li Phone Support US: 1-877-TrakSYS
                                        li Phone Support International: 1-714-996-5302
                                        li Implementation guides and many other self-help documents
                                        li Technical notes
                                        li Hotfixes, Patches, and Service Packs
                                        li Product downloads
                                        li Free product upgrades (new versions/releases during subscription term)
                        .card
                            .card-header
                                h4
                                    a(href="#" data-toggle="collapse" data-target="#collapseTwo") Design & Configurtion
                            #collapseTwo.collapse(data-parent=".accordion")
                                .card-body
                                    p With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.
                        .card
                            .card-header
                                h4
                                    a(href="#" data-toggle="collapse" data-target="#collapseThree") Deployment & Trainging
                            #collapseThree.collapse(data-parent=".accordion")
                                .card-body
                                    p With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.
                        .card
                            .card-header
                                h4
                                    a(href="#" data-toggle="collapse" data-target="#collapseFour") Testing & Verification
                            #collapseFour.collapse(data-parent=".accordion")
                                .card-body
                                    p With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.
            .row
                .col-lg-12
                    .cta-sec
                        h3 Ready to Learn More?
                        a.btn.btn-blue(href="#") Explore Training Services

    // messages
    section.messages
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Is TrakSYS Right For You? Don’t Just Take Our Work For it
            .row
                .col-lg-12
                    .owl-carousel.owl-carousel-msg.owl-theme
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study
    
    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Download The TrakSYS Brochure
                        p Get the TrakSYS brochure. All the information you need, in one convenient package.
            .row
                .col-lg-12
                    .promo-secondary
                        .promo-form
                            iframe(src="//go.pardot.com/l/366621/2017-06-15/5mv")

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer