extends extends/layout

block body
    body.page-overview

block title
    title Parsec - Overview

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Monitor. Control. Optimize.
                            p With TrakSYS Managing Your Manufacturing Operations
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-overview.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Run Your Manufacturing Operation More Effectively, Using Real- Time Data
                        p You need insights and tools to help you run your business. You don’t need an endless software project. TrakSYS is a next-generation MES platform with out-of-the-box functionality designed to provide the monitoring, measuring, reporting and analytics you need to run your manufacturing operation more effectively.
            .row
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-conveyor.png", alt="name")
                        h4 Send Less. Get More.
                        p Be up and running quickly, with out-of-the-box functionality for key solutions: OEE, SPC, batch, and more.
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 Leverage Your Other Assets
                        p ERP. SCADA. PLC. IoT. TrakSYS integrates with your other assets and infrastructure.
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-merchandise.png", alt="name")
                        h4 Create. Configure. Customize
                        p Tailor TrakSYS for your needs using built-in code-free configuration tools or advanced scripting.

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/capture-real-time-production-data.png", alt="name")
                            .panel-intro
                                h2 Capture Real-Time Production Data
                                p TrakSYS benchmarks performance and productivity, by collecting and aggregating data from virtually any source (PLCs, IIoT, ERP, manual, etc.), to deliver real-time, actionable intelligence on your manufacturing operation – while leveraging your existing assets, resources and infrastructure.
                        .panel-box
                            .panel-media
                                img(src="images/gain-insights-to-help-improve-operations.png", alt="name")
                            .panel-intro
                                h2 Gain Insights To Help Improve Operations
                                p Gain unparalleled insight into your operation, using the many standard dashboards and reports included with the TrakSYS platform. Want to see more? You can easily create custom reports, forms and screens, using the web-based configuration tools built into TrakSYS.
                        .panel-box
                            .panel-media
                                img(src="images/take-action-with-tasks-journals-and-notifications.png", alt="name")
                            .panel-intro
                                h2 Take Action, with Tasks, Journals, and Notifications
                                p Take what you’ve learned about your operation and put it into action, using the built-in task management features of TrakSYS. Enter operating notes in Journals. Assign Tasks to operators, maintenance, and other team members. Or send out Notifications for urgent issues.

    // promo-vid
    section.promo-vid
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 See TrakSYS In Action
                        p Want to learn more about how TrakSYS works? Watch our How-To video series. Each 2-minute video explains a particular aspect of TrakSYS, including deployment, configuration, and more.
            .row
                .col-lg-9.mx-auto
                    .owl-carousel.owl-carousel-promo-vid.owl-theme
                        .promo-vid-item
                            img(src="images/promo-vid-media-01.png", alt="name")
                            a.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                        .promo-vid-item
                            img(src="images/promo-vid-media-01.png", alt="name")
                            a.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                        .promo-vid-item
                            img(src="images/promo-vid-media-01.png", alt="name")
                            a.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play

    // feedback
    include includes/carousel-feedback
    
    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Download The TrakSYS Brochure
                        p Get the TrakSYS brochure. All the information you need, in one convenient package.
            .row
                .col-lg-12
                    .promo-secondary
                        .promo-form
                            iframe(src="//go.pardot.com/l/366621/2017-06-15/5mv")

                            //- <form method="post" action="#" class="form" id="pardot-form">
                            //-     <p class="form-field  email pd-text required required-custom    ">
                            //-         <label class="field-label" for="email">Enter your email address *</label>
                            //-         <input type="text" name="email" id="email" class="text"placeholder="Enter your email address *">     
                            //-     </p>
                            //-     <div class="privacy">We're committed to your privacy. Parsec uses the information you provide to us to contact you about our relevant content, products, and services. You may unsubscribe from these communications at any time. For more information, check out our <a href="http://parsec-corp.com/privacy/" target="_blank">Privacy Policy</a></div>
                            //-     <p class="submit">
                            //-         <input type="submit" value="Download Brochure">
                            //-     </p>
                            //- </form>
    
    // footer
    include includes/footer