extends extends/layout

block body
    body.page-packaged-goods

block title
    title Parsec - Packaged Goods

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 TrakSYS for Packaged Goods
                            p Loriam ipsom dolor sit amet information is in the status for the info.
                        .hero-media
                            img(src="images/hero-media-packaged-goods.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Unpack Real-Time Operations Data for Greater Productivity
                        p As a packaged goods manufacturer your customers are more demanding than ever. They want top-quality products at competitive prices. And, of course, quality cannot be sacrificed in the name of speed and efficiency. How do you optimize operations, to balance these competing concerns? You need insights driven by real-time production data, and tools to take action on those insights. TrakSYS can help.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-safe.png", alt="name")
                        h4 Improve Quality
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-weight.png", alt="name")
                        h4 Minimize Downtime
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-engineer.png", alt="name")
                        h4 Ensure Safety
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Reduce Cost

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 How TrakSYS Helps You Gain Greater Visibility, Knowledge, and Control
                        p TrakSYS helps packaged good manufacturers enable operational excellence initiatives, meet safety compliance requirements, and support sustainability efforts. Here’s how:
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/increased-productivity.png", alt="name")
                            .panel-intro
                                h2 Increased Productivity
                                p Increase productivity through measurement such as OEE and TEEP, and automated corrective and preventive action using tasks and journals.
                        .panel-box
                            .panel-media
                                img(src="images/quality-assurance.png", alt="name")
                            .panel-intro
                                h2 Quality Assurance
                                p Improve quality with Statistical Process Control (SPC) and real-time data, to respond to out-of-compliance events
                        .panel-box
                            .panel-media
                                img(src="images/electronic-records.png", alt="name")
                            .panel-intro
                                h2 Electronic Records
                                p Automate your recordkeeping, including changes, actions, recorded values, and electronic signatures, for the creation of a comprehensive audit trail.
                        .panel-box
                            .panel-media
                                img(src="images/preventive-and-predictive-maintenance.png", alt="name")
                            .panel-intro
                                h2 Preventive and Predictive Maintenance
                                p Coordinate preventive maintenance activities with production schedules. Tap into machine data and perform predictive maintenance, to avoid unscheduled downtime.

    // clients
    section.clients
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Trusted by Leading Packaged Goods Manufacturers Worldwide
                        p TrakSYS has been deployed at thousands of factories in over 100 countries, including many leading packaged goods manufacturers.
            .row
                .col-lg-12
                    .logo-list
                        img(src="images/cl-logo-01.png", alt="name")
                        img(src="images/cl-logo-02.png", alt="name")
                        img(src="images/cl-logo-03.png", alt="name")
                        img(src="images/cl-logo-04.png", alt="name")
                        img(src="images/cl-logo-05.png", alt="name")
                        img(src="images/cl-logo-06.png", alt="name")
                        img(src="images/cl-logo-07.png", alt="name")

                    // logo carousel
                    //- .owl-carousel.owl-carousel-logo.owl-theme
                    //-     img(src="images/cl-logo-01.png", alt="name")
                    //-     img(src="images/cl-logo-02.png", alt="name")
                    //-     img(src="images/cl-logo-03.png", alt="name")
                    //-     img(src="images/cl-logo-04.png", alt="name")
                    //-     img(src="images/cl-logo-05.png", alt="name")
                    //-     img(src="images/cl-logo-06.png", alt="name")
                    //-     img(src="images/cl-logo-07.png", alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About TrakSYS for Packaged Goods
                        p Want to learn more about TrakSYS for Packaged Goods? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Infographic
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 Case Study
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer