extends extends/layout

block body
    body.page-partners

block title
    title Parsec - Partners

block content

    // header
    include includes/header-3

    // g-map
    section.g-map
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Locate a Partner
                        p Seeking a partner to help you implement a TrakSYS-based solution? Use our Find a Partner map, below.
        .map#map

    // partners
    section.partners
        .container
            .row
                .col-lg-12
                    table.table.table-pfl.table-borderless
                        thead
                            tr
                                th Title
                                th Address
                                th Description
                        tbody
                            tr
                                td ACS AG<span class="bronze">Bronze Partner</span>
                                td Flawilerstrasse 27, 9500 Wil, Switzerland
                                td 
                                    .pfl-info
                                        a.btn-circle-gray(href="#") +
                                        .pfl-box
                                            a.btn-circle-blue.btn-circle-sm(href="#") x
                                            .pfl-info-lists
                                                ul.pfl-info-list
                                                    li <span>Name:</span>Roland Bieri
                                                    li <span>Title:</span>CEO
                                                    li <span>Phone:</span>+41 (71) 929-4410
                                                    li <span>Email:</span>bieri@acs-ag.ch
                                                ul.pfl-info-list
                                                    li <span>Regions Served:</span>Europe
                            tr
                                td ACS AG<span class="bronze">Bronze Partner</span>
                                td Hansastraße 1-3, 47058 Duisburg, Germany
                                td 
                                    .pfl-info
                                        a.btn-circle-gray(href="#") +
                                        .pfl-box
                                            a.btn-circle-blue.btn-circle-sm(href="#") x
                                            .pfl-info-lists
                                                ul.pfl-info-list
                                                    li <span>Name:</span>Roland Bieri
                                                    li <span>Title:</span>CEO
                                                    li <span>Phone:</span>+41 (71) 929-4410
                                                    li <span>Email:</span>bieri@acs-ag.ch
                                                ul.pfl-info-list
                                                    li <span>Regions Served:</span>Europe
                            tr
                                td Actemium Netherlands<span class="gold">Gold Partner</span>
                                td Costerweg 5, 5466 AM Veghel, Netherlands
                                td 
                                    .pfl-info
                                        a.btn-circle-gray(href="#") +
                                        .pfl-box
                                            a.btn-circle-blue.btn-circle-sm(href="#") x
                                            .pfl-info-lists
                                                ul.pfl-info-list
                                                    li <span>Name:</span>Peter De Wit
                                                    li <span>Title:</span>Business Development Director
                                                    li <span>Phone:</span>+31 (0)6 51 92 68 72
                                                    li <span>Email:</span>peter.dwit@actemium.com
                                                ul.pfl-info-list
                                                    li <span>Regions Served:</span>Worldwide
                            tr
                                td ASM Soft S.L.<span class="silver">Silver Partner</span>
                                td CRTA de Bembrive, 109 (Edificio ASM), Vigo 36204, Spain
                                td 
                                    .pfl-info
                                        a.btn-circle-gray(href="#") +
                                        .pfl-box
                                            a.btn-circle-blue.btn-circle-sm(href="#") x
                                            .pfl-info-lists
                                                ul.pfl-info-list
                                                    li <span>Name:</span>Cesareo Barciela Carballido
                                                    li <span>Title:</span>Managing Director
                                                    li <span>Phone:</span>+34 986 22 68 00
                                                    li <span>Email:</span>cbarciela@asm.es
                                                ul.pfl-info-list
                                                    li <span>Regions Served:</span>Europe

    // footer
    include includes/footer

//- google map script
prepend scripts
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd1_9wafTrKjPVPCH6t6MlhXrBJnDeFyQ")