extends extends/layout

block body
    body.page-performance

block title
    title Parsec - Performance

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Real-Time Performance Management
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-performance.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Optimize Operations Using Real-time Production Data
                        p Whether it is a long-term Continuous Improvement initiative or a simple bottleneck on your production line, you need to understand what is limiting your factory’s performance. Built on the TrakSYS next-generation manufacturing operations management (MOM) platform, the TrakSYS Real-Time Performance Management solution framework benchmarks performance and productivity, by collecting and aggregating data, to deliver real-time, actionable intelligence for significant productivity improvement – while leveraging your existing assets, resources and infrastructure.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-productivity.png", alt="name")
                        h4 Improve Productivity
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-group.png", alt="name")
                        h4 Maximize Capacity
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-delivery.png", alt="name")
                        h4 Increase On-time Delivery
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-profitability.png", alt="name")
                        h4 Improve Profitability

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 A Complete Performance Management Solution
                        p The TrakSYS Real-Time Performance Management solution framework offers out-of-the-box functionality designed to provide the insights you need to evaluate the root causes of poor performance in your manufacturing operation. Whether your operations are discrete, continuous or batch, TrakSYS RPM gives you the tools you need — like event tracking, operator task management, alerts, journaling, and more — to optimize performance and profitability across the supply chain.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/planning-and-scheduling-performance.png", alt="name")
                            .panel-intro
                                h2 Planning & Scheduling Performance
                                p Planning and scheduling are essential to meeting customer’s on-time delivery requirements. TrakSYS enables analysis of on-time, in-full, and schedule attainment performance metrics for more accurate planning and scheduling, as well as a roadmap for continuous improvement.
                        .panel-box
                            .panel-media
                                img(src="images/equipment-performance.png", alt="name")
                            .panel-intro
                                h2 Equipment Performance
                                p Connected to existing automation infrastructure, TrakSYS captures production counts, scrap counts, and current states of equipment to provide a clear view of what is happening on the plant floor and notifies of events requiring attention. Engage operators to detail specific root causes or corrective actions, to leverage their knowledge, for process improvement.
                        .panel-box
                            .panel-media
                                img(src="images/changeover-performance.png", alt="name")
                            .panel-intro
                                h2 Changeover Performance
                                p Efficient product changeovers are essential to minimizing excess inventory. TrakSYS communicates targets, procedures, and status for different changeover types. TrakSYS provides analysis of process performance for more accurate planning and scheduling as well as a roadmap for continuous improvement.
                        .panel-box
                            .panel-media
                                img(src="images/maintenance-performance.png", alt="name")
                            .panel-intro
                                h2 Maintenance Performance
                                p Equipment uptime and performance is essential to plant productivity. TrakSYS provides solutions for efficiently managing work requests, track response times, wrench times, backlogs, on-time completion, and predict equipment failures. TrakSYS provides analysis of maintenance performance as a roadmap for continuous improvement as the factory evolves from reactive to proactive maintenance.
                        .panel-box
                            .panel-media
                                img(src="images/quality-performance.png", alt="name")
                            .panel-intro
                                h2 Quality Performance
                                p Quality performance is essential to protecting brand recognition. TrakSYS provides solutions for efficiently tracking defects, errors, yield, and rework. TrakSYS provides analysis of quality performance as a roadmap for lowering costs of poor quality.

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Enterprise Metricks & Reporting
                        p Gain visibility into operation metrics and KPIs. In a multi-site deployment, TrakSYS provides analysis to compare the performance of lines and departments across plants to determine best practices across the enterprise. Quickly identify bottlenecks in the supply chain and prioritize improvement plans.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/report-media.png", alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of Real-time Performance Management
                        p Want to learn more about Real-Time Performance Management? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer