extends extends/layout

block body
    body.page-production

block title
    title Parsec - Production

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Production Operation Management
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-production.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Optimize Operations Using Real-time Production Data and Synchronized Planning & Scheduling
                        p Manufacturing operations have many inherent complexities. Production Management with TrakSYS is designed to address those complexities so you can plan, schedule, execute, and deliver goods as efficiently and effectively as possible. As a purpose-built MOM platform, TrakSYS delivers interoperability to connect your business and manufacturing systems involved in production management.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-idea.png", alt="name")
                        h4 Optimize Planning & Scheduling
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-truck.png", alt="name")
                        h4 Increase On-Time Delivery
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-machinery.png", alt="name")
                        h4 Improve Productivity
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-engineer.png", alt="name")
                        h4 Improve Profitability

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 A Complete Production Management Solution
                        p TrakSYS Real-Time Production Management solution integrates with ERP to carry out Advanced Planning and Scheduling, and route production information to systems, equipment, and people. Instead of isolated data within individual systems, with TrakSYS, it will become the force behind managing and executing production activities in a cohesive, seamless, and repeatable manner.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/process-order.png", alt="name")
                            .panel-intro
                                h2 Assign Job/Process Order
                                p Synchronize with ERP or create jobs. Specify product quantities, schedule, asset assignments, and more. Quickly communicate schedule revisions and priorities to the line and management level. Gain real-time visibility of job progress and schedule attainment.
                        .panel-box
                            .panel-media
                                img(src="images/finite-scheduling.png", alt="name")
                            .panel-intro
                                h2 Finite Scheduling
                                p Apply business rules to optimize production scheduling and resource management. Plan and assign resources based on availability of materials, equipment, and employee skills. Determine job sequence to minimize changeover time and cleaning. Leverage first available or best performing equipment to define production routes. Quickly evaluate different what-if scenarios offline before committing a final schedule.
                        .panel-box
                            .panel-media
                                img(src="images/reinforce-best-practices.png", alt="name")
                            .panel-intro
                                h2 Reinforce Best Practices
                                p Store documents in the built-in Document Library or link to externally stored files. Provide users quick access to standardize procedures in useful formats – pictures, videos, flowcharts, and checklists – reinforcing Best Practices. TrakSYS Audit feature offers a configurable way to track documents and system revisions. Manage employee training, skill sets, certifications, authorization, and security clearance.
                        .panel-box
                            .panel-media
                                img(src="images/track-and-manage-events.png", alt="name")
                            .panel-intro
                                h2 Track And Manage Events
                                p Connected to your existing automation infrastructure, TrakSYS provides a clear view of what’s happening on your plant floor and informs you of events requiring attention. You can record a specific cause or even multiple causes of an event, and TrakSYS will analyze the trends.
                        .panel-box
                            .panel-media
                                img(src="images/tasks-alerts-journals-and-more.png", alt="name")
                            .panel-intro
                                h2 Tasks, Alerts, Journals And More
                                p With real-time alerts, notifications, escalations, and the ability to configure automated workflows, TrakSYS gives you the tools to communicate and resolve problems quickly and effectively.
                        .panel-box
                            .panel-media
                                img(src="images/data-historian.png", alt="name")
                            .panel-intro
                                h2 Data Historian
                                p Connect to automation to record and retrieve time-series production and process data. Data Historian further enhances Traceability, enabling users to analyze sources of variation, identify process improvement opportunities, and quickly troubleshoot root causes.

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Metricks & Reporting
                        p Gain visibility into production operations, including status of jobs, schedule attainment, and resource performance. Compare by operator, team, shift, route, supplier, lot and more to identify why “golden” runs are exceptional. Quickly determine areas of the factory that are bottlenecks and prioritize your improvement plan.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/report-media.png", alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of Production Management
                        p Want to learn more about Production Management? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer