extends extends/layout

block body
    body.page-quality

block title
    title Parsec - Quality

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Quality Operation Management
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-quality.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Create And Enforce A Quality By Design Culture
                        p Through a real-time, interactive, and operationally-focused approach to your quality management, TrakSYS makes it possible to bring about and enforce a quality-by-design culture that is both effective and sustainable. The availability of real-time, contextualized information using TrakSYS provides deep insights into the causes of poor quality. And TrakSYS provides the tools to take quick action on those insights, creating a closed-loop system of quality management.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-engineer.png", alt="name")
                        h4 Improve Customer Satisfaction
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-weight.png", alt="name")
                        h4 Reduce Costs of Poor Quality
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-conveyor.png", alt="name")
                        h4 Standardize Processes
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-gears.png", alt="name")
                        h4 Maintain Regulatory Compliance

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 A Complete Production Management Solution
                        p With TrakSYS, you can manage all essential elements of quality such as tasks, scheduling, procedures, employee qualifications, reports, and analysis, notifications, and audit trail. Based on an easy-to-use mobile platform TrakSYS helps you implement systematic approaches to reduce process variation and maximize product quality and compliance.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/tasks-alerts-journals-and-more.png", alt="name")
                            .panel-intro
                                h2 Real-time Quality Data Collection
                                p TrakSYS allows you to define and manage your quality control plans. Schedule unique tasks as it relates to products, production steps, materials, and labor and assets involved. Useful for Pre-operational, HACCP, and In-Process inspections. Provide instant access through reports and displays for quicker decision-making. With real-time alerts, notifications, escalations, and the ability to configure automated workflows, TrakSYS gives you the tools to communicate and resolve problems quickly and effectively.
                        .panel-box
                            .panel-media
                                img(src="images/document-and-revision-control.png", alt="name")
                            .panel-intro
                                h2 Document And Revision Control
                                p Store documents in the built-in Document Library or link to externally stored files. Provide users quick access to standardize procedures in useful formats – pictures, videos, flowcharts, and checklists – reinforcing Best Practices. TrakSYS Audit feature offers a configurable way to track documents and system revisions. Manage employee training, skill sets, certifications, authorization, and security clearance.
                        .panel-box
                            .panel-media
                                img(src="images/track-and-manage-scrap-and-product-defects.png", alt="name")
                            .panel-intro
                                h2 Track And Manage Scrap & Product Defects
                                p Connected to your existing automation infrastructure, TrakSYS provides a clear view of what is happening on your plant floor and informs you of events requiring attention. Engage operators to detail specific root causes or corrective actions, to leverage their knowledge, for quality improvement.
                        .panel-box
                            .panel-media
                                img(src="images/real-time-spc.png", alt="name")
                            .panel-intro
                                h2 Real-Time Spc
                                p Display product or process measurements to control quality during the manufacturing process. Data can be gathered through manual input or seamlessly connect to in-line or offline measurement equipment. With real-time alerts and notifications, adjustments can be quickly made to improve process capabilities and minimize the costs of poor quality or product give-away.
                        .panel-box
                            .panel-media
                                img(src="images/data-historian.png", alt="name")
                            .panel-intro
                                h2 Data Historian
                                p Connect to automation to record and retrieve time-series production and process data. Data Historian further enhances Traceability, enabling users to analyze sources of variation, identify process improvement opportunities, and quickly troubleshoot root causes.
                        .panel-box
                            .panel-media
                                img(src="images/customer-complaint-management.png", alt="name")
                            .panel-intro
                                h2 Customer Complaint Management
                                p Record, track and analyze customer complaint trends. Use TrakSYS Traceability to identify if complaints are originating from specific production dates, shifts, products, batch numbers, lot numbers, and production lines. Identify root causes, monitor eliminated reoccurring issues, and determine if corrective and preventive actions are effective.
                        .panel-box
                            .panel-media
                                img(src="images/corrective-and-preventive-action-management.png", alt="name")
                            .panel-intro
                                h2 Non-Conformance/Corrective And Preventive Action Management
                                p Connect to automation to record and retrieve time-series production and process data. Data Historian further enhances Traceability, enabling users to analyze sources of variation, identify process improvement opportunities, and quickly troubleshoot root causes.

    // section-media-o 
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Metricks & Reporting
                        p Gain visibility into production operations, including status of jobs, schedule attainment, and resource performance. Compare by operator, team, shift, route, supplier, lot and more to identify why “golden” runs are exceptional. Quickly determine areas of the factory that are bottlenecks and prioritize your improvement plan.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/report-media.png", alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of Production Management
                        p Want to learn more about Production Management? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 White Paper
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer