extends extends/layout

block body
    body.page-blog

block title
    title Parsec - Resources

block content

    // header
    include includes/header-3

    // filter
    include includes/filter

    // section-post
    section.section-post
        .container
            .row
                .col-lg-12
                    .post.post-lg.post-sticky
                        .post-media
                            a(href="#")
                                img(src="images/post-thumb-01.png", alt="name")
                        .post-intro
                            h2
                                a(href="#") Improving Overall Equipment Effectiveness and Increasing Operational Excellence
                            p
                                a(href="#") Truly world-class manufacturers must be laser-focused on one goal – running their operation as effectively and productively as possible. The complex world of manufacturing needs smart and agile solutions to make it work effectively – all the 
                            a.btn.btn-gray(href="#") Download Case Study
            .row
                .col-lg-12
                    .post.post-xlg
                        .post-media
                            a(href="#")
                                i.fa.fa-play
                                img(src="images/post-thumb-02.png", alt="name")
                        .post-intro
                            h2
                                a(href="#") Grupo Farmasierra Mejora de la Calidad y Reduccion del Tiempo de Fabricacion
                            p
                                a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem amet ab molestias, corporis itaque beatae eaque sit fugit eius dicta enim sed vero voluptatem dolorum ratione architecto. Cum incidunt provident fuga similique, quia, natus laboriosam veritatis, tempore sunt dolores quae?
                .col-lg-4
                    .post.post-xs
                        .post-media
                            a(href="#")
                                img(src="images/post-thumb-03.png", alt="name")
                        .post-intro
                            h2
                                a(href="#") 7 Best Practices of Highly Effective Teams
                            p
                                a(href="#") Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy
                            a.btn.btn-gray(href="#") Download Ebook
                .col-lg-4
                    .post.post-xs
                        .post-media
                            a(href="#")
                                i.fa.fa-play
                                img(src="images/post-thumb-04.png", alt="name")
                        .post-intro
                            h2
                                a(href="#") Comprehensive Real-Time Traceability
                            p
                                a(href="#") Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy
                            a.btn.btn-gray(href="#") Download Infograph
                .col-lg-4
                    .post.post-xs
                        .post-media
                            a(href="#")
                                img(src="images/post-thumb-05.png", alt="name")
                        .post-intro
                            h2
                                a(href="#") Improving Quality Management
                            p
                                a(href="#") Manage manufacturing with operationally focused quality. Identify early issues and root-cause analysis and see why 66% of plants identify quality Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy
                            a.btn.btn-gray(href="#") Download Infograph
                .col-lg-8
                    .post.post-md
                        .post-media
                            a(href="#")
                                img(src="images/post-thumb-06.png", alt="name")
                        .post-intro
                            h2
                                a(href="#") 7 Best Practices of Highly Effective Teams
                            p
                                a(href="#") Truly world-class manufacturers must be laser-focused on one goal – running their operation as effectively and productively as possible. The complex world of manufacturing needs
                            a.btn.btn-gray(href="#") Download Infograph
                .col-lg-4
                    .post.post-xs
                        .post-media
                            a(href="#")
                                img(src="images/post-thumb-07.png", alt="name")
                        .post-intro
                            h2
                                a(href="#") Improving Quality Management
                            p
                                a(href="#") Manage manufacturing with operationally focused quality. Identify early issues and root-cause analysis and see why 66% of plants identify quality
                            a.btn.btn-gray(href="#") Download Infograph
                .col-lg-12
                    .post.post-lg
                        .post-media
                            a(href="#")
                                img(src="images/post-thumb-08.png", alt="name")
                        .post-intro
                            h2
                                a(href="#") Improving Overall Equipment Effectiveness and Increasing Operational Excellence
                            p
                                a(href="#") Truly world-class manufacturers must be laser-focused on one goal – running their operation as effectively and productively as possible. The complex world of manufacturing needs smart and agile solutions to make it work effectively – all the 
                            a.btn.btn-gray(href="#") Download Case Study
                .col-lg-6
                    .post.post-sm
                        .post-media
                            a(href="#")
                                i.fa.fa-play
                                img(src="images/post-thumb-09.png", alt="name")
                        .post-intro
                            h2
                                a(href="#") 7 Best Practices of Highly Effective Teams
                            p
                                a(href="#") Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced
                            a.btn.btn-gray(href="#") Download Infograph
                .col-lg-6
                    .post.post-sm
                        .post-media
                            a(href="#")
                                img(src="images/post-thumb-10.png", alt="name")
                        .post-intro
                            h2
                                a(href="#") 7 Best Practices of Highly Effective Teams
                            p
                                a(href="#") Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced
                            a.btn.btn-gray(href="#") Download Infograph
                .col-lg-12
                    .post.post-xlg
                        .post-media
                            a(href="#")
                                i.fa.fa-play
                                img(src="images/post-thumb-11.png", alt="name")
                        .post-intro
                            h2
                                a(href="#") Grupo Farmasierra Mejora de la Calidad y Reduccion del Tiempo de Fabricacion
                            p
                                a(href="#") Grupo Farmasierra fue fundado en 1996 y es una empresa de fabricación de medicamentos localizada en Madrid (España). Desarrolla su actividad principal en la industria farmacéutica, suplementos alimentarios

            .row
                .col-lg-12
                    nav.navigation.pagination
                        h2.screen-reader-text Posts Navigation
                        .nav-links
                            a.next.page-numbers(href="#") Prev
                            span.page-numbers.current 1
                            a.page-numbers(href="#") 2
                            a.page-numbers(href="#") 3
                            a.page-numbers(href="#") 4
                            a.page-numbers(href="#") 5
                            a.next.page-numbers(href="#") Next

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer