extends extends/layout

block body
    body.page-search

block title
    title Parsec - Search Result

block content

    // header
    include includes/header-3

    // search
    section.search
        .container
            .row
                .col-lg-12
                    .search-result
                        ul.post-breadcrumb
                            li
                                a(href="#") Home
                            li.active
                                a(href="#") Search results

                        h1 21 results found for "ENGINE"

                        ul.search-list
                            li
                                a(href="#") Certification
                            li
                                a(href="#") Training Videos
                            li
                                a(href="#") Summit Customers
                            li
                                a(href="#") Summit Partners
                            li
                                a(href="#") Batch Management
                            li
                                a(href="#") IIoT Devices
                            li
                                a(href="#") Industries
                            li
                                a(href="#") Automotive
                            li
                                a(href="#") Who Uses TrakSYS
                            li
                                a(href="#") Careers
                            li
                                a(href="#") How It Works
                            li
                                a(href="#") Why TrakSYS
                            li
                                a(href="#") Pricing
                            li
                                a(href="#") Key Features
                            li
                                a(href="#") Deployment Options
                            li
                                a(href="#") Support
                            
                        nav.navigation.pagination
                            h2.screen-reader-text Posts Navigation
                            .nav-links
                                a.next.page-numbers(href="#") Prev
                                span.page-numbers.current 1
                                a.page-numbers(href="#") 2
                                a.page-numbers(href="#") 3
                                a.page-numbers(href="#") 4
                                a.page-numbers(href="#") 5
                                a.next.page-numbers(href="#") Next

    // footer
    include includes/footer