extends extends/layout

block body
    body.page-services

block title
    title Parsec - Service

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Software is Only as Good as your Ability to Use it
                            p The best software in the world is of no value if you can’t put it to good use. That’s why we offer a variety of useful services, including Implementation, Mentoring, Training, and (of course) Support. Find out more about each below, or contact us today.
                        .hero-media
                            img(src="images/hero-media-service.png" alt="name")

    // service
    section.service
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Our Services
            .row
                .col-lg-12
                    .page-nav.page-nav-secondary
                        .page-nav-item
                            a(href="implementation.html") Implementation <img src="images/tb-img-01.png" alt="name">
                        .page-nav-item
                            a(href="training.html") Training <img src="images/tb-img-02.png" alt="name">
                        .page-nav-item
                            a(href="mentoring.html") Mentoring <img src="images/tb-img-03.png" alt="name">
                        .page-nav-item
                            a(href="support.html") Support <img src="images/tb-img-04.png" alt="name">
                    

    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Download The TrakSYS Brochure
                        p Get the TrakSYS brochure. All the information you need, in one convenient package.
            .row
                .col-lg-12
                    .promo-secondary
                        .promo-form
                            iframe(src="//go.pardot.com/l/366621/2017-06-15/5mv")

    // footer
    include includes/footer