extends extends/layout

block body
    body.page-single-post

block title
    title Parsec - Single Blog

block content

    // header
    include includes/header-3

    // filter
    include includes/filter

    // post-single
    section.post-single.post-type-image
        .container
            .row
                .col-lg-12
                    ul.post-breadcrumb
                        li
                            a(href="#") Home
                        li
                            a(href="#") Blog
                        li.active
                            a(href="#") Single Blog
            .row
                .col-lg-7.col-md-12
                    .post-content
                        img(src="images/post-thumb-12.png", alt="name")
                        h1 Improving Overall Equipment Effectiveness and Increasing Operational Excellence
                        p The supply chain needs to be carefully managed so production capacity and product inventory are perfectly harmonized. Operational excellence at fermacell is built from a solid management infrastructure, employee engagement programs, and quality operating systems.
                        ul
                            li Substantial labor savings for administrative tasks
                            li Reduced customer complaints
                            li Increased visibility of real-time metrics
                            li Increased labor productivity
                            li Improved order management
                            li Increased product quality
                .col-lg-5.col-md-12
                    .post-form
                        h4 Download the Case Study to Learn More
                        iframe(src="//go.pardot.com/l/366621/2018-05-24/319ty")

                        //- <form method="post" action="#" class="form" id="pardot-form">
                        //-     <p class="form-field emailField email pd-text required required-custom">
                        //-         <label class="field-label" for="email">Business Email (See <a href="http://parsec-corp.com/privacy/" target="_blank">Privacy Policy</a>)</label>
                        //-         <input type="text" name="email" id="email" value="email@gmail.com" class="text">
                        //-         <br>
                        //-         <span class="description">Not sfsdg sdgdsg? <a target="_self" href="/form/incorrectProspect/account_id/366621/campaign_id/109/form_id/2866">Click Here</a></span>
                        //-     </p>
                        //-     <div class="privacy">We're committed to your privacy. Parsec uses the information you provide to us to contact you about our relevant content, products, and services. You may unsubscribe from these communications at any time. For more information, check out our <a href="//parsec-corp.com/privacy/" target="_blank">Privacy Policy</a></div>
                        //-     <p class="submit">
                        //-         <input type="submit" value="Download Now">
                        //-     </p>
                        //- </form>


            .row
                .col-lg-12
                    .tags
                        span Tags
                        ul.tag-list
                            li
                                a(href="#") ERP
                            li
                                a(href="#") HACCP
                            li
                                a(href="#") Quality
                            li
                                a(href="#") Traceability
                        .post-nav
                            a.prev(href="#")
                                i.fa.fa-angle-left
                                | Prev
                            a.next(href="#")
                                | Next
                                i.fa.fa-angle-right

    // post-carousel
    section.post-carousel
        .container
            .row
                .col-lg-12
                    .title-bar-post
                        h2 Other Similar Posts
            .row
                .col-lg-12
                    .owl-carousel.owl-carousel-post.owl-theme
                        .post.post-xs
                            .post-media
                                a(href="#")
                                    img(src="images/post-thumb-03.png", alt="name")
                            .post-intro
                                h2
                                    a(href="#") 7 Best Practices of Highly Effective Teams
                                p
                                    a(href="#") Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy
                                a.btn.btn-gray(href="#") Download Ebook
                        .post.post-xs
                            .post-media
                                a(href="#")
                                    i.fa.fa-play
                                    img(src="images/post-thumb-04.png", alt="name")
                            .post-intro
                                h2
                                    a(href="#") Comprehensive Real-Time Traceability
                                p
                                    a(href="#") Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy
                                a.btn.btn-gray(href="#") Download Infograph
                        .post.post-xs
                            .post-media
                                a(href="#")
                                    img(src="images/post-thumb-05.png", alt="name")
                            .post-intro
                                h2
                                    a(href="#") Improving Quality Management
                                p
                                    a(href="#") Manage manufacturing with operationally focused quality. Identify early issues and root-cause analysis and see why 66% of plants identify quality
                                a.btn.btn-gray(href="#") Download Infograph
                        .post.post-xs
                            .post-media
                                a(href="#")
                                    img(src="images/post-thumb-03.png", alt="name")
                            .post-intro
                                h2
                                    a(href="#") 7 Best Practices of Highly Effective Teams
                                p
                                    a(href="#") Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy
                                a.btn.btn-gray(href="#") Download Ebook
                        .post.post-xs
                            .post-media
                                a(href="#")
                                    i.fa.fa-play
                                    img(src="images/post-thumb-04.png", alt="name")
                            .post-intro
                                h2
                                    a(href="#") Comprehensive Real-Time Traceability
                                p
                                    a(href="#") Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy
                                a.btn.btn-gray(href="#") Download Infograph
                        .post.post-xs
                            .post-media
                                a(href="#")
                                    img(src="images/post-thumb-05.png", alt="name")
                            .post-intro
                                h2
                                    a(href="#") Improving Quality Management
                                p
                                    a(href="#") Manage manufacturing with operationally focused quality. Identify early issues and root-cause analysis and see why 66% of plants identify quality
                                a.btn.btn-gray(href="#") Download Infograph

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer