extends extends/layout

block body
    body.page-smart-devices

block title
    title Parsec - IIoT Devices

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 IIoT as Simple as 1-2-3
                            p TrakSYS enabled Data Collectors. Operations management miniaturized.
                            a.btn.btn-gray(href="#") Let’s Get Started
                        .hero-media
                            img(src="images/hero-media-smart-devices.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Introducing the New TrakSYS™ IIoT Smart Data Collection System
                        p Looking for a way to get started with smart manufacturing but don’t have the infrastructure? Now you can get started without the need for a major IT project or large capital expenditure. Introducing the TrakSYS Smart Data Collection System, specially designed IIoT data collection devices and auto-configuration software that make connecting TrakSYS to your factory equipment as simple as 1-2-3.
            .row
                .col-lg-4.col-md-4
                    .feat-box
                        .icon
                            img(src="images/icon-computer.png", alt="name")
                        h4 Infrastructure-Friendly
                        p No drivers or OPC. No firewall issues (port 80 out).
                .col-lg-4.col-md-4
                    .feat-box
                        .icon
                            img(src="images/icon-weight.png", alt="name")
                        h4 Cost-Effective
                        p High engineering efficiency. Low cost of ownership.
                .col-lg-4.col-md-4
                    .feat-box
                        .icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Optimized for TrakSYS
                        p Direct TrakSYS connection. Fast and light.

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Smart Architecture
                        p The system includes IIoT data collectors and a coordinator, and auto-configuration software, to make it as easy as possible to set up and manage the TrakSYS Manufacturing Operations Management system in virtually any environment, regardless of existing infrastructure.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/data-collector.png", alt="name")
                            .panel-intro
                                h2 Smart Data Collector
                                p Housed in an IP65-rated enclosure, the Smart Data Collector connects to standard third-party sensors to gather production data via a lightweight RF mesh network.
                        .panel-box
                            .panel-media
                                img(src="images/smart-coordinator.png", alt="name")
                            .panel-intro
                                h2 Smart Coordinator
                                p The TrakSYS Smart Coordinator is an edge device that aggregates data from Smart Data Collectors and shares that input with a TrakSYS server — on premises or in the cloud.
                        .panel-box
                            .panel-media
                                img(src="images/configuration-software.png", alt="name")
                            .panel-intro
                                h2 Configuration Software
                                p Configuration is done through a web-based interface that allows you to set up and monitor the coordinator, individual data collectors, and the system’s connection to TrakSYS.

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Wireless Network
                        p Data Collectors are designed to work with one another, all sending data to a Coordinator.  The Coordinator acts as an intermediary between the Data Collectors and the TrakSYS server.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/network-media-01.png", alt="name")

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Mesh Network
                        p As multiple Data Collectors are connected to the Coordinator, a mesh network is created and increases the effective range of the Coordinator.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/network-media-02.png", alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/smart-data-collector.png", alt="name")
                            .panel-intro
                                h2 Use TrakSYS to Gain Insights, Optimize Operations
                                p Gain unparalleled insight into your operation, using real-time production data. Then take what you learn and put it into action, using the built-in management features of TrakSYS.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of TrakSYS
                        p Want to learn more about TrakSYS for Packaged Goods? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Infographic
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 Case Study
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer