extends extends/layout

block body
    body.page-solutions

block title
    title Parsec - View All Solutions

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 One Platform Many Solutions
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-all-solutions.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Take Control Of Your Factory
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges. And we’ve created a set of pre-configured solutions that correspond with the challenges faced by our customers most frequently, such as OEE, E-Records, SPC, and more. So what do you want to do with TrakSYS? Start with one of our pre-configured solutions, or create your own using the powerful built-in configuration tools.
            .row
                .col-lg-4.col-md-6
                    .feat-box
                        span.icon
                            img(src="images/icon-mechanical.png", alt="name")
                        h4 Production
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4.col-md-6
                    .feat-box
                        span.icon
                            img(src="images/icon-monitoring.png", alt="name")
                        h4 Inventory
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4.col-md-6
                    .feat-box
                        span.icon
                            img(src="images/icon-safe.png", alt="name")
                        h4 Quality
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4.col-md-6
                    .feat-box
                        span.icon
                            img(src="images/icon-conveyor.png", alt="name")
                        h4 Performance
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4.col-md-6
                    .feat-box
                        span.icon
                            img(src="images/icon-factory.png", alt="name")
                        h4 Lean
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4.col-md-6
                    .feat-box
                        span.icon
                            img(src="images/icon-industry.png", alt="name")
                        h4 Energy Management
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4.col-md-6
                    .feat-box
                        span.icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 Batch
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4.col-md-6
                    .feat-box
                        span.icon
                            img(src="images/icon-computer.png", alt="name")
                        h4 Traceability
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4.col-md-6
                    .feat-box
                        span.icon
                            img(src="images/icon-engineering.png", alt="name")
                        h4 Compliance
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4.col-md-6
                    .feat-box
                        span.icon
                            img(src="images/icon-mass-production.png", alt="name")
                        h4 Workflow
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Download The TrakSYS Brochure
                        p Get the TrakSYS brochure. All the information you need, in one convenient package.
            .row
                .col-lg-12
                    .promo-secondary
                        .promo-form
                            iframe(src="//go.pardot.com/l/366621/2017-06-15/5mv")

    // footer
    include includes/footer