extends extends/layout

block title
    title Parsec - Styleguide

block content

    // section-intro
    .container
        .row
            .col-lg-12
                h1 Section Intro
        
        <hr>

        .row
            .col-lg-12
                .section-intro.section-intro-solution
                    h2 Optimize Your Manufacturing Operations using real time data
                    p The complex world of manufacturing needs smart and agile solutions to make it work effectively – all the time. At Parsec, we have dedicated ourselves to devising creative and innovative answers for some of the most challenging issues manufacturing has to deal with – now and in the future. These answers are derived from our deep practical experience and are based on TrakSYS, our versatile operations management solution platform.

    // carousel
    .container
        .row
            .col-lg-12
                h1 Carousel
        
        <hr>

        .row
            .col-lg-12
                .owl-carousel.owl-carousel-msg.owl-theme
                    .msg-item
                        img(src="images/bush.png", alt="bush")
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                        h5 Tony Peterson
                            span Operation Manager
                        a.btn.btn-gray(href="#") View Case Study
                    .msg-item
                        img(src="images/bush.png", alt="bush")
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                        h5 Tony Peterson
                            span Operation Manager
                        a.btn.btn-gray(href="#") View Case Study
                    .msg-item
                        img(src="images/bush.png", alt="bush")
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                        h5 Tony Peterson
                            span Operation Manager
                        a.btn.btn-gray(href="#") View Case Study

        <br><hr><br>

        .row
            .col-lg-12
                .owl-carousel.owl-carousel-industry.owl-theme
                    .industry-item
                        .industry-media
                            img(src="images/hero-mock-careers.png", alt="name")
                        .industry-intro
                            h4 Food &amp; Beverage
                            p As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.
                            a.btn.btn-blue(href="#") View All Solution
                    .industry-item
                        .industry-media
                            img(src="images/hero-mock-careers.png", alt="name")
                        .industry-intro
                            h4 Life Sciences
                            p As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.
                            a.btn.btn-blue(href="#") View All Solution
                    .industry-item
                        .industry-media
                            img(src="images/hero-mock-careers.png", alt="name")
                        .industry-intro
                            h4 Packaged Goods
                            p As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.
                            a.btn.btn-blue(href="#") View All Solution

        <br><hr><br>

        .row
            .col-lg-12
                .owl-carousel.owl-carousel-feedback.owl-theme
                    .feedback-item
                        p “The tech support from Parsec is world class! Robert’s response was complete with screen shots and detailed instructions. Best of all, his one email response fixed all three problems. Nice job!”
                        .feedback-meta
                            a.btn.btn-gray(href="#") View Case Study
                            h5 Martin Garrix
                                span Founder & CEO, UINugget
                    .feedback-item
                        p “Once TrakSYS was deployed, we were able to quickly and effectively evaluate the root causes of poor performance. The initial focus of the project was on improving productivity for lines responsible for hormonal products. Within the first 12 months after deploying TrakSYS, we had already improved average OEE by 100 percent.”
                        .feedback-meta
                            a.btn.btn-gray(href="#") View Case Study
                            h5 Francisco Javier
                                span Production Manager
                    .feedback-item
                        p “The tech support from Parsec is world class! Robert’s response was complete with screen shots and detailed instructions. Best of all, his one email response fixed all three problems. Nice job!”
                        .feedback-meta
                            a.btn.btn-gray(href="#") View Case Study
                            h5 Martin Garrix
                                span Founder & CEO, UINugget
                    .feedback-item
                        p “Once TrakSYS was deployed, we were able to quickly and effectively evaluate the root causes of poor performance. The initial focus of the project was on improving productivity for lines responsible for hormonal products. Within the first 12 months after deploying TrakSYS, we had already improved average OEE by 100 percent.”
                        .feedback-meta
                            a.btn.btn-gray(href="#") View Case Study
                            h5 Francisco Javier
                                span Production Manager
        
        <br><hr><br>

        .row
            .col-lg-9.mx-auto
                .owl-carousel.owl-carousel-promo-vid.owl-theme
                    .promo-vid-item
                        img(src="images/promo-vid-bg-01.png", alt="name")
                        a(href="#")
                            i.fa.fa-play
                    .promo-vid-item
                        img(src="images/promo-vid-bg-01.png", alt="name")
                        a(href="#")
                            i.fa.fa-play
                    .promo-vid-item
                        img(src="images/promo-vid-bg-01.png", alt="name")
                        a(href="#")
                            i.fa.fa-play

    // cards
    .container
        .row
            .col-lg-12
                h1 Page Cards
        
        <hr>

        .row
            .col-lg-4
                .card-page
                    img(src="images/card-img-01.png", alt="card")
                    .content
                        h4 Automotive
                        a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .card-page
                    img(src="images/card-img-02.png", alt="card")
                    .content
                        h4 Chemicals
                        a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .card-page
                    img(src="images/card-img-03.png", alt="card")
                    .content
                        h4 Life Sciences
                        a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .card-page
                    img(src="images/card-img-01.png", alt="card")
                    .content
                        h4 Packaged Goods
                        a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .card-page
                    img(src="images/card-img-01.png", alt="card")
                    .content
                        h4 Food & Beverage
                        a.btn.btn-gray(href="#") Learn More
    
    // info-box
    .container
        .row
            .col-lg-12
                h1 Info Box
        
        <hr>

        .row
            .col-lg-4
                .info-box.info-box-tcal
                    span.date 3 Jun - 5 Jun
                    h3 TrakSYS 10 Introduction
                    p 3-day instructor-led, hands-on training course
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .info-box.info-box-tcal
                    span.date 5 Jun - 5 July
                    h3 TrakSYS 10 Advanced
                    p 3-day instructor-led, hands-on training course
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .info-box.info-box-tcal
                    span.date 3 Jun - 7 Jun
                    h3 TrakSYS 10 Comprehensive
                    p 3-day instructor-led, hands-on training course
                    a.btn.btn-gray(href="#") Learn More

        <br><br>

        .row
            .col-lg-6
                .info-box.info-box-hotel
                    img(src="images/map-marker.png", alt="marker")
                    .content
                        h3 Ayres Suites
                        p 22677 Oakcrest Circle<br>Yorba Linda, CA 92887
                        p Phone: 714-921-8688
                        p (Use code PAR for the Parsec Corporate Rate)
                        .button-group
                            a.btn.btn-gray(href="#") Book Ayres Suites
                            a.btn.btn-outline-blue(href="#") Get Direction
            .col-lg-6
                .info-box.info-box-hotel
                    img(src="images/map-marker.png", alt="marker")
                    .content
                        h3 Residence Inn by Marriott
                        p 125 South Festival Drive<br>Anaheim Hills, CA 92808
                        p Phone: 714-974-8880
                        p Fax: 714-974-8832
                        .button-group
                            a.btn.btn-gray(href="#") Book Residence Inn
                            a.btn.btn-outline-blue(href="#") Get Direction

        <br><br>

        .row
            .col-lg-6
                .info-box.info-box-wcal
                    .content
                        span.date June 26, 2019
                        h3 Quality Management Webinar
                        p Discover how effective quality management drives bottom line results
                        a.btn.btn-gray(href="#") Register
                    img(src="images/map-marker.png", alt="marker")
            .col-lg-6
                .info-box.info-box-wcal
                    .content
                        span.date May 29, 2019
                        h3 Maximize Productivity Through More Effective Maintence Management
                        p Significantly optimize the overall effectiveness of your maintenance program.
                        a.btn.btn-gray(href="#") Register
                    img(src="images/map-marker.png", alt="marker")

        <br><br>

        .row
            .col-lg-6
                .info-box.info-box-webinar
                    img(src="images/map-marker.png", alt="marker")
                    .content
                        h3 Energy Management Webinars
                        p Manage Sustainability And Cost With Energy Management
                        .button-group
                            a.btn.btn-bluish(href="#") Webinar Wrap Up
                            a.btn.btn-blue(href="#") Full Webinar
            .col-lg-6
                .info-box.info-box-webinar
                    img(src="images/map-marker.png", alt="marker")
                    .content
                        h3 Streamlie Compliance Webinars
                        p Automate Record-Keeping To Stremline Compliance And Improve Quality
                        .button-group
                            a.btn.btn-bluish(href="#") Webinar Wrap Up
                            a.btn.btn-blue(href="#") Full Webinar
            .col-lg-6
                .info-box.info-box-webinar
                    img(src="images/map-marker.png", alt="marker")
                    .content
                        h3 Discrete Manufacturing Webinars
                        p Digital Transformation For Discrete Manufacturing
                        .button-group
                            a.btn.btn-bluish(href="#") Webinar Wrap Up
                            a.btn.btn-blue(href="#") Full Webinar
            .col-lg-6
                .info-box.info-box-webinar
                    img(src="images/map-marker.png", alt="marker")
                    .content
                        h3 Performance Management Webinars
                        p What’s Limiting Your Supply Chain’s Performance?
                        .button-group
                            a.btn.btn-bluish(href="#") Webinar Wrap Up
                            a.btn.btn-blue(href="#") Full Webinar


    // feat-box
    .container
        .row
            .col-lg-12
                h1 Feat Box

        <hr>
        
        .row
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Production
                    p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Performance
                    p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Batch
                    p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Inventory
                    p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Traceability
                    p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Quality
                    p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Lean
                    p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Compliance
                    p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Maintenance
                    p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Energy Management
                    p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Workflow
                    p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 White Paper
                    p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                    a.btn.btn-gray(href="#") Learn More

        <br><hr><br>
        
        .row
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 White Paper
                    p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                    a.btn.btn-gray(href="#") Download
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Brochure
                    p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                    a.btn.btn-gray(href="#") Download
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 White Paper
                    p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                    a.btn.btn-gray(href="#") Download

        <br><hr><br>

        .row
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 One Integrated Application
                    p TrakSYS is developed as one unified and integrated software application with an impressive array of features and functions to meet your exact needs.
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Affordable Ownership
                    p TrakSYS is developed as one unified and integrated software application with an impressive array of features and functions to meet your exact needs.
                    a.btn.btn-gray(href="#") Learn More
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 One Integrated Application
                    p TrakSYS is developed as one unified and integrated software application with an impressive array of features and functions to meet your exact needs.
                    a.btn.btn-gray(href="#") Learn More

        <br><hr><br>

        .row
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Send Less. Get More.
                    p Be up and running quickly, with out-of-the-box functionality for key solutions: OEE, SPC, batch, and more.
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Leverage Your Other Assets
                    p ERP. SCADA. PLC. IoT. TrakSYS integrates with your other assets and infrastructure.
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Create. Configure. Customize
                    p Tailor TrakSYS for your needs using built-in code-free configuration tools or advanced scripting.

        <br><hr><br>

        .row
            .col-lg-3
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Definitions
            .col-lg-3
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Resources
            .col-lg-3
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Scheduling
            .col-lg-3
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Dispatch
            .col-lg-3
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Execution
            .col-lg-3
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Data Collection
            .col-lg-3
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Tracking
            .col-lg-3
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Analysis

        <br><hr><br>

        .row
            .col-lg-3
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Improve Inventory Accuracy
            .col-lg-3
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Reduce Write-Downs
            .col-lg-3
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Decrease Lead Times
            .col-lg-3
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Monitor Supplier Quality

        <br><hr><br>

        .row
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 One Platform, Many Solution
                    p TrakSYS is a unified platform, with multiple, fully-integrated features to power business solutions.
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Responsive Web Interface
                    p TrakSYS utilizes the latest web platforms: HTML5, jQuery, Bootstrap, Backbone, SignalR, and more.
            .col-lg-4
                .feat-box
                    span.icon
                        img(src="images/feat-icon-01.png", alt="name")
                    h4 Single Sign On
                    p TrakSYS supports hybrid authentication, for users with or without a Windows/domain account.

        <br><hr><br>


    // accordion
    section
        .container
            br
            .row
                .col-lg-12
                    // accordion
                    .accordion.accordion-info
                        .card
                            .card-header
                                h4
                                    a(href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true") Fact Finding & Discovery
                            #collapseOne.collapse.show(data-parent=".accordion")
                                .card-body
                                    p With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.
                                    h6.sp-mt-20.sp-mb-25 The benefits include:
                                    ul.accordion-list
                                        li Email support: support@parsec-corp.com
                                        li Web meeting support (for more interactive engagement)
                                        li Web-based support
                                        li Phone Support US: 1-877-TrakSYS
                                        li Phone Support International: 1-714-996-5302
                                        li Implementation guides and many other self-help documents
                                        li Technical notes
                                        li Hotfixes, Patches, and Service Packs
                                        li Product downloads
                                        li Free product upgrades (new versions/releases during subscription term)
                        .card
                            .card-header
                                h4
                                    a(href="#" data-toggle="collapse" data-target="#collapseTwo") Design & Configurtion
                            #collapseTwo.collapse(data-parent=".accordion")
                                .card-body
                                    p With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.
                        .card
                            .card-header
                                h4
                                    a(href="#" data-toggle="collapse" data-target="#collapseThree") Deployment & Trainging
                            #collapseThree.collapse(data-parent=".accordion")
                                .card-body
                                    p With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.
                        .card
                            .card-header
                                h4
                                    a(href="#" data-toggle="collapse" data-target="#collapseFour") Testing & Verification
                            #collapseFour.collapse(data-parent=".accordion")
                                .card-body
                                    p With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.
            br
            .row
                .col-lg-12
                    .section-intro
                        h2 Harness The Power Of Data-Driven Decision Making
            .row
                .col-lg-12
                    .promo
                        .promo-media
                            img(src="images/promo-dl-02.png", alt="name")
                        .promo-intro
                            p Lack of performance can have a serious effect on your bottom line. Find out how the right software can help you run more effectively and efficiently.
                            form.form-dl(action="#")
                                .form-group
                                    input.form-control(type="text" placeholder="Enter Your Email Address")
                                .form-group
                                    button.btn.btn-blue.btn-block(type="submit") Download Now
                            p We're committed to your privacy. Parsec uses the information you provide to us to contact you about our relevant content, products, and services. You may unsubscribe from these communications at any time. For more information, check out our <a href="#">Privacy Policy.</a>