extends extends/layout

block body
    body.page-terms-of-use

block title
    title Parsec - Terms of Use

block content

    // header
    include includes/header-3

    // docs
    section.docs
        .container
            .row
                .col-lg-12
                    .page-title
                        h1 Terms of Use<span>Last modified May 25, 2018</span>
            .row
                .col-lg-12
                    .panel-doc
                        .doc-box-wrap
                            .doc-box
                                h4 Introduction
                                p Please review the following terms and conditions concerning your use of this Parsec Automation Corp. (“Parsec” or “Company”) web site. By using this site, including downloading materials, you agree to these terms and conditions. Parsec reserves the right to change these terms and conditions from time to time at its sole discretion. These terms and conditions apply to all visits to the Parsec web site, both now and in the future.
                            .doc-box
                                h4 Copyright@
                                p 1998 – 2016 Parsec Automation Corp., 180 North Riverview, No. 300, Anaheim, CA 92808, USA. All rights reserved.
                            .doc-box
                                h4 Use Of Software
                                p Any software that is made available to download from Parsec web site (“Software”) is the copyrighted work of Parsec or its partners/suppliers. Any use of the Software is subject to the terms of the end-user’s license agreement.
                            .doc-box
                                h4 Trademarks
                                p Parsec and all Parsec products or service names, slogans or logos referenced in this web site are trademarks of Parsec Automation Corp. All other company, product or service names referenced in this web site are used for identification purposes only and may be trademarks of their respective owners. No use of any Parsec trademark or third party trademark used herein is permitted without the prior written consent of Parsec or the third party owner of such mark.
                            .doc-box
                                h4 Disclaimer
                                p Although Parsec has attempted to provide accurate information on the web site, information on this web site may contain technical inaccuracies or typographical errors. The contents of any documents on the web site are believed to be current and accurate as of its publication date. Parsec assumes no responsibility for the accuracy of the information. Parsec may change the programs or products mentioned at any time without notice. For the most current and complete documents, please contact Parsec directly at info@parsec-corp.com. Mention of non-Parsec products or services is for information purposes only and constitutes neither an endorsement nor a recommendation.
                                p ALL INFORMATION, SOFTWARE, PRODUCTS, OFFERS AND SERVICES PROVIDED ON THIS WEB SITE ARE PROVIDED “AS IS” WITH ALL FAULTS WITHOUT WARRANTY OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE. PARSEC AND ITS SUPPLIERS DISCLAIM ALL WARRANTIES, EXPRESSED OR IMPLIED INCLUDING, WITHOUT LIMITATION, THOSE OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON INFRINGEMENT OR ARISING FROM A COURSE OF DEALING, USAGE, OR TRADE PRACTICE. Some jurisdictions do not allow the exclusion of implied warranties, so the above exclusion may not apply to you.
                                p PARSEC AND ITS SUPPLIERS SHALL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL, CONSEQUENTIAL, OR INCIDENTAL DAMAGES INCLUDING, WITHOUT LIMITATION, LOST PROFITS OR REVENUES, COSTS OF REPLACEMENT GOODS, LOSS OR DAMAGE TO DATA ARISING OUT OF THE USE OR INABILITY TO USE THIS SITE OR ANY PARSEC PRODUCT, DAMAGES RESULTING FROM USE OR RELIANCE ON THE INFORMATION PRESENT, EVEN IF PARSEC OR ITS SUPPLIERS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
                                p Parsec assumes no responsibility and shall not be liable for any delayed, lost or misdirected communications through its web site.
                            .doc-box
                                h4 Link To Third Party Sites
                                p This web site may contain links to web sites controlled by third parties. Parsec provides these links merely as a convenience. Access to other web sites is at your own risk. Parsec is not responsible for and does not endorse or accept any responsibility over the contents or use of these web sites.
                            .doc-box
                                h4 Access To Password Protected Or Secure Areas
                                p Access to and use of password protected and/or secure areas of the web site is restricted to authorized users only.
                            .doc-box
                                h4 Governing Law And Jurisdiction
                                p The web site is controlled by Parsec from its offices in Brea, California, United States of America. All matters relating to your access to, or use of, this web site shall be governed by U.S. federal law or the laws of the State of California. Any legal action or proceeding relating to your access to, or use of, this web site shall be instituted in a state or federal court in Orange County, California. You and Parsec agree to submit to the jurisdiction of, and agree that venue is proper in, these courts in any such legal action or proceeding.Parsec makes no representations that the information on this site is appropriate for use in other locations. Those who choose to access this web site from other locations do so on their own initiative and are responsible for compliance with any applicable local laws. You may not access, download, use or export the information, software, products or services contained on this web site in violation of U.S. export laws or regulations, or in violation of any applicable local laws or regulations.
                            .doc-box
                                h4 Contacting Parsec
                                p Should you desire to contact Parsec, you may do so at: Parsec, 180 North Riverview, No. 300, Anaheim, CA 92808, USA. Phone:  +1 714-996-5302

    // footer
    include includes/footer