extends extends/layout

block body
    body.page-traceability

block title
    title Parsec - Traceability

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Full Two-Way Traceability
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-traceability.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Protect Consumers, Your Brand and Your Bottom Line
                        p Traceability in production is critical to protecting consumers and your brand. For regulated plants, recording, tracking, and tracing the genealogy of raw materials, Work-in-Process (WIP), and go-to-market products is essential to regulatory compliance. Of course, a traceability solution can do more than help you comply with regulations; when traceability data is providing real-time transparency, it can help you proactively limit the impact of any quality problem before product is shipped.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-safety.png", alt="name")
                        h4 Protect Customer Safety and Brand Reputation
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-review.png", alt="name")
                        h4 Comply With Regulatory Requirements
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-objective.png", alt="name")
                        h4 Improve Inventory Accuracy
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-time.png", alt="name")
                        h4 Minimize Recall Time and Costs

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 A Full Two-Way Traceability Solution
                        p The TrakSYS Traceability solution captures a digital record of material and activities through the production lifecycle. TrakSYS can also integrate with ERP and LIMS to provide an expanded traceability chain from raw material sources through quality control and finished product release to customers. With TrakSYS tracing goods, backward along the supply chain or forward along the distribution chain, is accomplished in seconds instead of days with paper-based systems.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/production-lot-history.png", alt="name")
                            .panel-intro
                                h2 Production Lot History
                                p Track material lots, sublots, and consumption through each production step. Manage the assignment of new lot numbers and individual product serialization for more granular lot traceability, making it easier to isolate quality, warranty or safety issues.
                        .panel-box
                            .panel-media
                                img(src="images/genealogy.png", alt="name")
                            .panel-intro
                                h2 Genealogy
                                p Track product components through the production lifecycle including the raw materials, intermediate materials, and finished product stages to expedite investigation of customer complaints, supplier recalls, and other related quality conditions.
                        .panel-box
                            .panel-media
                                img(src="images/real-time-inventory-management.png", alt="name")
                            .panel-intro
                                h2 Real-Time Inventory Management
                                p Gain full visibility of material locations, statuses, and interruptions in material flow. Leverage machinery automation to track consumption and maintain inventory accuracy. Track and automate material replenishment to minimize production and delivery delays.
                        .panel-box
                            .panel-media
                                img(src="images/barcode-and-rfid-integration.png", alt="name")
                            .panel-intro
                                h2 Barcode And Rfid Integration
                                p Leverage hardware like 1D and 2D barcodes, Direct Part Marking, and RFID technology to reduce human error and improve productivity.
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of Two-Way Traceability
                        p Want to learn more about TrakSYS for Traceability? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p Learn what tracking a product’s life-cycle throughout production can add to your manufacturing operations.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-01.png", alt="name")
                        h4 Case Study
                        p Dana ENCO wanted to ensure the quality of each manufactured part with complete traceability through accurate data collection and analysis at each and every step of production.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer