extends extends/layout

block body
    body.page-training

block title
    title Parsec - Training

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Elevate. Enhance. Extend.
                        .hero-media
                            img(src="images/hero-media-training.png" alt="name")

    // training
    section.training
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Elevate Your Team’s Capabilities
                        p Invest in your employees through our training and allow your best ideas to emerge. Remove dependencies on external vendors for integration help and expertise. Give the people who know your process best the knowledge to apply TrakSYS to your unique situation.
                        h3 2018-2019 Training Calender
            .row
                .col-lg-4.col-md-6
                    .info-box.info-box-tcal
                        span.date 3 Jun - 5 Jun
                        h3 TrakSYS 10 Introduction
                        p 3-day instructor-led, hands-on training course
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6
                    .info-box.info-box-tcal
                        span.date 5 Jun - 5 July
                        h3 TrakSYS 10 Advanced
                        p 3-day instructor-led, hands-on training course
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6
                    .info-box.info-box-tcal
                        span.date 3 Jun - 7 Jun
                        h3 TrakSYS 10 Comprehensive
                        p 3-day instructor-led, hands-on training course
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6
                    .info-box.info-box-tcal
                        span.date 3 Jun - 5 Jun
                        h3 TrakSYS 10 Introduction
                        p 3-day instructor-led, hands-on training course
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6
                    .info-box.info-box-tcal
                        span.date 5 Jun - 5 July
                        h3 TrakSYS 10 Advanced
                        p 3-day instructor-led, hands-on training course
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6
                    .info-box.info-box-tcal
                        span.date 3 Jun - 7 Jun
                        h3 TrakSYS 10 Comprehensive
                        p 3-day instructor-led, hands-on training course
                        a.btn.btn-gray(href="#") Learn More
            .row
                .col-lg-12
                    .cta-sec
                        a.btn.btn-blue(href="#") Load More

    // hotels
    section.hotels
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Nearby Hotels
                        p The following hotels are within three (3) miles of Parsec Automation Corp. Reservations can be made directly with your hotel of choice.
            .row
                .col-lg-6.col-md-6
                    .info-box.info-box-hotel
                        h3 Ayres Suites
                        p 22677 Oakcrest Circle<br>Yorba Linda, CA 92887
                        p Phone: 714-921-8688
                        p (Use code PAR for the Parsec Corporate Rate)
                        .button-group
                            a.btn.btn-gray(href="#") Book Ayres Suites
                .col-lg-6.col-md-6
                    .info-box.info-box-hotel
                        h3 Residence Inn by Marriott
                        p 125 South Festival Drive<br>Anaheim Hills, CA 92808
                        p Phone: 714-974-8880
                        p Fax: 714-974-8832
                        .button-group
                            a.btn.btn-gray(href="#") Book Residence Inn
                .col-lg-6.col-md-6
                    .info-box.info-box-hotel
                        h3 Ayres Suites
                        p 22677 Oakcrest Circle<br>Yorba Linda, CA 92887
                        p Phone: 714-921-8688
                        p (Use code PAR for the Parsec Corporate Rate)
                        .button-group
                            a.btn.btn-gray(href="#") Book Ayres Suites
                .col-lg-6.col-md-6
                    .info-box.info-box-hotel
                        h3 Residence Inn by Marriott
                        p 125 South Festival Drive<br>Anaheim Hills, CA 92808
                        p Phone: 714-974-8880
                        p Fax: 714-974-8832
                        .button-group
                            a.btn.btn-gray(href="#") Book Residence Inn

    // g-map
    section.g-map
        .map#map-single(data-lat="33.869529", data-lng="-117.742772", data-title="Parsec Automation Corporation" data-addr="180 North Riverview Drive # 300, Anaheim, CA 92808")

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer

//- google map script
prepend scripts
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd1_9wafTrKjPVPCH6t6MlhXrBJnDeFyQ")