extends extends/layout

block body
    body.page-webinars

block title
    title Parsec - Webinar

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 <span>Come Learn More About</span> Manufacturing Strategies And Our Software <span>At One Of Our Webinars</span>
                            a.btn-smooth-scroll.btn.btn-gray(href="#calendar") View Calender
                        .hero-media
                            img(src="images/hero-media-webinar.png" alt="name")

    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Making an investment in manufacturing operations management software is a big decision.
                        p Looking for more information before you make a decision? Check out our webinars, where manufacturing experts talk about what questions to ask, what to look out for, and how best to deploy technology to optimize results for your operation. Topics include management methods such as Continuous Improvement and Lean, to specific manufacturing challenges and solutions, such as quality, SPC, maintenance, e-records, and more.

    // webinar-next
    section#calendar.webinar-next
        .container
            .row
                .col-lg-12
                    .section-intro 
                        h2 Upcoming Webinar Calender
            .row
                .col-lg-6
                    .info-box.info-box-wcal
                        .content
                            span.date June 26, 2019
                            h3 Quality Management Webinar
                            p Discover how effective quality management drives bottom line results
                            a.btn.btn-gray(href="#") Register
                        .icon
                            img(src="images/icon-product-02.png", alt="name")
                .col-lg-6
                    .info-box.info-box-wcal
                        .content
                            span.date May 29, 2019
                            h3 Maximize Productivity Through More Effective Maintence Management
                            p Significantly optimize the overall effectiveness of your maintenance program.
                            a.btn.btn-gray(href="#") Register
                        .icon
                            img(src="images/icon-product-02.png", alt="name")
                .col-lg-6
                    .info-box.info-box-wcal
                        .content
                            span.date June 26, 2019
                            h3 Quality Management Webinar
                            p Discover how effective quality management drives bottom line results
                            a.btn.btn-gray(href="#") Register
                        .icon
                            img(src="images/icon-product-02.png", alt="name")
                .col-lg-6
                    .info-box.info-box-wcal
                        .content
                            span.date May 29, 2019
                            h3 Maximize Productivity Through More Effective Maintence Management
                            p Significantly optimize the overall effectiveness of your maintenance program.
                            a.btn.btn-gray(href="#") Register
                        .icon
                            img(src="images/icon-product-02.png", alt="name")

    // webinar-past
    section.webinar-past
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Explore Past Webinars
            .row
                .col-lg-6
                    .info-box.info-box-webinar
                        img(src="images/icon-product-02.png", alt="name")
                        .content
                            h3 Energy Management Webinars
                            p Manage Sustainability And Cost With Energy Management
                            .button-group
                                a.btn.btn-bluish(href="#") Webinar Wrap Up
                                a.btn.btn-blue(href="#") Full Webinar
                .col-lg-6
                    .info-box.info-box-webinar
                        img(src="images/icon-product-02.png", alt="name")
                        .content
                            h3 Streamlie Compliance Webinars
                            p Automate Record-Keeping To Stremline Compliance And Improve Quality
                            .button-group
                                a.btn.btn-bluish(href="#") Webinar Wrap Up
                                a.btn.btn-blue(href="#") Full Webinar
                .col-lg-6
                    .info-box.info-box-webinar
                        img(src="images/icon-product-02.png", alt="name")
                        .content
                            h3 Discrete Manufacturing Webinars
                            p Digital Transformation For Discrete Manufacturing
                            .button-group
                                a.btn.btn-bluish(href="#") Webinar Wrap Up
                                a.btn.btn-blue(href="#") Full Webinar
                .col-lg-6
                    .info-box.info-box-webinar
                        img(src="images/icon-product-02.png", alt="name")
                        .content
                            h3 Performance Management Webinars
                            p What’s Limiting Your Supply Chain’s Performance?
                            .button-group
                                a.btn.btn-bluish(href="#") Webinar Wrap Up
                                a.btn.btn-blue(href="#") Full Webinar

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer