extends extends/layout

block body
    body.page-workflow-management

block title
    title Parsec - Workflow Management

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Real-Time Workflow Management
                        .hero-media
                            img(src="images/hero-media-workflow-management.png" alt="name")

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Real-time Workflow Management Increases Efficlency And Quality
                        p Manufacturers face significant challenges in managing workflows in their operations. Effective planning requires real-time feedback. You can link your Enterprise Resource Planning (ERP) to existing production systems on the plant floor, to help identify your constraints and capabilities in real-time. But an ERP system wasn’t designed to handle this task. Without a workflow management solution in place many organizations have challenges with communication, personnel management, bottlenecks, waste and rework, and (ultimately) customer satisfaction.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/wfm-media.png", alt="name")

    // section-info-o
    section.section-info-o
        .container
            .row
                .col-lg-12
                    p By defining workflows and tasks, TrakSYS executes assignments and provides visibility into your process improvement opportunities. Its real-time workflow management and task capabilities drive product quality and business profitability, dramatically impacting productivity. Use TrakSYS to:
                    ul.wfm-list
                        li Reduce wait time
                        li Communicate tasks
                        li Automate information
                        li Lower your production costs
                        li Decrease waste and rework
                        li Improve customer satisfaction

    // carousel-msg
    section.messages
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Is TrakSYS Right For You? Don’t Just Take Our Work For it
            .row
                .col-lg-12
                    .owl-carousel.owl-carousel-msg.owl-theme
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer