doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        
        block title
            title Parsec - Home
        
        // favicon
        link(rel="icon" type="image/x-icon" href="/favicon.ico")

        // styles
        block styles
            link(href="styles/main.min.css" rel="stylesheet")
            
    block body
    body
        //- content
        block content
            h1 Make it As Simple As Possible

        // scripts
        block scripts
            script(src="scripts/main.min.js")